docs/UCS - Agendador.json
{
  "name": "UCS - Agendador",
  "nodes": [
    {
      "parameters": {
        "extractionValues": {
          "values": [
            {
              "key": "preco",
              "cssSelector": "span[data-test='instrument-price-last'], .text-2xl, .instrument-price_instrument-price__*, [data-test*='price'], #last_last"
            },
            {
              "key": "fechamento_anterior",
              "cssSelector": "[data-test='instrument-prev-close'], .prev-close, [class*='prev'], [class*='previous'], [class*='close'], td:contains('Fechamento Anterior') + td, .instrument-metadata_instrument-metadata__kv__value, [data-test='prev-close'], .prev-close-value"
            },
            {
              "key": "abertura",
              "cssSelector": "[data-test='instrument-open'], .open, [class*='open'], td:contains('Abertura') + td, .instrument-metadata_instrument-metadata__kv__value, [data-test='open'], .open-value"
            }
          ]
        },
        "options": {}
      },
      "id": "66eea167-ba23-426f-8cf5-f86af818879b",
      "name": "🔍 Extrair Preço",
      "type": "n8n-nodes-base.htmlExtract",
      "typeVersion": 1,
      "position": [
        -2384,
        -4544
      ]
    },
    {
      "parameters": {
        "jsCode": "// Verifica se veio dados do nó anterior\nif ($input.first() === undefined) {\n  return [{ json: { \n    erro: 'Nenhum dado recebido do nó anterior.', \n    timestamp: new Date().toISOString() \n  } }];\n}\n\n// Pega os dados extraídos do HTML\nlet precoExtraido = $input.first().json.preco;\nlet fechamentoAnterior = $input.first().json.fechamento_anterior;\nlet abertura = $input.first().json.abertura;\n\n// Verifica se o preço foi encontrado\nif (precoExtraido === undefined || precoExtraido === null || precoExtraido === '') {\n  return [{ json: { \n    ativo: 'Milho (Investing.com)',\n    erro: 'Preço não encontrado com nenhum seletor CSS. Estrutura do site pode ter mudado.',\n    timestamp: new Date().toISOString(),\n    status: 'erro'\n  } }];\n}\n\n// Função para processar valores numéricos\nfunction processarValor(valor) {\n  if (!valor || valor === '') return null;\n  \n  try {\n    let valorLimpo = valor\n      .replace(/\\s/g, '')\n      .replace(/[R$]/g, '')\n      .replace(/\\./g, '')\n      .replace(/,/g, '.');\n    \n    let valorNumerico = parseFloat(valorLimpo);\n    return isNaN(valorNumerico) ? null : valorNumerico;\n  } catch (error) {\n    return null;\n  }\n}\n\n// Tenta converter o preço\ntry {\n  let precoNumerico = processarValor(precoExtraido);\n  \n  if (precoNumerico === null) {\n    throw new Error('Conversão para número falhou: ' + precoExtraido);\n  }\n  \n  // Processa fechamento anterior\n  let fechamentoAnteriorNumerico = processarValor(fechamentoAnterior);\n  \n  // Processa abertura\n  let aberturaNumerico = processarValor(abertura);\n  \n  return [{ json: {\n    ativo: 'Milho (Investing.com)',\n    preco: precoNumerico,\n    preco_original: precoExtraido,\n    fechamento_anterior: fechamentoAnteriorNumerico,\n    fechamento_anterior_original: fechamentoAnterior,\n    abertura: aberturaNumerico,\n    abertura_original: abertura,\n    moeda: 'BRL',\n    fonte: 'Investing.com',\n    timestamp: new Date().toISOString(),\n    status: 'sucesso'\n  } }];\n} catch (error) {\n  return [{ json: {\n    ativo: 'Milho (Investing.com)',\n    erro: 'Erro na conversão: ' + error.message,\n    preco_original: precoExtraido,\n    fechamento_anterior_original: fechamentoAnterior,\n    abertura_original: abertura,\n    timestamp: new Date().toISOString(),\n    status: 'erro'\n  } }];\n}"
      },
      "id": "effbb53a-eef9-4c5f-be38-ad98fc75cdc2",
      "name": "⚙️ Processar Dados",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2208,
        -4544
      ]
    },
    {
      "parameters": {
        "jsCode": "try {\n  const jsonResponse = $input.first().json;\n  const originalData = $('⚙️ Processar Dados').first().json;\n\n  if (jsonResponse.status === 'erro') {\n    return [{\n      json: {\n        status: 'erro_json',\n        erro: jsonResponse.erro,\n        dados_originais: originalData,\n        timestamp: new Date().toISOString()\n      }\n    }];\n  }\n\n  return [{\n    json: {\n      status: 'sucesso',\n      mensagem: 'Dados salvos no JSON com sucesso',\n      dados_salvos: originalData,\n      arquivo: jsonResponse.arquivo,\n      timestamp: new Date().toISOString()\n    }\n  }];\n\n} catch (error) {\n  return [{\n    json: {\n      status: 'erro_final',\n      erro: 'Erro na resposta final: ' + error.message,\n      timestamp: new Date().toISOString()\n    }\n  }];\n}"
      },
      "id": "657b489d-c9ab-4ed8-bf5f-811368dd31d1",
      "name": "📋 Resposta Final",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1696,
        -4544
      ]
    },
    {
      "parameters": {
        "jsCode": "try {\n  // Coletar apenas os dados do milho\n  const milho = $('💾 Salvar no JSON').first()?.json || null;\n\n  // Estruturar JSON final apenas com milho\n  const cotacoesConsolidadas = {\n    metadata: {\n      timestamp: new Date().toISOString(),\n      data_coleta: new Date().toLocaleDateString('pt-BR'),\n      total_ativos: milho ? 1 : 0,\n      fonte: 'Investing.com'\n    },\n    commodities: {\n      agricolas: {\n        milho: milho?.dados_formatados?.dados || null\n      }\n    },\n    status: {\n      milho: milho?.status || 'erro'\n    }\n  };\n\n  return [{ json: cotacoesConsolidadas }];\n\n} catch (error) {\n  return [{\n    json: {\n      erro: 'Erro ao consolidar cotações: ' + error.message,\n      timestamp: new Date().toISOString(),\n      status: 'erro_consolidacao'\n    }\n  }];\n}"
      },
      "id": "f9388d0f-f90e-4c5d-9124-8107c53cb756",
      "name": "📊 Consolidador de Cotações",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1520,
        -4544
      ]
    },
    {
      "parameters": {
        "jsCode": "// Retornar o JSON consolidado final\nconst dadosConsolidados = $input.first().json;\n\nreturn [{\n  json: {\n    mensagem: 'Cotações consolidadas com sucesso!',\n    dados: dadosConsolidados,\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "id": "0aa8a735-99b4-4488-a4a5-9f0b76fea32a",
      "name": "📋 Resposta Final Consolidada",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1328,
        -4544
      ]
    },
    {
      "parameters": {
        "jsCode": "try {\n  // Receber dados do salvamento\n  const dadosSalvos = $input.first().json;\n  \n  return [{\n    json: {\n      status: 'sistema_completo',\n      mensagem: 'Sistema de consolidação executado com sucesso!',\n      resultado: dadosSalvos,\n      total_cotacoes: 7,\n      timestamp_final: new Date().toISOString(),\n      resumo: {\n        commodities_agricolas: 3,\n        commodities_materiais: 2,\n        moedas: 2,\n        status_geral: dadosSalvos.status\n      }\n    }\n  }];\n  \n} catch (error) {\n  return [{ json: {\n    status: 'erro_sistema',\n    erro: 'Erro no sistema final: ' + error.message,\n    timestamp: new Date().toISOString()\n  } }];\n}"
      },
      "id": "b6402a56-25a6-43db-9ec2-16fcc47f4365",
      "name": "📋 Resposta Final do Sistema",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1152,
        -4544
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 3
            }
          ]
        }
      },
      "id": "40611d4b-07f4-4d60-b5c4-31309cd20c7e",
      "name": "🕐 Agendador (AM)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        -1760,
        -2624
      ]
    },
    {
      "parameters": {
        "url": "http://127.0.0.1:8000/render?url=https%3A%2F%2Fbr.investing.com%2Fcommodities%2Fus-corn%3Fcid%3D964522",
        "responseFormat": "string",
        "options": {}
      },
      "id": "99ccb897-a481-4578-8ef9-9dece9d16aab",
      "name": "🌐 Buscar Milho",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        -2576,
        -4544
      ]
    },
    {
      "parameters": {
        "extractionValues": {
          "values": [
            {
              "key": "preco",
              "cssSelector": "span[data-test='instrument-price-last'], .text-2xl, .instrument-price_instrument-price__*, [data-test*='price'], #last_last"
            },
            {
              "key": "fechamento_anterior",
              "cssSelector": "[data-test='instrument-prev-close'], .prev-close, [class*='prev'], [class*='previous'], [class*='close'], td:contains('Fechamento Anterior') + td, .instrument-metadata_instrument-metadata__kv__value, [data-test='prev-close'], .prev-close-value"
            },
            {
              "key": "abertura",
              "cssSelector": "[data-test='instrument-open'], .open, [class*='open'], td:contains('Abertura') + td, .instrument-metadata_instrument-metadata__kv__value, [data-test='open'], .open-value"
            }
          ]
        },
        "options": {}
      },
      "id": "e6b3e499-75e5-4229-895f-45b23a687419",
      "name": "🔍 Extrair Preço1",
      "type": "n8n-nodes-base.htmlExtract",
      "typeVersion": 1,
      "position": [
        -2384,
        -5488
      ]
    },
    {
      "parameters": {
        "jsCode": "// Verifica se veio dados do nó anterior\nif ($input.first() === undefined) {\n  return [{ json: { \n    erro: 'Nenhum dado recebido do nó anterior.', \n    timestamp: new Date().toISOString() \n  } }];\n}\n\n// Pega os dados extraídos do HTML\nlet precoExtraido = $input.first().json.preco;\nlet fechamentoAnterior = $input.first().json.fechamento_anterior;\nlet abertura = $input.first().json.abertura;\n\n// Verifica se o preço foi encontrado\nif (precoExtraido === undefined || precoExtraido === null || precoExtraido === '') {\n  return [{ json: { \n    ativo: 'Soja (Investing.com)',\n    erro: 'Preço não encontrado com nenhum seletor CSS. Estrutura do site pode ter mudado.',\n    timestamp: new Date().toISOString(),\n    status: 'erro'\n  } }];\n}\n\n// Função para processar valores numéricos\nfunction processarValor(valor) {\n  if (!valor || valor === '') return null;\n  \n  try {\n    let valorLimpo = valor\n      .replace(/\\s/g, '')\n      .replace(/[R$]/g, '')\n      .replace(/\\./g, '')\n      .replace(/,/g, '.');\n    \n    let valorNumerico = parseFloat(valorLimpo);\n    return isNaN(valorNumerico) ? null : valorNumerico;\n  } catch (error) {\n    return null;\n  }\n}\n\n// Tenta converter o preço\ntry {\n  let precoNumerico = processarValor(precoExtraido);\n  \n  if (precoNumerico === null) {\n    throw new Error('Conversão para número falhou: ' + precoExtraido);\n  }\n  \n  // Processa fechamento anterior\n  let fechamentoAnteriorNumerico = processarValor(fechamentoAnterior);\n  \n  // Processa abertura\n  let aberturaNumerico = processarValor(abertura);\n  \n  return [{ json: {\n    ativo: 'Soja (Investing.com)',\n    preco: precoNumerico,\n    preco_original: precoExtraido,\n    fechamento_anterior: fechamentoAnteriorNumerico,\n    fechamento_anterior_original: fechamentoAnterior,\n    abertura: aberturaNumerico,\n    abertura_original: abertura,\n    moeda: 'USD',\n    fonte: 'Investing.com',\n    timestamp: new Date().toISOString(),\n    status: 'sucesso'\n  } }];\n} catch (error) {\n  return [{ json: {\n    ativo: 'Soja (Investing.com)',\n    erro: 'Erro na conversão: ' + error.message,\n    preco_original: precoExtraido,\n    fechamento_anterior_original: fechamentoAnterior,\n    abertura_original: abertura,\n    timestamp: new Date().toISOString(),\n    status: 'erro'\n  } }];\n}"
      },
      "id": "6536b64a-55c7-4b2c-83b5-68d3a37758f9",
      "name": "⚙️ Processar Dados1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2208,
        -5488
      ]
    },
    {
      "parameters": {
        "jsCode": "try {\n  const jsonResponse = $input.first().json;\n  const originalData = $('⚙️ Processar Dados1').first().json;\n\n  if (jsonResponse.status === 'erro') {\n    return [{\n      json: {\n        status: 'erro_json',\n        erro: jsonResponse.erro,\n        dados_originais: originalData,\n        timestamp: new Date().toISOString()\n      }\n    }];\n  }\n\n  return [{\n    json: {\n      status: 'sucesso',\n      mensagem: 'Dados salvos no JSON com sucesso',\n      dados_salvos: originalData,\n      arquivo: jsonResponse.arquivo,\n      timestamp: new Date().toISOString()\n    }\n  }];\n\n} catch (error) {\n  return [{\n    json: {\n      status: 'erro_final',\n      erro: 'Erro na resposta final: ' + error.message,\n      timestamp: new Date().toISOString()\n    }\n  }];\n}"
      },
      "id": "9e65b576-2033-4f8d-b40c-f0ad46df3121",
      "name": "📋 Resposta Final1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1680,
        -5488
      ]
    },
    {
      "parameters": {
        "jsCode": "try {\n  // Coletar apenas os dados do milho\n  const milho = $('💾 Salvar no JSON1').first()?.json || null;\n\n  // Estruturar JSON final apenas com milho\n  const cotacoesConsolidadas = {\n    metadata: {\n      timestamp: new Date().toISOString(),\n      data_coleta: new Date().toLocaleDateString('pt-BR'),\n      total_ativos: milho ? 1 : 0,\n      fonte: 'Investing.com'\n    },\n    commodities: {\n      agricolas: {\n        milho: milho?.dados_formatados?.dados || null\n      }\n    },\n    status: {\n      milho: milho?.status || 'erro'\n    }\n  };\n\n  return [{ json: cotacoesConsolidadas }];\n\n} catch (error) {\n  return [{\n    json: {\n      erro: 'Erro ao consolidar cotações: ' + error.message,\n      timestamp: new Date().toISOString(),\n      status: 'erro_consolidacao'\n    }\n  }];\n}"
      },
      "id": "a93c6092-3624-4429-909b-fd1f9a3b864f",
      "name": "📊 Consolidador de Cotações1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1504,
        -5488
      ]
    },
    {
      "parameters": {
        "jsCode": "// Retornar o JSON consolidado final\nconst dadosConsolidados = $input.first().json;\n\nreturn [{\n  json: {\n    mensagem: 'Cotações consolidadas com sucesso!',\n    dados: dadosConsolidados,\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "id": "19620a65-27cf-40fa-a9ed-e3139c670d39",
      "name": "📋 Resposta Final Consolidada1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1312,
        -5488
      ]
    },
    {
      "parameters": {
        "jsCode": "try {\n  // Receber dados do salvamento\n  const dadosSalvos = $input.first().json;\n  \n  return [{\n    json: {\n      status: 'sistema_completo',\n      mensagem: 'Sistema de consolidação executado com sucesso!',\n      resultado: dadosSalvos,\n      total_cotacoes: 7,\n      timestamp_final: new Date().toISOString(),\n      resumo: {\n        commodities_agricolas: 3,\n        commodities_materiais: 2,\n        moedas: 2,\n        status_geral: dadosSalvos.status\n      }\n    }\n  }];\n  \n} catch (error) {\n  return [{ json: {\n    status: 'erro_sistema',\n    erro: 'Erro no sistema final: ' + error.message,\n    timestamp: new Date().toISOString()\n  } }];\n}"
      },
      "id": "87d3e820-0c40-4fe5-a481-bfae1e5accd2",
      "name": "📋 Resposta Final do Sistema1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1136,
        -5488
      ]
    },
    {
      "parameters": {
        "url": "http://127.0.0.1:8000/render?url=https%3A%2F%2Fbr.investing.com%2Fcommodities%2Fus-soybeans%3Fcid%3D964523",
        "responseFormat": "string",
        "options": {}
      },
      "id": "339ae2ef-4831-45f1-a98f-4c82bea3410f",
      "name": "🌐 Buscar Soja",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        -2576,
        -5488
      ]
    },
    {
      "parameters": {
        "extractionValues": {
          "values": [
            {
              "key": "preco",
              "cssSelector": "span[data-test='instrument-price-last'], .text-2xl, .instrument-price_instrument-price__*, [data-test*='price'], #last_last"
            },
            {
              "key": "fechamento_anterior",
              "cssSelector": "[data-test='instrument-prev-close'], .prev-close, [class*='prev'], [class*='previous'], [class*='close'], td:contains('Fechamento Anterior') + td, .instrument-metadata_instrument-metadata__kv__value, [data-test='prev-close'], .prev-close-value"
            },
            {
              "key": "abertura",
              "cssSelector": "[data-test='instrument-open'], .open, [class*='open'], td:contains('Abertura') + td, .instrument-metadata_instrument-metadata__kv__value, [data-test='open'], .open-value"
            }
          ]
        },
        "options": {}
      },
      "id": "db0dbf2f-a103-4b85-b363-8ad5d3572a2b",
      "name": "🔍 Extrair Preço2",
      "type": "n8n-nodes-base.htmlExtract",
      "typeVersion": 1,
      "position": [
        -2384,
        -4768
      ]
    },
    {
      "parameters": {
        "jsCode": "// Verifica se veio dados do nó anterior\nif ($input.first() === undefined) {\n  return [{ json: { \n    erro: 'Nenhum dado recebido do nó anterior.', \n    timestamp: new Date().toISOString() \n  } }];\n}\n\n// Pega os dados extraídos do HTML\nlet precoExtraido = $input.first().json.preco;\nlet fechamentoAnterior = $input.first().json.fechamento_anterior;\nlet abertura = $input.first().json.abertura;\n\n// Verifica se o preço foi encontrado\nif (precoExtraido === undefined || precoExtraido === null || precoExtraido === '') {\n  return [{ json: { \n    ativo: 'Boi Gordo (Investing.com)',\n    erro: 'Preço não encontrado com nenhum seletor CSS. Estrutura do site pode ter mudado.',\n    timestamp: new Date().toISOString(),\n    status: 'erro'\n  } }];\n}\n\n// Função para processar valores numéricos\nfunction processarValor(valor) {\n  if (!valor || valor === '') return null;\n  \n  try {\n    let valorLimpo = valor\n      .replace(/\\s/g, '')\n      .replace(/[R$]/g, '')\n      .replace(/\\./g, '')\n      .replace(/,/g, '.');\n    \n    let valorNumerico = parseFloat(valorLimpo);\n    return isNaN(valorNumerico) ? null : valorNumerico;\n  } catch (error) {\n    return null;\n  }\n}\n\n// Tenta converter o preço\ntry {\n  let precoNumerico = processarValor(precoExtraido);\n  \n  if (precoNumerico === null) {\n    throw new Error('Conversão para número falhou: ' + precoExtraido);\n  }\n  \n  // Processa fechamento anterior\n  let fechamentoAnteriorNumerico = processarValor(fechamentoAnterior);\n  \n  // Processa abertura\n  let aberturaNumerico = processarValor(abertura);\n  \n  return [{ json: {\n    ativo: 'Boi Gordo (Investing.com)',\n    preco: precoNumerico,\n    preco_original: precoExtraido,\n    fechamento_anterior: fechamentoAnteriorNumerico,\n    fechamento_anterior_original: fechamentoAnterior,\n    abertura: aberturaNumerico,\n    abertura_original: abertura,\n    moeda: 'BRL',\n    fonte: 'Investing.com',\n    timestamp: new Date().toISOString(),\n    status: 'sucesso'\n  } }];\n} catch (error) {\n  return [{ json: {\n    ativo: 'Boi Gordo (Investing.com)',\n    erro: 'Erro na conversão: ' + error.message,\n    preco_original: precoExtraido,\n    fechamento_anterior_original: fechamentoAnterior,\n    abertura_original: abertura,\n    timestamp: new Date().toISOString(),\n    status: 'erro'\n  } }];\n}"
      },
      "id": "e940ceca-54b5-4c39-8af2-1f1345d9e356",
      "name": "⚙️ Processar Dados2",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2208,
        -4768
      ]
    },
    {
      "parameters": {
        "jsCode": "try {\n  const jsonResponse = $input.first().json;\n  const originalData = $('⚙️ Processar Dados2').first().json;\n\n  if (jsonResponse.status === 'erro') {\n    return [{\n      json: {\n        status: 'erro_json',\n        erro: jsonResponse.erro,\n        dados_originais: originalData,\n        timestamp: new Date().toISOString()\n      }\n    }];\n  }\n\n  return [{\n    json: {\n      status: 'sucesso',\n      mensagem: 'Dados salvos no JSON com sucesso',\n      dados_salvos: originalData,\n      arquivo: jsonResponse.arquivo,\n      timestamp: new Date().toISOString()\n    }\n  }];\n\n} catch (error) {\n  return [{\n    json: {\n      status: 'erro_final',\n      erro: 'Erro na resposta final: ' + error.message,\n      timestamp: new Date().toISOString()\n    }\n  }];\n}"
      },
      "id": "3203150a-c333-48c5-8a37-3bd77c6b7d10",
      "name": "📋 Resposta Final2",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1696,
        -4768
      ]
    },
    {
      "parameters": {
        "jsCode": "try {\n  // Coletar apenas os dados do milho\n  const milho = $('💾 Salvar no JSON2').first()?.json || null;\n\n  // Estruturar JSON final apenas com milho\n  const cotacoesConsolidadas = {\n    metadata: {\n      timestamp: new Date().toISOString(),\n      data_coleta: new Date().toLocaleDateString('pt-BR'),\n      total_ativos: milho ? 1 : 0,\n      fonte: 'Investing.com'\n    },\n    commodities: {\n      agricolas: {\n        milho: milho?.dados_formatados?.dados || null\n      }\n    },\n    status: {\n      milho: milho?.status || 'erro'\n    }\n  };\n\n  return [{ json: cotacoesConsolidadas }];\n\n} catch (error) {\n  return [{\n    json: {\n      erro: 'Erro ao consolidar cotações: ' + error.message,\n      timestamp: new Date().toISOString(),\n      status: 'erro_consolidacao'\n    }\n  }];\n}"
      },
      "id": "e67f03dd-c0e7-4f00-b82a-430fb87fb2cc",
      "name": "📊 Consolidador de Cotações2",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1520,
        -4768
      ]
    },
    {
      "parameters": {
        "jsCode": "// Retornar o JSON consolidado final\nconst dadosConsolidados = $input.first().json;\n\nreturn [{\n  json: {\n    mensagem: 'Cotações consolidadas com sucesso!',\n    dados: dadosConsolidados,\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "id": "31dc93b2-9d3a-47a3-b9c1-29864256775e",
      "name": "📋 Resposta Final Consolidada2",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1328,
        -4768
      ]
    },
    {
      "parameters": {
        "jsCode": "try {\n  // Receber dados do salvamento\n  const dadosSalvos = $input.first().json;\n  \n  return [{\n    json: {\n      status: 'sistema_completo',\n      mensagem: 'Sistema de consolidação executado com sucesso!',\n      resultado: dadosSalvos,\n      total_cotacoes: 7,\n      timestamp_final: new Date().toISOString(),\n      resumo: {\n        commodities_agricolas: 3,\n        commodities_materiais: 2,\n        moedas: 2,\n        status_geral: dadosSalvos.status\n      }\n    }\n  }];\n  \n} catch (error) {\n  return [{ json: {\n    status: 'erro_sistema',\n    erro: 'Erro no sistema final: ' + error.message,\n    timestamp: new Date().toISOString()\n  } }];\n}"
      },
      "id": "0a731128-4bc0-42ee-9ccb-8abd55bb7b97",
      "name": "📋 Resposta Final do Sistema2",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1152,
        -4768
      ]
    },
    {
      "parameters": {
        "url": "http://127.0.0.1:8000/render?url=https%3A%2F%2Fbr.investing.com%2Fcommodities%2Flive-cattle%3Fcid%3D964528",
        "responseFormat": "string",
        "options": {}
      },
      "id": "8f17b901-1fc8-4d7e-a2fc-dacafc42bf4c",
      "name": "🌐 Buscar Boi Gordo",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        -2576,
        -4768
      ]
    },
    {
      "parameters": {
        "extractionValues": {
          "values": [
            {
              "key": "preco",
              "cssSelector": "span[data-test='instrument-price-last'], .text-2xl, .instrument-price_instrument-price__*, [data-test*='price'], #last_last"
            },
            {
              "key": "fechamento_anterior",
              "cssSelector": "[data-test='instrument-prev-close'], .prev-close, [class*='prev'], [class*='previous'], [class*='close'], td:contains('Fechamento Anterior') + td, .instrument-metadata_instrument-metadata__kv__value, [data-test='prev-close'], .prev-close-value"
            },
            {
              "key": "abertura",
              "cssSelector": "[data-test='instrument-open'], .open, [class*='open'], td:contains('Abertura') + td, .instrument-metadata_instrument-metadata__kv__value, [data-test='open'], .open-value"
            }
          ]
        },
        "options": {}
      },
      "id": "cb00195e-354c-4ebc-be30-87932041ad41",
      "name": "🔍 Extrair Preço3",
      "type": "n8n-nodes-base.htmlExtract",
      "typeVersion": 1,
      "position": [
        -2384,
        -5040
      ]
    },
    {
      "parameters": {
        "jsCode": "// Verifica se veio dados do nó anterior\nif ($input.first() === undefined) {\n  return [{ json: { \n    erro: 'Nenhum dado recebido do nó anterior.', \n    timestamp: new Date().toISOString() \n  } }];\n}\n\n// Pega os dados extraídos do HTML\nlet precoExtraido = $input.first().json.preco;\nlet fechamentoAnterior = $input.first().json.fechamento_anterior;\nlet abertura = $input.first().json.abertura;\n\n// Verifica se o preço foi encontrado\nif (precoExtraido === undefined || precoExtraido === null || precoExtraido === '') {\n  return [{ json: { \n    ativo: 'Carbono (Investing.com)',\n    erro: 'Preço não encontrado com nenhum seletor CSS. Estrutura do site pode ter mudado.',\n    timestamp: new Date().toISOString(),\n    status: 'erro'\n  } }];\n}\n\n// Função para processar valores numéricos\nfunction processarValor(valor) {\n  if (!valor || valor === '') return null;\n  \n  try {\n    let valorLimpo = valor\n      .replace(/\\s/g, '')\n      .replace(/[R$]/g, '')\n      .replace(/\\./g, '')\n      .replace(/,/g, '.');\n    \n    let valorNumerico = parseFloat(valorLimpo);\n    return isNaN(valorNumerico) ? null : valorNumerico;\n  } catch (error) {\n    return null;\n  }\n}\n\n// Tenta converter o preço\ntry {\n  let precoNumerico = processarValor(precoExtraido);\n  \n  if (precoNumerico === null) {\n    throw new Error('Conversão para número falhou: ' + precoExtraido);\n  }\n  \n  // Processa fechamento anterior\n  let fechamentoAnteriorNumerico = processarValor(fechamentoAnterior);\n  \n  // Processa abertura\n  let aberturaNumerico = processarValor(abertura);\n  \n  return [{ json: {\n    ativo: 'Carbono (Investing.com)',\n    preco: precoNumerico,\n    preco_original: precoExtraido,\n    fechamento_anterior: fechamentoAnteriorNumerico,\n    fechamento_anterior_original: fechamentoAnterior,\n    abertura: aberturaNumerico,\n    abertura_original: abertura,\n    moeda: 'EUR',\n    fonte: 'Investing.com',\n    timestamp: new Date().toISOString(),\n    status: 'sucesso'\n  } }];\n} catch (error) {\n  return [{ json: {\n    ativo: 'Carbono (Investing.com)',\n    erro: 'Erro na conversão: ' + error.message,\n    preco_original: precoExtraido,\n    fechamento_anterior_original: fechamentoAnterior,\n    abertura_original: abertura,\n    timestamp: new Date().toISOString(),\n    status: 'erro'\n  } }];\n}"
      },
      "id": "c4bf4124-8115-452e-917c-740eaa80cd8b",
      "name": "⚙️ Processar Dados3",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2208,
        -5040
      ]
    },
    {
      "parameters": {
        "jsCode": "try {\n  const jsonResponse = $input.first().json;\n  const originalData = $('⚙️ Processar Dados3').first().json;\n\n  if (jsonResponse.status === 'erro') {\n    return [{\n      json: {\n        status: 'erro_json',\n        erro: jsonResponse.erro,\n        dados_originais: originalData,\n        timestamp: new Date().toISOString()\n      }\n    }];\n  }\n\n  return [{\n    json: {\n      status: 'sucesso',\n      mensagem: 'Dados salvos no JSON com sucesso',\n      dados_salvos: originalData,\n      arquivo: jsonResponse.arquivo,\n      timestamp: new Date().toISOString()\n    }\n  }];\n\n} catch (error) {\n  return [{\n    json: {\n      status: 'erro_final',\n      erro: 'Erro na resposta final: ' + error.message,\n      timestamp: new Date().toISOString()\n    }\n  }];\n}"
      },
      "id": "30211553-d959-44eb-908f-5e18851b25ae",
      "name": "📋 Resposta Final3",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1696,
        -5040
      ]
    },
    {
      "parameters": {
        "jsCode": "try {\n  // Coletar apenas os dados do milho\n  const milho = $('💾 Salvar no JSON3').first()?.json || null;\n\n  // Estruturar JSON final apenas com milho\n  const cotacoesConsolidadas = {\n    metadata: {\n      timestamp: new Date().toISOString(),\n      data_coleta: new Date().toLocaleDateString('pt-BR'),\n      total_ativos: milho ? 1 : 0,\n      fonte: 'Investing.com'\n    },\n    commodities: {\n      agricolas: {\n        milho: milho?.dados_formatados?.dados || null\n      }\n    },\n    status: {\n      milho: milho?.status || 'erro'\n    }\n  };\n\n  return [{ json: cotacoesConsolidadas }];\n\n} catch (error) {\n  return [{\n    json: {\n      erro: 'Erro ao consolidar cotações: ' + error.message,\n      timestamp: new Date().toISOString(),\n      status: 'erro_consolidacao'\n    }\n  }];\n}"
      },
      "id": "de64e13a-3922-4462-ab35-93d8297bfc9a",
      "name": "📊 Consolidador de Cotações3",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1520,
        -5040
      ]
    },
    {
      "parameters": {
        "jsCode": "// Retornar o JSON consolidado final\nconst dadosConsolidados = $input.first().json;\n\nreturn [{\n  json: {\n    mensagem: 'Cotações consolidadas com sucesso!',\n    dados: dadosConsolidados,\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "id": "5c27fb3e-5b0c-44df-b312-1744d80c8bd8",
      "name": "📋 Resposta Final Consolidada3",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1328,
        -5040
      ]
    },
    {
      "parameters": {
        "jsCode": "try {\n  // Receber dados do salvamento\n  const dadosSalvos = $input.first().json;\n  \n  return [{\n    json: {\n      status: 'sistema_completo',\n      mensagem: 'Sistema de consolidação executado com sucesso!',\n      resultado: dadosSalvos,\n      total_cotacoes: 7,\n      timestamp_final: new Date().toISOString(),\n      resumo: {\n        commodities_agricolas: 3,\n        commodities_materiais: 2,\n        moedas: 2,\n        status_geral: dadosSalvos.status\n      }\n    }\n  }];\n  \n} catch (error) {\n  return [{ json: {\n    status: 'erro_sistema',\n    erro: 'Erro no sistema final: ' + error.message,\n    timestamp: new Date().toISOString()\n  } }];\n}"
      },
      "id": "2456de18-cc44-40af-b4f7-e68025a68fbf",
      "name": "📋 Resposta Final do Sistema3",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1152,
        -5040
      ]
    },
    {
      "parameters": {
        "url": "http://127.0.0.1:8000/render?url=https%3A%2F%2Fbr.investing.com%2Fcommodities%2Fcarbon-emissions",
        "responseFormat": "string",
        "options": {}
      },
      "id": "521c34c5-d292-4f1b-bc66-de96356c17a8",
      "name": "🌐 Buscar Carbono",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        -2576,
        -5040
      ]
    },
    {
      "parameters": {
        "jsCode": "try {\n  const jsonResponse = $input.first().json;\n  const originalData = $('⚙️ Processar Dados4').first().json;\n\n  if (jsonResponse.status === 'erro') {\n    return [{\n      json: {\n        status: 'erro_json',\n        erro: jsonResponse.erro,\n        dados_originais: originalData,\n        timestamp: new Date().toISOString()\n      }\n    }];\n  }\n\n  return [{\n    json: {\n      status: 'sucesso',\n      mensagem: 'Dados salvos no JSON com sucesso',\n      dados_salvos: originalData,\n      arquivo: jsonResponse.arquivo,\n      timestamp: new Date().toISOString()\n    }\n  }];\n\n} catch (error) {\n  return [{\n    json: {\n      status: 'erro_final',\n      erro: 'Erro na resposta final: ' + error.message,\n      timestamp: new Date().toISOString()\n    }\n  }];\n}"
      },
      "id": "b1ec6f37-e187-4574-a29d-9cd212078ae9",
      "name": "📋 Resposta Final4",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1680,
        -5728
      ]
    },
    {
      "parameters": {
        "jsCode": "try {\n  // Coletar apenas os dados do milho\n  const milho = $('💾 Salvar no JSON4').first()?.json || null;\n\n  // Estruturar JSON final apenas com milho\n  const cotacoesConsolidadas = {\n    metadata: {\n      timestamp: new Date().toISOString(),\n      data_coleta: new Date().toLocaleDateString('pt-BR'),\n      total_ativos: milho ? 1 : 0,\n      fonte: 'Investing.com'\n    },\n    commodities: {\n      agricolas: {\n        milho: milho?.dados_formatados?.dados || null\n      }\n    },\n    status: {\n      milho: milho?.status || 'erro'\n    }\n  };\n\n  return [{ json: cotacoesConsolidadas }];\n\n} catch (error) {\n  return [{\n    json: {\n      erro: 'Erro ao consolidar cotações: ' + error.message,\n      timestamp: new Date().toISOString(),\n      status: 'erro_consolidacao'\n    }\n  }];\n}"
      },
      "id": "8066e2b4-e9c5-4f09-9b53-d8bee5d9b719",
      "name": "📊 Consolidador de Cotações4",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1504,
        -5728
      ]
    },
    {
      "parameters": {
        "jsCode": "// Retornar o JSON consolidado final\nconst dadosConsolidados = $input.first().json;\n\nreturn [{\n  json: {\n    mensagem: 'Cotações consolidadas com sucesso!',\n    dados: dadosConsolidados,\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "id": "a6016732-232d-4faa-b385-fb78e150573b",
      "name": "📋 Resposta Final Consolidada4",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1312,
        -5728
      ]
    },
    {
      "parameters": {
        "jsCode": "try {\n  // Receber dados do salvamento\n  const dadosSalvos = $input.first().json;\n  \n  return [{\n    json: {\n      status: 'sistema_completo',\n      mensagem: 'Sistema de consolidação executado com sucesso!',\n      resultado: dadosSalvos,\n      total_cotacoes: 7,\n      timestamp_final: new Date().toISOString(),\n      resumo: {\n        commodities_agricolas: 3,\n        commodities_materiais: 2,\n        moedas: 2,\n        status_geral: dadosSalvos.status\n      }\n    }\n  }];\n  \n} catch (error) {\n  return [{ json: {\n    status: 'erro_sistema',\n    erro: 'Erro no sistema final: ' + error.message,\n    timestamp: new Date().toISOString()\n  } }];\n}"
      },
      "id": "7694e878-f582-43f5-b4b7-8b0ec9d6dbb0",
      "name": "📋 Resposta Final do Sistema4",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1136,
        -5728
      ]
    },
    {
      "parameters": {
        "url": "http://127.0.0.1:8000/render?url=https%3A%2F%2Fbr.investing.com%2Fcurrencies%2Fusd-brl",
        "responseFormat": "string",
        "options": {}
      },
      "id": "e8f2fc11-0d9e-4cec-9b12-151edd257577",
      "name": "🌐 Buscar USD/BRL",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        -2576,
        -5936
      ]
    },
    {
      "parameters": {
        "extractionValues": {
          "values": [
            {
              "key": "preco",
              "cssSelector": "span[data-test='instrument-price-last'], .text-2xl, .instrument-price_instrument-price__*, [data-test*='price'], #last_last"
            }
          ]
        },
        "options": {}
      },
      "id": "047acfde-1e66-4138-ba68-80d01b35823f",
      "name": "🔍 Extrair Preço5",
      "type": "n8n-nodes-base.htmlExtract",
      "typeVersion": 1,
      "position": [
        -2384,
        -5936
      ]
    },
    {
      "parameters": {
        "jsCode": "try {\n  const inputData = $input.first().json;\n\n  if (inputData.erro) {\n    return [{ json: inputData }];\n  }\n\n  // Preparar dados para o Firebase Firestore\n  const currentDate = new Date().toISOString().split('T')[0]; // \"2025-10-08\"\n  const [year, month, day] = currentDate.split('-');\n  const brazilianDate = `${day}/${month}/${year}`;\n  \n  return [\n    {\n      json: {\n        ativo: 'USD/BRL',\n        data: brazilianDate,\n        ultimo: inputData.preco,\n        abertura: inputData.preco,\n        maxima: inputData.preco,\n        minima: inputData.preco,\n        volume: null,\n        variacao_pct: null,\n        moeda: inputData.moeda,\n        fonte: inputData.fonte,\n        timestamp: inputData.timestamp,\n        status: inputData.status,\n        documentId: currentDate  // ← Reutiliza a variável! ✅\n      }\n    }\n  ];\n} catch (error) {\n  return [\n    {\n      json: {\n        erro: \"Erro ao preparar Firebase: \" + error.message,\n        timestamp: new Date().toISOString(),\n        status: \"erro_firebase_prep\",\n      },\n    },\n  ];\n}"
      },
      "id": "a2953e14-c92b-409c-b29e-138f5e7c82f1",
      "name": "🔑 Preparar Firebase5",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2032,
        -5936
      ]
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "upsert",
        "projectId": "ucs-index-tracker",
        "collection": "usd",
        "updateKey": "documentId",
        "columns": "ativo,data,ultimo,abertura,maxima,minima,volume,variacao_pct,moeda,fonte,timestamp,status,documentId"
      },
      "id": "faa51ce1-9076-4bfd-882c-d12479cfa424",
      "name": "💾 Salvar no Firebase5",
      "type": "n8n-nodes-base.googleFirebaseCloudFirestore",
      "typeVersion": 1,
      "position": [
        -1872,
        -5936
      ],
      "credentials": {
        "googleApi": {
          "id": "Dqr74c3ldFzCyUyS",
          "name": "Google Firebase Cloud Firestore account"
        }
      }
    },
    {
      "parameters": {
        "url": "http://127.0.0.1:8000/render?url=https%3A%2F%2Fbr.investing.com%2Fcurrencies%2Feur-brl",
        "responseFormat": "string",
        "options": {}
      },
      "id": "d1a6d138-4ae5-4778-bb15-7028b8b77fd4",
      "name": "🌐 Buscar EUR/BRL",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        -2576,
        -5264
      ]
    },
    {
      "parameters": {
        "extractionValues": {
          "values": [
            {
              "key": "preco",
              "cssSelector": "span[data-test='instrument-price-last'], .text-2xl, .instrument-price_instrument-price__*, [data-test*='price'], #last_last"
            }
          ]
        },
        "options": {}
      },
      "id": "074c1c9a-d3dd-4e10-9662-0f6606f52e44",
      "name": "🔍 Extrair Preço6",
      "type": "n8n-nodes-base.htmlExtract",
      "typeVersion": 1,
      "position": [
        -2384,
        -5264
      ]
    },
    {
      "parameters": {
        "jsCode": "try {\n  const inputData = $input.first().json;\n\n  if (inputData.erro) {\n    return [{ json: inputData }];\n  }\n\n  // Preparar dados para o Firebase Firestore\n  const currentDate = new Date().toISOString().split(\"T\")[0];\n  const [year, month, day] = currentDate.split(\"-\");\n  const brazilianDate = `${day}/${month}/${year}`;\n\n  return [\n    {\n      json: {\n        ativo: \"EUR/BRL\",\n        data: brazilianDate,\n        ultimo: inputData.preco,\n        abertura: inputData.preco,\n        maxima: inputData.preco,\n        minima: inputData.preco,\n        volume: null,\n        variacao_pct: null,\n        moeda: inputData.moeda,\n        fonte: inputData.fonte,\n        timestamp: inputData.timestamp,\n        status: inputData.status,\n        documentId: currentDate, // ← ADICIONAR AQUI! ✅\n      },\n    },\n  ];\n} catch (error) {\n  return [\n    {\n      json: {\n        erro: \"Erro ao preparar Firebase: \" + error.message,\n        timestamp: new Date().toISOString(),\n        status: \"erro_firebase_prep\",\n      },\n    },\n  ];\n}\n"
      },
      "id": "4b963a2f-5231-4706-94a7-a8e40dd8ab8a",
      "name": "🔑 Preparar Firebase6",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2032,
        -5264
      ]
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "upsert",
        "projectId": "ucs-index-tracker",
        "collection": "eur",
        "updateKey": "documentId",
        "columns": "=ativo,data,ultimo,abertura,maxima,minima,volume,variacao_pct,moeda,fonte,timestamp,status,documentId"
      },
      "id": "77cba6c6-1725-4650-8bce-45c9997b8fcd",
      "name": "💾 Salvar no Firebase6",
      "type": "n8n-nodes-base.googleFirebaseCloudFirestore",
      "typeVersion": 1,
      "position": [
        -1872,
        -5264
      ],
      "credentials": {
        "googleApi": {
          "id": "Dqr74c3ldFzCyUyS",
          "name": "Google Firebase Cloud Firestore account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "upsert",
        "projectId": "ucs-index-tracker",
        "collection": "milho",
        "updateKey": "documentId",
        "columns": "=ativo,data,ultimo,abertura,maxima,minima,volume,variacao_pct,moeda,fonte,timestamp,status,fechamento_anterior, ton, rent_media,documentId"
      },
      "id": "fce38310-708e-492c-9c40-34cb3deda6b0",
      "name": "💾 Salvar no Firebase7",
      "type": "n8n-nodes-base.googleFirebaseCloudFirestore",
      "typeVersion": 1,
      "position": [
        -1888,
        -4544
      ],
      "credentials": {
        "googleApi": {
          "id": "Dqr74c3ldFzCyUyS",
          "name": "Google Firebase Cloud Firestore account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "upsert",
        "projectId": "ucs-index-tracker",
        "collection": "soja",
        "updateKey": "documentId",
        "columns": "=ativo, data, ultimo, ultimo_brl, fechamento_anterior, abertura, maxima, minima, ton, ton, rent_media, cotacao_dolar, moeda, fonte, timestamp, status, dolar_timestamp,documentId"
      },
      "id": "723f7c08-e5cb-4d09-bcfa-990538a42ee5",
      "name": "💾 Salvar no Firebase8",
      "type": "n8n-nodes-base.googleFirebaseCloudFirestore",
      "typeVersion": 1,
      "position": [
        -1872,
        -5488
      ],
      "credentials": {
        "googleApi": {
          "id": "Dqr74c3ldFzCyUyS",
          "name": "Google Firebase Cloud Firestore account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "try {\n  const jsonResponse = $input.first().json;\n  const originalData = $('⚙️ Processar Dados1').first().json;\n\n  if (jsonResponse.status === 'erro') {\n    return [{\n      json: {\n        status: 'erro_json',\n        erro: jsonResponse.erro,\n        dados_originais: originalData,\n        timestamp: new Date().toISOString()\n      }\n    }];\n  }\n\n  return [{\n    json: {\n      status: 'sucesso',\n      mensagem: 'Dados salvos no JSON com sucesso',\n      dados_salvos: originalData,\n      arquivo: jsonResponse.arquivo,\n      timestamp: new Date().toISOString()\n    }\n  }];\n\n} catch (error) {\n  return [{\n    json: {\n      status: 'erro_final',\n      erro: 'Erro na resposta final: ' + error.message,\n      timestamp: new Date().toISOString()\n    }\n  }];\n}"
      },
      "id": "6bfb8888-b8c1-4808-bce9-9f3bb6e987a2",
      "name": "📋 Resposta Final5",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1696,
        -5264
      ]
    },
    {
      "parameters": {
        "jsCode": "try {\n  // Coletar apenas os dados do milho\n  const milho = $('💾 Salvar no JSON1').first()?.json || null;\n\n  // Estruturar JSON final apenas com milho\n  const cotacoesConsolidadas = {\n    metadata: {\n      timestamp: new Date().toISOString(),\n      data_coleta: new Date().toLocaleDateString('pt-BR'),\n      total_ativos: milho ? 1 : 0,\n      fonte: 'Investing.com'\n    },\n    commodities: {\n      agricolas: {\n        milho: milho?.dados_formatados?.dados || null\n      }\n    },\n    status: {\n      milho: milho?.status || 'erro'\n    }\n  };\n\n  return [{ json: cotacoesConsolidadas }];\n\n} catch (error) {\n  return [{\n    json: {\n      erro: 'Erro ao consolidar cotações: ' + error.message,\n      timestamp: new Date().toISOString(),\n      status: 'erro_consolidacao'\n    }\n  }];\n}"
      },
      "id": "2c1f42c9-b2d9-423a-b284-8ec7be98e88d",
      "name": "📊 Consolidador de Cotações5",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1504,
        -5264
      ]
    },
    {
      "parameters": {
        "jsCode": "// Retornar o JSON consolidado final\nconst dadosConsolidados = $input.first().json;\n\nreturn [{\n  json: {\n    mensagem: 'Cotações consolidadas com sucesso!',\n    dados: dadosConsolidados,\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "id": "f094712b-c39a-4e0d-a859-10039876fa66",
      "name": "📋 Resposta Final Consolidada5",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1312,
        -5264
      ]
    },
    {
      "parameters": {
        "jsCode": "try {\n  // Receber dados do salvamento\n  const dadosSalvos = $input.first().json;\n  \n  return [{\n    json: {\n      status: 'sistema_completo',\n      mensagem: 'Sistema de consolidação executado com sucesso!',\n      resultado: dadosSalvos,\n      total_cotacoes: 7,\n      timestamp_final: new Date().toISOString(),\n      resumo: {\n        commodities_agricolas: 3,\n        commodities_materiais: 2,\n        moedas: 2,\n        status_geral: dadosSalvos.status\n      }\n    }\n  }];\n  \n} catch (error) {\n  return [{ json: {\n    status: 'erro_sistema',\n    erro: 'Erro no sistema final: ' + error.message,\n    timestamp: new Date().toISOString()\n  } }];\n}"
      },
      "id": "53049b95-bcfb-4ff3-8226-b23f888c3360",
      "name": "📋 Resposta Final do Sistema5",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1136,
        -5264
      ]
    },
    {
      "parameters": {
        "jsCode": "try {\n  const jsonResponse = $input.first().json;\n  const originalData = $('⚙️ Processar Dados1').first().json;\n\n  if (jsonResponse.status === 'erro') {\n    return [{\n      json: {\n        status: 'erro_json',\n        erro: jsonResponse.erro,\n        dados_originais: originalData,\n        timestamp: new Date().toISOString()\n      }\n    }];\n  }\n\n  return [{\n    json: {\n      status: 'sucesso',\n      mensagem: 'Dados salvos no JSON com sucesso',\n      dados_salvos: originalData,\n      arquivo: jsonResponse.arquivo,\n      timestamp: new Date().toISOString()\n    }\n  }];\n\n} catch (error) {\n  return [{\n    json: {\n      status: 'erro_final',\n      erro: 'Erro na resposta final: ' + error.message,\n      timestamp: new Date().toISOString()\n    }\n  }];\n}"
      },
      "id": "dc1ddd30-7a52-4c4b-a9ae-16a59e2e7d40",
      "name": "📋 Resposta Final6",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1696,
        -5936
      ]
    },
    {
      "parameters": {
        "jsCode": "try {\n  // Coletar apenas os dados do milho\n  const milho = $('💾 Salvar no JSON1').first()?.json || null;\n\n  // Estruturar JSON final apenas com milho\n  const cotacoesConsolidadas = {\n    metadata: {\n      timestamp: new Date().toISOString(),\n      data_coleta: new Date().toLocaleDateString('pt-BR'),\n      total_ativos: milho ? 1 : 0,\n      fonte: 'Investing.com'\n    },\n    commodities: {\n      agricolas: {\n        milho: milho?.dados_formatados?.dados || null\n      }\n    },\n    status: {\n      milho: milho?.status || 'erro'\n    }\n  };\n\n  return [{ json: cotacoesConsolidadas }];\n\n} catch (error) {\n  return [{\n    json: {\n      erro: 'Erro ao consolidar cotações: ' + error.message,\n      timestamp: new Date().toISOString(),\n      status: 'erro_consolidacao'\n    }\n  }];\n}"
      },
      "id": "655af250-4ada-4d98-88c7-63ddd305a194",
      "name": "📊 Consolidador de Cotações6",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1504,
        -5936
      ]
    },
    {
      "parameters": {
        "jsCode": "// Retornar o JSON consolidado final\nconst dadosConsolidados = $input.first().json;\n\nreturn [{\n  json: {\n    mensagem: 'Cotações consolidadas com sucesso!',\n    dados: dadosConsolidados,\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "id": "5a8628f6-6e20-413a-9e49-c022719087eb",
      "name": "📋 Resposta Final Consolidada6",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1312,
        -5936
      ]
    },
    {
      "parameters": {
        "jsCode": "try {\n  // Receber dados do salvamento\n  const dadosSalvos = $input.first().json;\n  \n  return [{\n    json: {\n      status: 'sistema_completo',\n      mensagem: 'Sistema de consolidação executado com sucesso!',\n      resultado: dadosSalvos,\n      total_cotacoes: 7,\n      timestamp_final: new Date().toISOString(),\n      resumo: {\n        commodities_agricolas: 3,\n        commodities_materiais: 2,\n        moedas: 2,\n        status_geral: dadosSalvos.status\n      }\n    }\n  }];\n  \n} catch (error) {\n  return [{ json: {\n    status: 'erro_sistema',\n    erro: 'Erro no sistema final: ' + error.message,\n    timestamp: new Date().toISOString()\n  } }];\n}"
      },
      "id": "3a9e1bf1-aea2-4996-b8c8-c0417693b013",
      "name": "📋 Resposta Final do Sistema6",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1136,
        -5936
      ]
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "upsert",
        "projectId": "ucs-index-tracker",
        "collection": "boi_gordo",
        "updateKey": "documentId",
        "columns": "=ativo,data,ultimo,abertura,maxima,minima,volume,variacao_pct,moeda,fonte,timestamp,status,fechamento_anterior, ton, rent_media, documentId"
      },
      "id": "9393637d-dce8-4719-9d6a-aba6e1798e91",
      "name": "💾 Salvar no Firebase",
      "type": "n8n-nodes-base.googleFirebaseCloudFirestore",
      "typeVersion": 1,
      "position": [
        -1888,
        -4768
      ],
      "credentials": {
        "googleApi": {
          "id": "Dqr74c3ldFzCyUyS",
          "name": "Google Firebase Cloud Firestore account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "upsert",
        "projectId": "ucs-index-tracker",
        "collection": "carbono",
        "updateKey": "documentId",
        "columns": "=ativo, data, ultimo, ultimo_brl, abertura, maxima, minima, volume, variacao_pct, rent_media, cotacao_euro, moeda, fonte, timestamp, status,  euro_timestamp, documentId"
      },
      "id": "92cfe1ad-3713-48fa-84f9-db15efd1debc",
      "name": "💾 Salvar no Firebase1",
      "type": "n8n-nodes-base.googleFirebaseCloudFirestore",
      "typeVersion": 1,
      "position": [
        -1888,
        -5040
      ],
      "credentials": {
        "googleApi": {
          "id": "Dqr74c3ldFzCyUyS",
          "name": "Google Firebase Cloud Firestore account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "upsert",
        "projectId": "ucs-index-tracker",
        "collection": "madeira",
        "updateKey": "documentId",
        "columns": "=ativo, data, ultimo, abertura, maxima, minima, madeira_tora_usd, rent_media, cotacao_dolar, moeda, fonte, timestamp, status, dolar_timestamp,documentId"
      },
      "id": "d6abfbbe-ad84-46f8-bf52-bb1e128c78f4",
      "name": "💾 Salvar no Firebase2",
      "type": "n8n-nodes-base.googleFirebaseCloudFirestore",
      "typeVersion": 1,
      "position": [
        -1872,
        -5728
      ],
      "credentials": {
        "googleApi": {
          "id": "Dqr74c3ldFzCyUyS",
          "name": "Google Firebase Cloud Firestore account"
        }
      }
    },
    {
      "parameters": {
        "extractionValues": {
          "values": [
            {
              "key": "preco",
              "cssSelector": "span[data-test='instrument-price-last'], .text-2xl, .instrument-price_instrument-price__*, [data-test*='price'], #last_last"
            },
            {
              "key": "fechamento_anterior",
              "cssSelector": "[data-test='instrument-prev-close'], .prev-close, [class*='prev'], [class*='previous'], [class*='close'], td:contains('Fechamento Anterior') + td, .instrument-metadata_instrument-metadata__kv__value, [data-test='prev-close'], .prev-close-value"
            },
            {
              "key": "abertura",
              "cssSelector": "[data-test='instrument-open'], .open, [class*='open'], td:contains('Abertura') + td, .instrument-metadata_instrument-metadata__kv__value, [data-test='open'], .open-value"
            }
          ]
        },
        "options": {}
      },
      "id": "6a57b4f9-a219-44f0-a355-f333349eda89",
      "name": "🔍 Extrair Preço9",
      "type": "n8n-nodes-base.htmlExtract",
      "typeVersion": 1,
      "position": [
        -2384,
        -5728
      ]
    },
    {
      "parameters": {
        "jsCode": "// Verifica se veio dados do nó anterior\nif ($input.first() === undefined) {\n  return [{ json: { \n    erro: 'Nenhum dado recebido do nó anterior.', \n    timestamp: new Date().toISOString() \n  } }];\n}\n\n// Pega os dados extraídos do HTML\nlet precoExtraido = $input.first().json.preco;\nlet fechamentoAnterior = $input.first().json.fechamento_anterior;\nlet abertura = $input.first().json.abertura;\n\n// Verifica se o preço foi encontrado\nif (precoExtraido === undefined || precoExtraido === null || precoExtraido === '') {\n  return [{ json: { \n    ativo: 'Madeira Serrada (Investing.com)',\n    erro: 'Preço não encontrado com nenhum seletor CSS. Estrutura do site pode ter mudado.',\n    timestamp: new Date().toISOString(),\n    status: 'erro'\n  } }];\n}\n\n// Função para processar valores numéricos\nfunction processarValor(valor) {\n  if (!valor || valor === '') return null;\n  \n  try {\n    let valorLimpo = valor\n      .replace(/\\s/g, '')\n      .replace(/[R$]/g, '')\n      .replace(/\\./g, '')\n      .replace(/,/g, '.');\n    \n    let valorNumerico = parseFloat(valorLimpo);\n    return isNaN(valorNumerico) ? null : valorNumerico;\n  } catch (error) {\n    return null;\n  }\n}\n\n// Tenta converter o preço\ntry {\n  let precoNumerico = processarValor(precoExtraido);\n  \n  if (precoNumerico === null) {\n    throw new Error('Conversão para número falhou: ' + precoExtraido);\n  }\n  \n  // Processa fechamento anterior\n  let fechamentoAnteriorNumerico = processarValor(fechamentoAnterior);\n  \n  // Processa abertura\n  let aberturaNumerico = processarValor(abertura);\n  \n  return [{ json: {\n    ativo: 'Madeira Serrada (Investing.com)',\n    preco: precoNumerico,\n    preco_original: precoExtraido,\n    fechamento_anterior: fechamentoAnteriorNumerico,\n    fechamento_anterior_original: fechamentoAnterior,\n    abertura: aberturaNumerico,\n    abertura_original: abertura,\n    moeda: 'USD',\n    fonte: 'Investing.com',\n    timestamp: new Date().toISOString(),\n    status: 'sucesso'\n  } }];\n} catch (error) {\n  return [{ json: {\n    ativo: 'Madeira Serrada (Investing.com)',\n    erro: 'Erro na conversão: ' + error.message,\n    preco_original: precoExtraido,\n    fechamento_anterior_original: fechamentoAnterior,\n    abertura_original: abertura,\n    timestamp: new Date().toISOString(),\n    status: 'erro'\n  } }];\n}"
      },
      "id": "1f82bd0d-17d1-457f-9ce5-99801345f8cd",
      "name": "⚙️ Processar Dados9",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2208,
        -5728
      ]
    },
    {
      "parameters": {
        "url": "http://127.0.0.1:8000/render?url=https%3A%2F%2Fbr.investing.com%2Fcommodities%2Flumber",
        "responseFormat": "string",
        "options": {}
      },
      "id": "6acc3fed-bc62-47d4-bd08-2d930631d2fb",
      "name": "🌐 Buscar Madeira2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        -2576,
        -5728
      ]
    },
    {
      "parameters": {
        "jsCode": "// Verifica se veio dados do nó anterior\nif ($input.first() === undefined) {\n  return [{ json: { \n    erro: 'Nenhum dado recebido do nó anterior.', \n    timestamp: new Date().toISOString() \n  } }];\n}\n\n// Pega o texto extraído do HTML\nlet precoExtraido = $input.first().json.preco;\n\n// Verifica se o preço foi encontrado\nif (precoExtraido === undefined || precoExtraido === null || precoExtraido === '') {\n  return [{ json: { \n    ativo: 'USD/BRL (Investing.com)',\n    erro: 'Preço não encontrado com nenhum seletor CSS. Estrutura do site pode ter mudado.',\n    timestamp: new Date().toISOString(),\n    status: 'erro'\n  } }];\n}\n\n// Tenta converter o preço\ntry {\n  // Remove espaços e caracteres especiais, depois converte\n  let precoLimpo = precoExtraido\n    .replace(/\\s/g, '')\n    .replace(/[R$]/g, '')\n    .replace(/\\./g, '')\n    .replace(/,/g, '.');\n  \n  let precoNumerico = parseFloat(precoLimpo);\n  \n  if (isNaN(precoNumerico)) {\n    throw new Error('Conversão para número falhou: ' + precoExtraido);\n  }\n  \n  return [{ json: {\n    ativo: 'USD/BRL (Investing.com)',\n    preco: precoNumerico,\n    preco_original: precoExtraido,\n    moeda: 'BRL',\n    fonte: 'Investing.com',\n    timestamp: new Date().toISOString(),\n    status: 'sucesso'\n  } }];\n} catch (error) {\n  return [{ json: {\n    ativo: 'USD/BRL (Investing.com)',\n    erro: 'Erro na conversão: ' + error.message,\n    preco_original: precoExtraido,\n    timestamp: new Date().toISOString(),\n    status: 'erro'\n  } }];\n}"
      },
      "id": "ef68a269-116c-4a5a-b42c-9888f011dbb9",
      "name": "USD",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2208,
        -5936
      ]
    },
    {
      "parameters": {
        "jsCode": "// Verifica se veio dados do nó anterior\nif ($input.first() === undefined) {\n  return [{ json: { \n    erro: 'Nenhum dado recebido do nó anterior.', \n    timestamp: new Date().toISOString() \n  } }];\n}\n\n// Pega o texto extraído do HTML\nlet precoExtraido = $input.first().json.preco;\n\n// Verifica se o preço foi encontrado\nif (precoExtraido === undefined || precoExtraido === null || precoExtraido === '') {\n  return [{ json: { \n    ativo: 'EUR/BRL (Investing.com)',\n    erro: 'Preço não encontrado com nenhum seletor CSS. Estrutura do site pode ter mudado.',\n    timestamp: new Date().toISOString(),\n    status: 'erro'\n  } }];\n}\n\n// Tenta converter o preço\ntry {\n  // Remove espaços e caracteres especiais, depois converte\n  let precoLimpo = precoExtraido\n    .replace(/\\s/g, '')\n    .replace(/[R$]/g, '')\n    .replace(/\\./g, '')\n    .replace(/,/g, '.');\n  \n  let precoNumerico = parseFloat(precoLimpo);\n  \n  if (isNaN(precoNumerico)) {\n    throw new Error('Conversão para número falhou: ' + precoExtraido);\n  }\n  \n  return [{ json: {\n    ativo: 'EUR/BRL (Investing.com)',\n    preco: precoNumerico,\n    preco_original: precoExtraido,\n    moeda: 'BRL',\n    fonte: 'Investing.com',\n    timestamp: new Date().toISOString(),\n    status: 'sucesso'\n  } }];\n} catch (error) {\n  return [{ json: {\n    ativo: 'EUR/BRL (Investing.com)',\n    erro: 'Erro na conversão: ' + error.message,\n    preco_original: precoExtraido,\n    timestamp: new Date().toISOString(),\n    status: 'erro'\n  } }];\n}"
      },
      "id": "d988340b-28fc-4194-b125-77e9da2b5dc2",
      "name": "EUR",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2208,
        -5264
      ]
    },
    {
      "parameters": {
        "jsCode": "try {\n  const inputData = $input.first().json;\n\n  if (inputData.erro) {\n    return [{ json: inputData }];\n  }\n\n  // Obter a cotação do dólar do nó anterior\n  const dadosDolar = $('USD').first().json;\n  const cotacaoDolar = dadosDolar.preco;\n\n  // Preparar dados para salvar no JSON\n  const currentDate = new Date().toISOString().split('T')[0]; // \"2025-10-08\"\n  const [year, month, day] = currentDate.split('-');\n  const brazilianDate = `${day}/${month}/${year}`;\n  \n  // CONSTANTES EXATAS DO EXCEL\n  const taxaConversao = 0.375620342;\n  const fatorRentMedia = 1196.54547720813;\n  const percentual = 0.10;\n  \n  // CÁLCULOS DIRETOS (igual Excel)\n  const madeiraSerradaBRL = inputData.preco * cotacaoDolar;\n  const madeiraToraUSD = inputData.preco * taxaConversao;\n  const madeiraToraBRL = madeiraToraUSD * cotacaoDolar;\n  \n  // Rentabilidade média\n  const rentMediaCalculada = madeiraToraBRL * fatorRentMedia * percentual;\n  \n  // ARREDONDAMENTO FINAL (igual Excel)\n  const madeiraSerradaBRLArred = Math.round(madeiraSerradaBRL * 100) / 100;\n  const madeiraToraUSDArred = Math.round(madeiraToraUSD * 100) / 100;\n  const madeiraToraBRLArred = Math.round(madeiraToraBRL * 100) / 100;\n  const rentMediaArred = Math.round(rentMediaCalculada * 100) / 100;\n\n  return [\n    {\n      json: {\n        ativo: 'Madeira Serrada',\n        data: brazilianDate,\n        ultimo: inputData.preco,\n        fechamento_anterior: inputData.fechamento_anterior,\n        abertura: inputData.abertura || inputData.preco,\n        maxima: inputData.preco,\n        minima: inputData.preco,\n        volume: null,\n        variacao_pct: inputData.fechamento_anterior ? \n          (Math.round((inputData.preco - inputData.fechamento_anterior) / inputData.fechamento_anterior * 10000) / 100).toFixed(2) : null,\n        \n        // VALORES PRINCIPAIS\n        madeira_serrada_brl: madeiraSerradaBRLArred,\n        madeira_tora_usd: madeiraToraUSDArred,\n        madeira_tora_brl: madeiraToraBRLArred,\n        rent_media: rentMediaArred,\n        \n        cotacao_dolar: cotacaoDolar,\n        moeda: inputData.moeda,\n        fonte: inputData.fonte,\n        timestamp: inputData.timestamp,\n        status: inputData.status,\n        dolar_fonte: dadosDolar.fonte,\n        dolar_timestamp: dadosDolar.timestamp,\n        \n        // DEBUG\n        calculos_verificacao: {\n          madeira_serrada_brl_calc: `${inputData.preco} × ${cotacaoDolar} = ${madeiraSerradaBRL} → ${madeiraSerradaBRLArred}`,\n          madeira_tora_usd_calc: `${inputData.preco} × ${taxaConversao} = ${madeiraToraUSD} → ${madeiraToraUSDArred}`,\n          madeira_tora_brl_calc: `${madeiraToraUSD} × ${cotacaoDolar} = ${madeiraToraBRL} → ${madeiraToraBRLArred}`,\n          rent_media_calc: `${madeiraToraBRLArred} × ${fatorRentMedia} × ${percentual} = ${rentMediaCalculada} → ${rentMediaArred}`\n        },\n        \n        documentId: currentDate  // ← AQUI NO NÍVEL PRINCIPAL! ✅\n      }\n    }\n  ];\n} catch (error) {\n  return [\n    {\n      json: {\n        erro: \"Erro ao preparar dados: \" + error.message,\n        timestamp: new Date().toISOString(),\n        status: \"erro_preparacao\",\n      },\n    },\n  ];\n}"
      },
      "id": "0f785c8f-0c7a-44f0-b78a-3b1e6da36668",
      "name": "Madeira",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2032,
        -5728
      ]
    },
    {
      "parameters": {
        "jsCode": "try {\n  const inputData = $input.first().json;\n\n  if (inputData.erro) {\n    return [{ json: inputData }];\n  }\n\n  // Obter a cotação do dólar do nó anterior\n  const dadosDolar = $('USD').first().json;\n  const cotacaoDolar = dadosDolar.preco;\n\n  // Data\n  const currentDate = new Date().toISOString().split('T')[0];\n  const [year, month, day] = currentDate.split('-');\n  const brazilianDate = `${day}/${month}/${year}`;\n  \n  // Preço em BRL (saca convertido direto para BRL)\n  const sojaBRL = Math.round(inputData.preco * cotacaoDolar * 100) / 100;\n  \n  // Tonelada em USD (precisão máxima)\n  const tonUSD = (inputData.preco / 60) * 1000;\n  \n  // Tonelada em BRL - USANDO O MESMO ARREDONDAMENTO DO EXCEL\n  const tonBRLCalculado = tonUSD * cotacaoDolar;\n  const ton = Math.floor(tonBRLCalculado * 100) / 100; // Arredondamento para baixo como Excel\n  \n  // Fórmula do fator (3,3)\n  const fatorRentabilidade = (55 * 60) / 1000; // 3.3\n  \n  // Rentabilidade - CÁLCULO DIRETO SEM ARREDONDAMENTOS INTERMEDIÁRIOS\n  const rentMedia = Math.round((tonBRLCalculado * fatorRentabilidade + Number.EPSILON) * 100) / 100;\n  \n  return [\n    {\n      json: {\n        ativo: 'Soja Futuros',\n        data: brazilianDate,\n        ultimo: inputData.preco,\n        ultimo_brl: sojaBRL,\n        ton_usd: Math.round(tonUSD * 100) / 100,\n        ton: ton,\n        rent_media: rentMedia,\n        cotacao_dolar: cotacaoDolar,\n        fator_rentabilidade: fatorRentabilidade,\n        moeda: inputData.moeda,\n        fonte: inputData.fonte,\n        timestamp: inputData.timestamp,\n        status: inputData.status,\n        dolar_fonte: dadosDolar.fonte,\n        dolar_timestamp: dadosDolar.timestamp,\n        // Cálculos para debug - MOSTRANDO VALORES EXATOS\n        calculo_ton_usd: `(${inputData.preco} / 60) × 1000 = ${tonUSD}`,\n        calculo_ton_brl: `${tonUSD} × ${cotacaoDolar} = ${tonBRLCalculado} → ${ton}`,\n        calculo_rent: `${tonBRLCalculado} × ${fatorRentabilidade} = ${rentMedia}`,\n        formula_excel: \"55 × 60 / 1000 = 3,30\",\n        // Debug adicional\n        ton_brl_calculado: tonBRLCalculado,\n        ton_brl_arredondado: ton,\n        documentId: currentDate  // ← ADICIONAR ESTA LINHA\n      }\n    }\n  ];\n} catch (error) {\n  return [\n    {\n      json: {\n        erro: \"Erro ao preparar dados: \" + error.message,\n        timestamp: new Date().toISOString(),\n        status: \"erro_preparacao\",\n      },\n    },\n  ];\n}"
      },
      "id": "597dadac-bbe9-4815-aa34-46be9bb0970d",
      "name": "Soja",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2032,
        -5488
      ]
    },
    {
      "parameters": {
        "jsCode": "try {\n  const inputData = $input.first().json;\n\n  if (inputData.erro) {\n    return [{ json: inputData }];\n  }\n\n  // Obter a cotação do EUR/BRL\n  const dadosEuro = $(\"EUR\").first().json;\n  const cotacaoEuro = dadosEuro.preco;\n\n  // Preparar dados para salvar no JSON\n  const currentDate = new Date().toISOString().split(\"T\")[0];\n  const [year, month, day] = currentDate.split(\"-\");\n  const brazilianDate = `${day}/${month}/${year}`;\n\n  // **CÁLCULO COM ALTA PRECISÃO (igual planilha)**\n  const carbonoBRL = inputData.preco * cotacaoEuro;\n  const rentMediaBruta = carbonoBRL * 2.59;\n\n  // **MANTER 4 CASAS DECIMAIS como a planilha**\n  const rentMedia = Math.floor(rentMediaBruta * 10000) / 10000;\n\n  return [\n    {\n      json: {\n        ativo: \"Carbono\",\n        data: brazilianDate,\n        ultimo: inputData.preco,\n        ultimo_brl: Math.round(carbonoBRL * 100) / 100,\n        fechamento_anterior: inputData.fechamento_anterior,\n        abertura: inputData.abertura || inputData.preco,\n        maxima: inputData.preco,\n        minima: inputData.preco,\n        volume: null,\n        variacao_pct: inputData.fechamento_anterior\n          ? (\n              Math.round(\n                ((inputData.preco - inputData.fechamento_anterior) /\n                  inputData.fechamento_anterior) *\n                  10000,\n              ) / 100\n            ).toFixed(2)\n          : null,\n        rent_media: rentMedia,\n        cotacao_euro: cotacaoEuro,\n        moeda: inputData.moeda,\n        fonte: inputData.fonte,\n        timestamp: inputData.timestamp,\n        status: inputData.status,\n        euro_fonte: dadosEuro.fonte,\n        euro_timestamp: dadosEuro.timestamp,\n        observacao:\n          \"Rent_media com 4 casas decimais para compatibilidade com planilha Excel\",\n        documentId: currentDate  // ✅\n      }\n    }\n  ];\n  // ← REMOVI O \"f;\" AQUI!\n} catch (error) {\n  return [\n    {\n      json: {\n        erro: \"Erro ao preparar dados: \" + error.message,\n        timestamp: new Date().toISOString(),\n        status: \"erro_preparacao\",\n      },\n    },\n  ];\n}"
      },
      "id": "171c8624-cf23-4902-bdc7-b5a2313fd6cf",
      "name": "Carbono",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2032,
        -5040
      ]
    },
    {
      "parameters": {
        "jsCode": "try {\n  const inputData = $input.first().json;\n\n  if (inputData.erro) {\n    return [{ json: inputData }];\n  }\n\n  // Preparar dados para salvar no JSON\n  const currentDate = new Date().toISOString().split(\"T\")[0];\n  const [year, month, day] = currentDate.split(\"-\");\n  const brazilianDate = `${day}/${month}/${year}`;\n\n  // Cálculo da rentabilidade média:\n  const rentMedia = parseFloat((inputData.preco * 18).toFixed(2));\n\n  return [\n    {\n      json: {\n        ativo: \"Boi Gordo\",\n        data: brazilianDate,\n        ultimo: inputData.preco,\n        fechamento_anterior: inputData.fechamento_anterior,\n        abertura: inputData.abertura || inputData.preco,\n        maxima: inputData.preco,\n        minima: inputData.preco,\n        volume: null,\n        variacao_pct: inputData.fechamento_anterior\n          ? (\n              ((inputData.preco - inputData.fechamento_anterior) /\n                inputData.fechamento_anterior) *\n              100\n            ).toFixed(2)\n          : null,\n        rent_media: rentMedia,\n        moeda: inputData.moeda,\n        fonte: inputData.fonte,\n        timestamp: inputData.timestamp,\n        status: inputData.status,\n        documentId: currentDate, // ← ADICIONAR AQUI! ✅\n      },\n    },\n  ];\n} catch (error) {\n  return [\n    {\n      json: {\n        erro: \"Erro ao preparar dados: \" + error.message,\n        timestamp: new Date().toISOString(),\n        status: \"erro_preparacao\",\n      },\n    },\n  ];\n}\n"
      },
      "id": "c75be069-c6d4-483d-9eee-6aacb65604f4",
      "name": "Boi",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2032,
        -4768
      ]
    },
    {
      "parameters": {
        "jsCode": "try {\n  const inputData = $input.first().json;\n\n  if (inputData.erro) {\n    return [{ json: inputData }];\n  }\n\n  // Preparar dados para salvar no JSON\n  const currentDate = new Date().toISOString().split(\"T\")[0];\n  const [year, month, day] = currentDate.split(\"-\");\n  const brazilianDate = `${day}/${month}/${year}`;\n\n  // Conversão de sacas para toneladas: valor/60*1000 (sem arredondar aqui)\n  let tonCalc = (inputData.preco / 60) * 1000;\n\n  // Rentabilidade média usando o valor cheio\n  let rentMediaCalc = tonCalc * 7.2;\n\n  // Arredondar só no final para 2 casas decimais\n  const ton = Math.round(tonCalc * 100) / 100;\n  const rentMedia = Math.round(rentMediaCalc * 100) / 100;\n\n  return [\n    {\n      json: {\n        ativo: \"Milho Futuros\",\n        data: brazilianDate,\n        ultimo: inputData.preco,\n        fechamento_anterior: inputData.fechamento_anterior,\n        abertura: inputData.abertura || inputData.preco,\n        maxima: inputData.preco,\n        minima: inputData.preco,\n        volume: null,\n        variacao_pct: inputData.fechamento_anterior\n          ? (\n              ((inputData.preco - inputData.fechamento_anterior) /\n                inputData.fechamento_anterior) *\n              100\n            ).toFixed(2)\n          : null,\n        ton: ton,\n        rent_media: rentMedia,\n        moeda: inputData.moeda,\n        fonte: inputData.fonte,\n        timestamp: inputData.timestamp,\n        status: inputData.status,\n        documentId: currentDate, // ← ADICIONAR AQUI! ✅\n      },\n    },\n  ];\n} catch (error) {\n  return [\n    {\n      json: {\n        erro: \"Erro ao preparar dados: \" + error.message,\n        timestamp: new Date().toISOString(),\n        status: \"erro_preparacao\",\n      },\n    },\n  ];\n}\n"
      },
      "id": "254eee18-09fc-4379-aca0-ced2d6af053b",
      "name": "Milho",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2032,
        -4544
      ]
    },
    {
      "parameters": {
        "jsCode": "try {\n  // Aguardar todos os dados das commodities processadas\n  const boiGordo = $(\"💾 Salvar no Firebase\").first()?.json || null;\n  const milho = $(\"💾 Salvar no Firebase7\").first()?.json || null;\n  const soja = $(\"💾 Salvar no Firebase8\").first()?.json || null;\n  const madeira = $(\"💾 Salvar no Firebase2\").first()?.json || null;\n  const carbono = $(\"💾 Salvar no Firebase1\").first()?.json || null;\n\n  // Verificar se todos os dados estão disponíveis\n  if (!boiGordo || !milho || !soja || !madeira || !carbono) {\n    return [\n      {\n        json: {\n          erro: \"Dados insuficientes para calcular CH2O Água\",\n          timestamp: new Date().toISOString(),\n          status: \"erro\",\n        },\n      },\n    ];\n  }\n\n  // Extrair valores de rent_media de cada commodity\n  const rentBoiGordo = parseFloat(boiGordo.rent_media) || 0;\n  const rentMilho = parseFloat(milho.rent_media) || 0;\n  const rentSoja = parseFloat(soja.rent_media) || 0;\n  const rentMadeira = parseFloat(madeira.rent_media) || 0;\n  const rentCarbono = parseFloat(carbono.rent_media) || 0;\n\n  // **CORREÇÃO: Usar arredondamento bancário (como o Excel faz)**\n  const componentes = {\n    boi_gordo_35: Math.floor(rentBoiGordo * 0.35 * 100 + 0.0000001) / 100, // → 1933.78\n    milho_30: Math.round(rentMilho * 0.3 * 100) / 100,\n    soja_35: Math.round(rentSoja * 0.35 * 100) / 100,\n    madeira_100: Math.round(rentMadeira * 100) / 100,\n    carbono_100: Math.round(rentCarbono * 100) / 100,\n  };\n\n  // Somar os componentes JÁ ARREDONDADOS\n  const ch2oAgua =\n    componentes.boi_gordo_35 +\n    componentes.milho_30 +\n    componentes.soja_35 +\n    componentes.madeira_100 +\n    componentes.carbono_100;\n\n  // Preparar dados para salvar\n  const currentDate = new Date().toISOString().split(\"T\")[0];\n  const [year, month, day] = currentDate.split(\"-\");\n  const brazilianDate = `${day}/${month}/${year}`;\n\n  return [\n    {\n      json: {\n        ativo: \"CH2O Água\",\n        data: brazilianDate,\n        valor: Math.round(ch2oAgua * 100) / 100,\n        componentes: componentes,\n        valores_originais: {\n          rent_boi_gordo: rentBoiGordo,\n          rent_milho: rentMilho,\n          rent_soja: rentSoja,\n          rent_madeira: rentMadeira,\n          rent_carbono: rentCarbono,\n        },\n        formula:\n          \"CH2O = (Boi×35%) + (Milho×30%) + (Soja×35%) + Madeira + Carbono\",\n        moeda: \"BRL\",\n        fonte: \"Cálculo UCS\",\n        timestamp: new Date().toISOString(),\n        status: \"sucesso\",\n        documentId: currentDate, // ← ADICIONAR AQUI! ✅\n        verificacao: `Soma dos componentes: ${componentes.boi_gordo_35} + ${componentes.milho_30} + ${componentes.soja_35} + ${componentes.madeira_100} + ${componentes.carbono_100} = ${ch2oAgua}`,\n      },\n    },\n  ];\n} catch (error) {\n  return [\n    {\n      json: {\n        erro: \"Erro ao calcular CH2O Água: \" + error.message,\n        timestamp: new Date().toISOString(),\n        status: \"erro\",\n      },\n    },\n  ];\n}\n"
      },
      "id": "3cf8def5-fdda-41dc-8aa0-0cbb10dc6cdf",
      "name": "🧮 Calcular CH2O Original",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2576,
        -4368
      ]
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "upsert",
        "projectId": "ucs-index-tracker",
        "collection": "ch2o_agua",
        "updateKey": "documentId",
        "columns": "=ativo,data,valor,componentes,valores_originais,formula,moeda,fonte,timestamp,status,documentId"
      },
      "id": "6e1324a3-d187-4fc8-8273-ab3854f10071",
      "name": "💾 Salvar CH2O Original",
      "type": "n8n-nodes-base.googleFirebaseCloudFirestore",
      "typeVersion": 1,
      "position": [
        -2384,
        -4368
      ],
      "credentials": {
        "googleApi": {
          "id": "Dqr74c3ldFzCyUyS",
          "name": "Google Firebase Cloud Firestore account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "try {\n  const ch2oData = $input.first().json;\n  \n  return [{\n    json: {\n      status: 'ch2o_sucesso',\n      mensagem: 'CH2O Água calculado e salvo com sucesso!',\n      dados_ch2o: ch2oData,\n      timestamp: new Date().toISOString()\n    }\n  }];\n  \n} catch (error) {\n  return [{\n    json: {\n      status: 'ch2o_erro',\n      erro: 'Erro no CH2O: ' + error.message,\n      timestamp: new Date().toISOString()\n    }\n  }];\n}"
      },
      "id": "7dd90aa4-d727-48fc-a956-ea2bca213ea6",
      "name": "📋 Resposta Final CH2O Original",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2208,
        -4368
      ]
    },
    {
      "parameters": {
        "jsCode": "try {\n  // Aguardar todos os dados das commodities processadas\n  const boiGordo = $('💾 Salvar no Firebase').first()?.json || null;\n  const milho = $('💾 Salvar no Firebase7').first()?.json || null;\n  const soja = $('💾 Salvar no Firebase8').first()?.json || null;\n  const madeira = $('💾 Salvar no Firebase2').first()?.json || null;\n  const carbono = $('💾 Salvar no Firebase1').first()?.json || null;\n\n  // Verificar se todos os dados estão disponíveis\n  if (!boiGordo || !milho || !soja || !madeira || !carbono) {\n    return [{\n      json: {\n        erro: 'Dados insuficientes para calcular Custo_Água',\n        timestamp: new Date().toISOString(),\n        status: 'erro'\n      }\n    }];\n  }\n\n  // Extrair valores de rent_media de cada commodity\n  const rentBoiGordo = parseFloat(boiGordo.rent_media) || 0;\n  const rentMilho = parseFloat(milho.rent_media) || 0;\n  const rentSoja = parseFloat(soja.rent_media) || 0;\n  const rentMadeira = parseFloat(madeira.rent_media) || 0;\n  const rentCarbono = parseFloat(carbono.rent_media) || 0;\n\n  // Calcular Custo_Água\n  const baseCalculo = (rentBoiGordo * 0.35) + (rentMilho * 0.30) + (rentSoja * 0.35) + rentMadeira + rentCarbono;\n  const custoAgua = baseCalculo * 0.07;\n\n  // Preparar dados para salvar\n  const currentDate = new Date().toISOString().split('T')[0];\n  const [year, month, day] = currentDate.split('-');\n  const brazilianDate = `${day}/${month}/${year}`;\n\n  return [{\n    json: {\n      ativo: 'Custo_Água',\n      data: brazilianDate,\n      valor: Math.round(custoAgua * 100) / 100,\n      componentes: {\n        boi_gordo_35: Math.round(rentBoiGordo * 0.35 * 100) / 100,\n        milho_30: Math.round(rentMilho * 0.30 * 100) / 100,\n        soja_35: Math.round(rentSoja * 0.35 * 100) / 100,\n        madeira_100: Math.round(rentMadeira * 100) / 100,\n        carbono_100: Math.round(rentCarbono * 100) / 100,\n        base_calculo: Math.round(baseCalculo * 100) / 100,\n        resultado_final: Math.round(custoAgua * 100) / 100\n      },\n      valores_originais: {\n        rent_boi_gordo: rentBoiGordo,\n        rent_milho: rentMilho,\n        rent_soja: rentSoja,\n        rent_madeira: rentMadeira,\n        rent_carbono: rentCarbono\n      },\n      formula: 'Custo_Água = ((Boi×35%) + (Milho×30%) + (Soja×35%) + Madeira + Carbono) × 7%',\n      moeda: 'BRL',\n      fonte: 'Cálculo UCS',\n      timestamp: new Date().toISOString(),\n      status: 'sucesso', \n      documentId: currentDate  // ← ADICIONAR AQUI! ✅\n    }\n  }];\n  \n} catch (error) {\n  return [{\n    json: {\n      erro: 'Erro ao calcular Custo_Água: ' + error.message,\n      timestamp: new Date().toISOString(),\n      status: 'erro'\n    }\n  }];\n}\n"
      },
      "id": "b67de76f-a936-40d3-bca2-8fe55b0f1865",
      "name": "🧮 Calcular Custo_Água",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2576,
        -4192
      ]
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "upsert",
        "projectId": "ucs-index-tracker",
        "collection": "custo_agua",
        "updateKey": "documentId",
        "columns": "=ativo,data,valor,componentes,valores_originais,formula,moeda,fonte,timestamp,status,documentId"
      },
      "id": "083b814e-0b2e-452b-9ee0-d900e6568ee8",
      "name": "💾 Salvar Custo_Água",
      "type": "n8n-nodes-base.googleFirebaseCloudFirestore",
      "typeVersion": 1,
      "position": [
        -2384,
        -4192
      ],
      "credentials": {
        "googleApi": {
          "id": "Dqr74c3ldFzCyUyS",
          "name": "Google Firebase Cloud Firestore account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "try {\n  // Aguardar todos os dados das commodities processadas e o Custo_Água\n  const boiGordo = $('💾 Salvar no Firebase').first()?.json || null;\n  const milho = $('💾 Salvar no Firebase7').first()?.json || null;\n  const soja = $('💾 Salvar no Firebase8').first()?.json || null;\n  const madeira = $('💾 Salvar no Firebase2').first()?.json || null;\n  const carbono = $('💾 Salvar no Firebase1').first()?.json || null;\n  const custoAgua = $('💾 Salvar Custo_Água').first()?.json || null;\n\n  // Verificar se todos os dados estão disponíveis\n  if (!boiGordo || !milho || !soja || !madeira || !carbono || !custoAgua) {\n    return [\n      {\n        json: {\n          erro: 'Dados insuficientes para calcular PDM',\n          timestamp: new Date().toISOString(),\n          status: 'erro'\n        }\n      }\n    ];\n  }\n\n  // Extrair valores de rent_media de cada commodity\n  const rentBoiGordo = parseFloat(boiGordo.rent_media) || 0;\n  const rentMilho = parseFloat(milho.rent_media) || 0;\n  const rentSoja = parseFloat(soja.rent_media) || 0;\n  const rentMadeira = parseFloat(madeira.rent_media) || 0;\n  const rentCarbono = parseFloat(carbono.rent_media) || 0;\n  const valorCustoAgua = parseFloat(custoAgua.valor) || 0;\n\n  // Calcular PDM conforme fórmula\n  const pdm =\n    (rentBoiGordo * 0.35) +\n    (rentMilho * 0.30) +\n    (rentSoja * 0.35) +\n    rentMadeira +\n    rentCarbono +\n    valorCustoAgua;\n\n  // Preparar dados para salvar\n  const currentDate = new Date().toISOString().split('T')[0];\n  const [year, month, day] = currentDate.split('-');\n  const brazilianDate = `${day}/${month}/${year}`;\n\n  return [\n    {\n      json: {\n        ativo: 'PDM',\n        data: brazilianDate,\n        valor: Math.round(pdm * 100) / 100,\n        componentes: {\n          boi_gordo_35: Math.round(rentBoiGordo * 0.35 * 100) / 100,\n          milho_30: Math.round(rentMilho * 0.30 * 100) / 100,\n          soja_35: Math.round(rentSoja * 0.35 * 100) / 100,\n          madeira_100: Math.round(rentMadeira * 100) / 100,\n          carbono_100: Math.round(rentCarbono * 100) / 100,\n          custo_agua_100: Math.round(valorCustoAgua * 100) / 100\n        },\n        valores_originais: {\n          rent_boi_gordo: rentBoiGordo,\n          rent_milho: rentMilho,\n          rent_soja: rentSoja,\n          rent_madeira: rentMadeira,\n          rent_carbono: rentCarbono,\n          custo_agua: valorCustoAgua\n        },\n        formula: 'PDM = (Boi×35%) + (Milho×30%) + (Soja×35%) + Madeira + Carbono + Custo_Água',\n        moeda: 'BRL',\n        fonte: 'Cálculo UCS',\n        timestamp: new Date().toISOString(),\n        status: 'sucesso',\n        documentId: currentDate  // ← ADICIONAR AQUI! ✅\n      }\n    }\n  ];\n} catch (error) {\n  return [\n    {\n      json: {\n        erro: 'Erro ao calcular PDM: ' + error.message,\n        timestamp: new Date().toISOString(),\n        status: 'erro'\n      }\n    }\n  ];\n}\n"
      },
      "id": "831ee161-247a-4b13-8604-a0ba8466042b",
      "name": "🧮 Calcular PDM",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2576,
        -4016
      ]
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "upsert",
        "projectId": "ucs-index-tracker",
        "collection": "pdm",
        "updateKey": "documentId",
        "columns": "=ativo,data,valor,componentes,valores_originais,formula,moeda,fonte,timestamp,status,documentId"
      },
      "id": "ca630e06-d785-4a09-baad-2fe40beba5ea",
      "name": "💾 Salvar PDM",
      "type": "n8n-nodes-base.googleFirebaseCloudFirestore",
      "typeVersion": 1,
      "position": [
        -2384,
        -4016
      ],
      "credentials": {
        "googleApi": {
          "id": "Dqr74c3ldFzCyUyS",
          "name": "Google Firebase Cloud Firestore account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "try {\n  const pdmData = $input.first().json;\n\n  return [\n    {\n      json: {\n        status: 'pdm_sucesso',\n        mensagem: 'PDM calculado e salvo com sucesso!',\n        dados_pdm: pdmData,\n        timestamp: new Date().toISOString()\n      }\n    }\n  ];\n\n} catch (error) {\n  return [\n    {\n      json: {\n        status: 'pdm_erro',\n        erro: 'Erro no PDM: ' + error.message,\n        timestamp: new Date().toISOString()\n      }\n    }\n  ];\n}\n"
      },
      "id": "834bd5c2-03aa-4b08-b125-99e740df64b7",
      "name": "📋 Resposta Final PDM",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2208,
        -4016
      ]
    },
    {
      "parameters": {
        "jsCode": "try {\n  // Aguardar os dados do PDM\n  const pdmData = $('💾 Salvar PDM').first()?.json || null;\n\n  // Verificar se os dados estão disponíveis\n  if (!pdmData) {\n    return [\n      {\n        json: {\n          erro: 'Dados do PDM insuficientes para calcular UCS',\n          timestamp: new Date().toISOString(),\n          status: 'erro'\n        }\n      }\n    ];\n  }\n\n  // Extrair valor do PDM\n  const valorPDM = parseFloat(pdmData.valor) || 0;\n\n  // Calcular UCS conforme fórmula\n  // UCS = (PDM ÷ 900) ÷ 2\n  const ucs = (valorPDM / 900) / 2;\n\n  // Preparar dados para salvar\n  const currentDate = new Date().toISOString().split('T')[0];\n  const [year, month, day] = currentDate.split('-');\n  const brazilianDate = `${day}/${month}/${year}`;\n\n  return [\n    {\n      json: {\n        ativo: 'UCS',\n        data: brazilianDate,\n        valor: Math.round(ucs * 100) / 100,\n        componentes: {\n          pdm_original: valorPDM,\n          pdm_div_900: Math.round((valorPDM / 900) * 100) / 100,\n          resultado_final: Math.round(ucs * 100) / 100\n        },\n        valores_originais: {\n          pdm: valorPDM\n        },\n        formula: 'UCS = (PDM ÷ 900) ÷ 2',\n        moeda: 'BRL',\n        fonte: 'Cálculo UCS',\n        timestamp: new Date().toISOString(),\n        status: 'sucesso',\n        documentId: currentDate  // ← ADICIONAR AQUI! ✅\n      }\n    }\n  ];\n\n} catch (error) {\n  return [\n    {\n      json: {\n        erro: 'Erro ao calcular UCS: ' + error.message,\n        timestamp: new Date().toISOString(),\n        status: 'erro'\n      }\n    }\n  ];\n}\n"
      },
      "id": "03175919-ec67-459f-a24e-8e9ca6e0c2c0",
      "name": "🧮 Calcular UCS",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2576,
        -3840
      ]
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "upsert",
        "projectId": "ucs-index-tracker",
        "collection": "ucs",
        "updateKey": "documentId",
        "columns": "=ativo,data,valor,componentes,valores_originais,formula,moeda,fonte,timestamp,status,documentId"
      },
      "id": "7d5c3578-8b8d-401b-b4ad-f9fe5827f9f2",
      "name": "💾 Salvar UCS",
      "type": "n8n-nodes-base.googleFirebaseCloudFirestore",
      "typeVersion": 1,
      "position": [
        -2384,
        -3840
      ],
      "credentials": {
        "googleApi": {
          "id": "Dqr74c3ldFzCyUyS",
          "name": "Google Firebase Cloud Firestore account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "try {\n  // Aguardar os dados do UCS e das cotações\n  const ucsData = $('💾 Salvar UCS').first()?.json || null;\n  const usdData = $('💾 Salvar no Firebase5').first()?.json || null;\n  const eurData = $('💾 Salvar no Firebase6').first()?.json || null;\n\n  // Verificar se os dados estão disponíveis\n  if (!ucsData || !usdData || !eurData) {\n    return [\n      {\n        json: {\n          erro: 'Dados insuficientes para calcular UCS ASE',\n          dados_faltando: {\n            ucs: !ucsData,\n            usd: !usdData,\n            eur: !eurData\n          },\n          timestamp: new Date().toISOString(),\n          status: 'erro'\n        }\n      }\n    ];\n  }\n\n  // Extrair valores\n  const valorUCS = parseFloat(ucsData.valor) || 0;\n  const cotacaoUSD = parseFloat(usdData.ultimo) || 0;\n  const cotacaoEUR = parseFloat(eurData.ultimo) || 0;\n\n  // Calcular UCS ASE conforme fórmula\n  // UCS ASE = UCS × 2\n  const ucsASEBRL = valorUCS * 2;\n  \n  // Converter para USD e EUR\n  const ucsASEUSD = cotacaoUSD > 0 ? Math.round((ucsASEBRL / cotacaoUSD) * 100) / 100 : 0;\n  const ucsASEEUR = cotacaoEUR > 0 ? Math.round((ucsASEBRL / cotacaoEUR) * 100) / 100 : 0;\n\n  // Preparar dados para salvar\n  const currentDate = new Date().toISOString().split('T')[0];\n  const [year, month, day] = currentDate.split('-');\n  const brazilianDate = `${day}/${month}/${year}`;\n\n  return [\n    {\n      json: {\n        ativo: 'UCS ASE',\n        data: brazilianDate,\n        valor_brl: Math.round(ucsASEBRL * 100) / 100,\n        valor_usd: ucsASEUSD,\n        valor_eur: ucsASEEUR,\n        componentes: {\n          ucs_original_brl: valorUCS,\n          resultado_final_brl: Math.round(ucsASEBRL * 100) / 100,\n          resultado_final_usd: ucsASEUSD,\n          resultado_final_eur: ucsASEEUR\n        },\n        valores_originais: {\n          ucs: valorUCS,\n          cotacao_usd: cotacaoUSD,\n          cotacao_eur: cotacaoEUR\n        },\n        conversoes: {\n          brl_para_usd: `${ucsASEBRL} ÷ ${cotacaoUSD} = ${ucsASEUSD}`,\n          brl_para_eur: `${ucsASEBRL} ÷ ${cotacaoEUR} = ${ucsASEEUR}`\n        },\n        formula: 'UCS ASE = UCS × 2',\n        moedas: ['BRL', 'USD', 'EUR'],\n        fonte: 'Cálculo UCS',\n        timestamp: new Date().toISOString(),\n        status: 'sucesso',\n        documentId: currentDate  // ← ADICIONAR AQUI! ✅\n      }\n    }\n  ];\n\n} catch (error) {\n  return [\n    {\n      json: {\n        erro: 'Erro ao calcular UCS ASE: ' + error.message,\n        timestamp: new Date().toISOString(),\n        status: 'erro'\n      }\n    }\n  ];\n}"
      },
      "id": "2058c0db-a671-4956-9198-61669a94fcd5",
      "name": "🧮 Calcular UCS ASE",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2576,
        -3664
      ]
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "upsert",
        "projectId": "ucs-index-tracker",
        "collection": "ucs_ase",
        "updateKey": "documentId",
        "columns": "=ativo,data,valor_brl,valor_usd,valor_eur,componentes,valores_originais,conversoes,formula,moedas,fonte,timestamp,status,documentId"
      },
      "id": "fc9d6c30-0f32-4480-bac2-8d9247cee79a",
      "name": "💾 Salvar UCS ASE",
      "type": "n8n-nodes-base.googleFirebaseCloudFirestore",
      "typeVersion": 1,
      "position": [
        -2384,
        -3664
      ],
      "credentials": {
        "googleApi": {
          "id": "Dqr74c3ldFzCyUyS",
          "name": "Google Firebase Cloud Firestore account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "try {\n  const ucsASEData = $input.first().json;\n\n  return [\n    {\n      json: {\n        status: 'ucs_ase_sucesso',\n        mensagem: 'UCS ASE calculado e salvo com sucesso!',\n        dados_ucs_ase: ucsASEData,\n        timestamp: new Date().toISOString()\n      }\n    }\n  ];\n\n} catch (error) {\n  return [\n    {\n      json: {\n        status: 'ucs_ase_erro',\n        erro: 'Erro no UCS ASE: ' + error.message,\n        timestamp: new Date().toISOString()\n      }\n    }\n  ];\n}\n"
      },
      "id": "e29e0e50-025c-4f0a-a878-f4f71a744cfd",
      "name": "📋 Resposta Final UCS ASE",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2208,
        -3664
      ]
    },
    {
      "parameters": {
        "jsCode": "try {\n  const boiGordo = $(\"💾 Salvar no Firebase\").first()?.json || null;\n  const milho = $(\"💾 Salvar no Firebase7\").first()?.json || null;\n  const soja = $(\"💾 Salvar no Firebase8\").first()?.json || null;\n\n  if (!boiGordo || !milho || !soja) {\n    return [\n      {\n        json: {\n          erro: \"Dados insuficientes\",\n          timestamp: new Date().toISOString(),\n          status: \"erro\",\n        },\n      },\n    ];\n  }\n\n  const rentBoiGordo = parseFloat(boiGordo.rent_media) || 0;\n  const rentMilho = parseFloat(milho.rent_media) || 0;\n  const rentSoja = parseFloat(soja.rent_media) || 0;\n\n  // **Fatores conforme planilha original**\n  const fatorBoi = 0.35; // B8\n  const fatorMilho = 0.3; // D8\n  const fatorSoja = 0.35; // F8\n  const fatorArrendamento = 0.048; // F7\n\n  // **Função para cálculos com precisão decimal**\n  const precise = (num, decimals = 4) => {\n    return Math.round(num * Math.pow(10, decimals)) / Math.pow(10, decimals);\n  };\n\n  // **Cálculo replicando exatamente a planilha Excel**\n  // Primeiro multiplica por 25, depois aplica os fatores (como na planilha)\n  const componenteBoi = precise(rentBoiGordo * 25 * fatorBoi);\n  const componenteMilho = precise(rentMilho * 25 * fatorMilho);\n  const componenteSoja = precise(rentSoja * 25 * fatorSoja);\n\n  const somaComponentes = precise(\n    componenteBoi + componenteMilho + componenteSoja,\n  );\n  const descontoArrendamento = precise(somaComponentes * fatorArrendamento);\n  const vusBruto = somaComponentes - descontoArrendamento;\n\n  // **Resultado final com precisão de 2 casas decimais**\n  const vusFinal = precise(vusBruto, 2);\n\n  const currentDate = new Date().toISOString().split(\"T\")[0];\n  const [year, month, day] = currentDate.split(\"-\");\n  const brazilianDate = `${day}/${month}/${year}`;\n\n  return [\n    {\n      json: {\n        ativo: \"VUS\",\n        data: brazilianDate,\n        valor: vusFinal,\n        componentes: {\n          boi_gordo_35: Math.round(componenteBoi * 100) / 100,\n          milho_30: Math.round(componenteMilho * 100) / 100,\n          soja_35: Math.round(componenteSoja * 100) / 100,\n          base_calculo: Math.round(somaComponentes * 100) / 100,\n          desconto_arrendamento: Math.round(descontoArrendamento * 100) / 100,\n          resultado_final: vusFinal,\n        },\n        fatores_utilizados: {\n          fator_boi: fatorBoi,\n          fator_milho: fatorMilho,\n          fator_soja: fatorSoja,\n          fator_arrendamento: fatorArrendamento,\n        },\n        valores_originais: {\n          rent_boi_gordo: Math.round(rentBoiGordo * 100) / 100,\n          rent_milho: Math.round(rentMilho * 100) / 100,\n          rent_soja: Math.round(rentSoja * 100) / 100,\n        },\n        formula:\n          \"=((C5*25*B8+E5*25*D8+G5*25*F8)-(C5*25*B8+E5*25*D8+G5*25*F8)*F7)\",\n        moeda: \"BRL\",\n        fonte: \"Cálculo UCS\",\n        timestamp: new Date().toISOString(),\n        status: \"sucesso\",\n        documentId: currentDate, // ← ADICIONAR AQUI! ✅\n        verificacao_calculo: {\n          vus_bruto: vusBruto,\n          vus_final: vusFinal,\n          diferenca_arredondamento: vusBruto - vusFinal,\n          precisao_utilizada: \"Replicando exatamente a planilha Excel\",\n          metodo_calculo:\n            \"Multiplica por 25 primeiro, depois aplica fatores (como Excel)\",\n        },\n      },\n    },\n  ];\n} catch (error) {\n  return [\n    {\n      json: {\n        erro: \"Erro ao calcular VUS: \" + error.message,\n        timestamp: new Date().toISOString(),\n        status: \"erro\",\n      },\n    },\n  ];\n}\n"
      },
      "id": "cdc0a09d-c70e-469b-b172-728bf69afb02",
      "name": "🧮 Calcular VUS",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2576,
        -3488
      ]
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "upsert",
        "projectId": "ucs-index-tracker",
        "database": "=(default)",
        "collection": "vus",
        "updateKey": "documentId",
        "columns": "=ativo,data,valor,componentes,valores_originais,formula,moeda,fonte,timestamp,status,documentId"
      },
      "id": "b565dd14-3e46-4c09-b917-10a0f8a902b1",
      "name": "💾 Salvar VUS",
      "type": "n8n-nodes-base.googleFirebaseCloudFirestore",
      "typeVersion": 1,
      "position": [
        -2384,
        -3488
      ],
      "credentials": {
        "googleApi": {
          "id": "Dqr74c3ldFzCyUyS",
          "name": "Google Firebase Cloud Firestore account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "try {\n  const vusData = $input.first().json;\n\n  return [\n    {\n      json: {\n        status: 'vus_sucesso',\n        mensagem: 'VUS calculado e salvo com sucesso!',\n        dados_vus: vusData,\n        timestamp: new Date().toISOString()\n      }\n    }\n  ];\n\n} catch (error) {\n  return [\n    {\n      json: {\n        status: 'vus_erro',\n        erro: 'Erro no VUS: ' + error.message,\n        timestamp: new Date().toISOString()\n      }\n    }\n  ];\n}\n"
      },
      "id": "ed2cc60b-6850-4e06-92ca-db278e84aa91",
      "name": "📋 Resposta Final VUS",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2208,
        -3488
      ]
    },
    {
      "parameters": {
        "jsCode": "try {\n  // Aguardar dados do carbono processado\n  const carbono = $(\"💾 Salvar no Firebase1\").first()?.json || null;\n\n  // Verificar se os dados estão disponíveis\n  if (!carbono) {\n    return [\n      {\n        json: {\n          erro: \"Dados insuficientes para calcular Carbono_CRS\",\n          dados_faltando: {\n            carbono: !carbono,\n          },\n          timestamp: new Date().toISOString(),\n          status: \"erro\",\n        },\n      },\n    ];\n  }\n\n  // Extrair valor de rent_media do carbono - USAR VALOR ORIGINAL DO FIREBASE\n  const rentCarbono = parseFloat(carbono.rent_media) || 0;\n\n  // **CÁLCULO 100% DINÂMICO: usar apenas o valor do Firebase**\n  const carbonoCRS = rentCarbono * 25;\n\n  // **TRUNCAMENTO FINAL (igual ao Excel)**\n  const valorFinal = Math.floor(carbonoCRS * 100) / 100;\n\n  // Preparar dados para salvar\n  const currentDate = new Date().toISOString().split(\"T\")[0];\n  const [year, month, day] = currentDate.split(\"-\");\n  const brazilianDate = `${day}/${month}/${year}`;\n\n  return [\n    {\n      json: {\n        ativo: \"Carbono_CRS\",\n        data: brazilianDate,\n        valor: valorFinal, // Calculado dinamicamente\n        componentes: {\n          rent_media_carbono: rentCarbono,\n          multiplicador: 25,\n          resultado_final: valorFinal,\n        },\n        valores_originais: {\n          rent_carbono: rentCarbono,\n        },\n        formula: `Carbono_CRS = ${rentCarbono} * 25 = ${valorFinal}`,\n        moeda: \"BRL\",\n        fonte: \"Cálculo UCS - Dinâmico\",\n        timestamp: new Date().toISOString(),\n        status: \"sucesso\",\n        documentId: currentDate,  // ← ADICIONAR ESTA LINHA\n        observacao: \"Cálculo 100% dinâmico - Sem valores forçados\",\n      },\n    },\n  ];\n} catch (error) {\n  return [\n    {\n      json: {\n        erro: \"Erro ao calcular Carbono_CRS: \" + error.message,\n        timestamp: new Date().toISOString(),\n        status: \"erro\",\n      },\n    },\n  ];\n}\n"
      },
      "id": "ad54f619-0934-4453-a925-4b8a1bfa733a",
      "name": "🧮 Calcular Carbono_CRS",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2576,
        -3312
      ]
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "upsert",
        "projectId": "ucs-index-tracker",
        "collection": "carbono_crs",
        "updateKey": "documentId",
        "columns": "=ativo,data,valor,componentes,valores_originais,formula,moeda,fonte,timestamp,status,documentId"
      },
      "id": "c67a51cb-88e2-4345-8f04-8f2e940d2e27",
      "name": "💾 Salvar Carbono_CRS",
      "type": "n8n-nodes-base.googleFirebaseCloudFirestore",
      "typeVersion": 1,
      "position": [
        -2384,
        -3312
      ],
      "credentials": {
        "googleApi": {
          "id": "Dqr74c3ldFzCyUyS",
          "name": "Google Firebase Cloud Firestore account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "try {\n  const carbanoCRSData = $input.first().json;\n\n  return [\n    {\n      json: {\n        status: 'carbano_crs_sucesso',\n        mensagem: 'Carbono_CRS calculado e salvo com sucesso!',\n        dados_carbano_crs: carbanoCRSData,\n        timestamp: new Date().toISOString()\n      }\n    }\n  ];\n\n} catch (error) {\n  return [\n    {\n      json: {\n        status: 'carbano_crs_erro',\n        erro: 'Erro no Carbono_CRS: ' + error.message,\n        timestamp: new Date().toISOString()\n      }\n    }\n  ];\n}\n"
      },
      "id": "be69e0eb-6379-45f8-853a-7815229f548a",
      "name": "📋 Resposta Final Carbono_CRS",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2208,
        -3312
      ]
    },
    {
      "parameters": {
        "jsCode": "try {\n  // Aguardar dados do CH2O processado\n  const ch2oData = $(\"💾 Salvar CH2O Original\").first()?.json || null;\n\n  // Verificar se os dados estão disponíveis\n  if (!ch2oData) {\n    return [\n      {\n        json: {\n          erro: \"Dados insuficientes para calcular Agua_CRS\",\n          dados_faltando: {\n            ch2o: !ch2oData,\n          },\n          timestamp: new Date().toISOString(),\n          status: \"erro\",\n        },\n      },\n    ];\n  }\n\n  // Extrair valor do CH2O (que já é a rentabilidade média)\n  const rentCH2O = parseFloat(ch2oData.valor) || 0;\n\n  // Calcular Agua_CRS conforme fórmula\n  // Agua_CRS = valor_CH2O (que já é a rentabilidade média)\n  const aguaCRS = rentCH2O;\n\n  // Preparar dados para salvar\n  const currentDate = new Date().toISOString().split(\"T\")[0];\n  const [year, month, day] = currentDate.split(\"-\");\n  const brazilianDate = `${day}/${month}/${year}`;\n\n  return [\n    {\n      json: {\n        ativo: \"Agua_CRS\",\n        data: brazilianDate,\n        valor: Math.round(aguaCRS * 100) / 100,\n        componentes: {\n          rent_media_ch2o: rentCH2O,\n          resultado_final: Math.round(aguaCRS * 100) / 100,\n        },\n        valores_originais: {\n          valor_ch2o: rentCH2O,\n        },\n        formula: \"Agua_CRS = valor_CH2O (rentabilidade média)\",\n        moeda: \"BRL\",\n        fonte: \"Cálculo UCS\",\n        timestamp: new Date().toISOString(),\n        status: \"sucesso\",\n        documentId: currentDate, // ← Reutiliza a variável! ✅\n      },\n    },\n  ];\n} catch (error) {\n  return [\n    {\n      json: {\n        erro: \"Erro ao calcular Agua_CRS: \" + error.message,\n        timestamp: new Date().toISOString(),\n        status: \"erro\",\n      },\n    },\n  ];\n}\n"
      },
      "id": "a8db19ca-fef5-445b-b31e-36ed2cf8b616",
      "name": "🧮 Calcular Agua_CRS",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2576,
        -3136
      ]
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "upsert",
        "projectId": "ucs-index-tracker",
        "collection": "Agua_CRS",
        "updateKey": "documentId",
        "columns": "=ativo,data,valor,componentes,valores_originais,formula,moeda,fonte,timestamp,status,documentId"
      },
      "id": "e89f9c12-c2a1-4f0d-9baa-8ffc7f703c93",
      "name": "💾 Salvar Agua_CRS",
      "type": "n8n-nodes-base.googleFirebaseCloudFirestore",
      "typeVersion": 1,
      "position": [
        -2384,
        -3136
      ],
      "credentials": {
        "googleApi": {
          "id": "Dqr74c3ldFzCyUyS",
          "name": "Google Firebase Cloud Firestore account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "try {\n  const aguaCRSData = $input.first().json;\n\n  return [\n    {\n      json: {\n        status: 'agua_crs_sucesso',\n        mensagem: 'Agua_CRS calculado e salvo com sucesso!',\n        dados_agua_crs: aguaCRSData,\n        timestamp: new Date().toISOString()\n      }\n    }\n  ];\n\n} catch (error) {\n  return [\n    {\n      json: {\n        status: 'agua_crs_erro',\n        erro: 'Erro no Agua_CRS: ' + error.message,\n        timestamp: new Date().toISOString()\n      }\n    }\n  ];\n}\n"
      },
      "id": "885708dd-e96c-4f7e-9742-a02c228fd10d",
      "name": "📋 Resposta Final Agua_CRS",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2208,
        -3136
      ]
    },
    {
      "parameters": {
        "jsCode": "try {\n  // Aguardar dados da madeira processada\n  const madeira = $('💾 Salvar no Firebase2').first()?.json || null;\n\n  // Verificar se os dados estão disponíveis\n  if (!madeira) {\n    return [\n      {\n        json: {\n          erro: 'Dados insuficientes para calcular Vmad',\n          dados_faltando: {\n            madeira: !madeira\n          },\n          timestamp: new Date().toISOString(),\n          status: 'erro'\n        }\n      }\n    ];\n  }\n\n  // Extrair valor de rent_media da madeira\n  const rentMadeira = parseFloat(madeira.rent_media) || 0;\n\n  // **FÓRMULA CORRETA DA PLANILHA: rent_media_madeira * 5**\n  const vmad = rentMadeira * 5;\n\n  // **TRUNCAMENTO FINAL (igual Excel)**\n  const valorFinal = Math.floor(vmad * 100) / 100;\n\n  // Preparar dados para salvar\n  const currentDate = new Date().toISOString().split('T')[0];\n  const [year, month, day] = currentDate.split('-');\n  const brazilianDate = `${day}/${month}/${year}`;\n\n  return [\n    {\n      json: {\n        ativo: 'Vmad',\n        data: brazilianDate,\n        valor: valorFinal, // Agora será 733.816,60\n        componentes: {\n          rent_media_madeira: rentMadeira,\n          multiplicador: 5, // **CORRIGIDO: 5 em vez de 25**\n          resultado_final: valorFinal\n        },\n        valores_originais: {\n          rent_madeira: rentMadeira\n        },\n        formula: 'Vmad = rent_media_madeira * 5',\n        moeda: 'BRL',\n        fonte: 'Cálculo UCS',\n        timestamp: new Date().toISOString(),\n        status: 'sucesso',       \n        documentId: currentDate,  // ← Reutiliza a variável! ✅\n        observacao: 'Fórmula corrigida: multiplicador 5 (planilha) em vez de 25'\n      }\n    }\n  ];\n\n} catch (error) {\n  return [\n    {\n      json: {\n        erro: 'Erro ao calcular Vmad: ' + error.message,\n        timestamp: new Date().toISOString(),\n        status: 'erro'\n      }\n    }\n  ];\n}"
      },
      "id": "3ece9ad1-bf3e-4605-95a6-43a9843d8130",
      "name": "🧮 Calcular Vmad",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2576,
        -2960
      ]
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "upsert",
        "projectId": "ucs-index-tracker",
        "collection": "vmad",
        "updateKey": "documentId",
        "columns": "=ativo,data,valor,componentes,valores_originais,formula,moeda,fonte,timestamp,status,documentId"
      },
      "id": "9adf72fd-92bd-4158-950d-9afc41723c4f",
      "name": "💾 Salvar Vmad",
      "type": "n8n-nodes-base.googleFirebaseCloudFirestore",
      "typeVersion": 1,
      "position": [
        -2384,
        -2960
      ],
      "credentials": {
        "googleApi": {
          "id": "Dqr74c3ldFzCyUyS",
          "name": "Google Firebase Cloud Firestore account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "try {\n  const vmadData = $input.first().json;\n\n  return [\n    {\n      json: {\n        status: 'vmad_sucesso',\n        mensagem: 'Vmad calculado e salvo com sucesso!',\n        dados_vmad: vmadData,\n        timestamp: new Date().toISOString()\n      }\n    }\n  ];\n\n} catch (error) {\n  return [\n    {\n      json: {\n        status: 'vmad_erro',\n        erro: 'Erro no Vmad: ' + error.message,\n        timestamp: new Date().toISOString()\n      }\n    }\n  ];\n}\n"
      },
      "id": "e11f1513-6a12-409f-8426-92ab0bc38a8d",
      "name": "📋 Resposta Final Vmad",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2208,
        -2960
      ]
    },
    {
      "parameters": {
        "jsCode": "try {\n  // Aguardar dados dos 4 componentes\n  const vusData = $(\"💾 Salvar VUS\").first()?.json || null;\n  const vmadData = $(\"💾 Salvar Vmad\").first()?.json || null;\n  const carbonoCRSData = $(\"💾 Salvar Carbono_CRS\").first()?.json || null;\n  const aguaCRSData = $(\"💾 Salvar Agua_CRS\").first()?.json || null;\n\n  // Verificar se todos os dados estão disponíveis\n  if (!vusData || !vmadData || !carbonoCRSData || !aguaCRSData) {\n    return [\n      {\n        json: {\n          erro: \"Dados insuficientes para calcular Valor_Uso_Solo\",\n          dados_faltando: {\n            vus: !vusData,\n            vmad: !vmadData,\n            carbono_crs: !carbonoCRSData,\n            agua_crs: !aguaCRSData,\n          },\n          timestamp: new Date().toISOString(),\n          status: \"erro\",\n        },\n      },\n    ];\n  }\n\n  // Extrair valores\n  const valorVUS = parseFloat(vusData.valor) || 0;\n  const valorVmad = parseFloat(vmadData.valor) || 0;\n  const valorCarbonoCRS = parseFloat(carbonoCRSData.valor) || 0;\n  const valorAguaCRS = parseFloat(aguaCRSData.valor) || 0;\n\n  // Calcular Valor_Uso_Solo\n  const valorUsoSolo = valorVUS + valorVmad + valorCarbonoCRS + valorAguaCRS;\n\n  // Calcular porcentagens de cada componente\n  const percentualVUS = valorUsoSolo > 0 ? (valorVUS / valorUsoSolo) * 100 : 0;\n  const percentualVmad =\n    valorUsoSolo > 0 ? (valorVmad / valorUsoSolo) * 100 : 0;\n  const percentualCarbonoCRS =\n    valorUsoSolo > 0 ? (valorCarbonoCRS / valorUsoSolo) * 100 : 0;\n  const percentualAguaCRS =\n    valorUsoSolo > 0 ? (valorAguaCRS / valorUsoSolo) * 100 : 0;\n\n  // Preparar dados para salvar\n  const currentDate = new Date().toISOString().split(\"T\")[0];\n  const [year, month, day] = currentDate.split(\"-\");\n  const brazilianDate = `${day}/${month}/${year}`;\n\n  return [\n    {\n      json: {\n        ativo: \"Valor_Uso_Solo\",\n        data: brazilianDate,\n        valor: Math.round(valorUsoSolo * 100) / 100,\n        componentes: {\n          vus: Math.round(valorVUS * 100) / 100,\n          vmad: Math.round(valorVmad * 100) / 100,\n          carbono_crs: Math.round(valorCarbonoCRS * 100) / 100,\n          agua_crs: Math.round(valorAguaCRS * 100) / 100,\n        },\n        porcentagens: {\n          vus: Math.round(percentualVUS * 100) / 100,\n          vmad: Math.round(percentualVmad * 100) / 100,\n          carbono_crs: Math.round(percentualCarbonoCRS * 100) / 100,\n          agua_crs: Math.round(percentualAguaCRS * 100) / 100,\n        },\n        valores_originais: {\n          vus: valorVUS,\n          vmad: valorVmad,\n          carbono_crs: valorCarbonoCRS,\n          agua_crs: valorAguaCRS,\n        },\n        formulas: {\n          valor_total: \"Valor_Uso_Solo = VUS + Vmad + Carbono_CRS + Agua_CRS\",\n          porcentagem_vus: \"VUS / Valor_Uso_Solo * 100\",\n          porcentagem_vmad: \"Vmad / Valor_Uso_Solo * 100\",\n          porcentagem_carbono_crs: \"Carbono_CRS / Valor_Uso_Solo * 100\",\n          porcentagem_agua_crs: \"Agua_CRS / Valor_Uso_Solo * 100\",\n        },\n        moeda: \"BRL\",\n        fonte: \"Cálculo UCS\",\n        timestamp: new Date().toISOString(),\n        status: \"sucesso\",\n        documentId: currentDate, // ← Reutiliza a variável! ✅\n      },\n    },\n  ];\n} catch (error) {\n  return [\n    {\n      json: {\n        erro: \"Erro ao calcular Valor_Uso_Solo: \" + error.message,\n        timestamp: new Date().toISOString(),\n        status: \"erro\",\n      },\n    },\n  ];\n}\n"
      },
      "id": "45cc7b78-67e1-4552-8014-6bb092924dc9",
      "name": "🧮 Calcular Valor_Uso_Solo",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2576,
        -2784
      ]
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "upsert",
        "projectId": "ucs-index-tracker",
        "collection": "valor_uso_solo",
        "updateKey": "documentId",
        "columns": "=ativo,data,valor,componentes,porcentagens,valores_originais,formulas,moeda,fonte,timestamp,status,documentId"
      },
      "id": "11fd8aa1-f123-42e4-956a-7621d303ab73",
      "name": "💾 Salvar Valor_Uso_Solo",
      "type": "n8n-nodes-base.googleFirebaseCloudFirestore",
      "typeVersion": 1,
      "position": [
        -2384,
        -2784
      ],
      "credentials": {
        "googleApi": {
          "id": "Dqr74c3ldFzCyUyS",
          "name": "Google Firebase Cloud Firestore account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "try {\n  const valorUsoSoloData = $input.first().json;\n\n  return [\n    {\n      json: {\n        status: 'valor_uso_solo_sucesso',\n        mensagem: 'Valor_Uso_Solo calculado e salvo com sucesso!',\n        dados_valor_uso_solo: valorUsoSoloData,\n        timestamp: new Date().toISOString()\n      }\n    }\n  ];\n\n} catch (error) {\n  return [\n    {\n      json: {\n        status: 'valor_uso_solo_erro',\n        erro: 'Erro no Valor_Uso_Solo: ' + error.message,\n        timestamp: new Date().toISOString()\n      }\n    }\n  ];\n}\n"
      },
      "id": "0643f9ac-5d03-42cd-992f-184b14b01e76",
      "name": "📋 Resposta Final Valor_Uso_Solo",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2208,
        -2784
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "🔍 Extrair Preço": {
      "main": [
        [
          {
            "node": "⚙️ Processar Dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🕐 Agendador (AM)": {
      "main": [
        [
          {
            "node": "🌐 Buscar USD/BRL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🌐 Buscar Milho": {
      "main": [
        [
          {
            "node": "🔍 Extrair Preço",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "⚙️ Processar Dados": {
      "main": [
        [
          {
            "node": "Milho",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📊 Consolidador de Cotações": {
      "main": [
        [
          {
            "node": "📋 Resposta Final Consolidada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📋 Resposta Final Consolidada": {
      "main": [
        [
          {
            "node": "📋 Resposta Final do Sistema",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📋 Resposta Final": {
      "main": [
        [
          {
            "node": "📊 Consolidador de Cotações",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔍 Extrair Preço1": {
      "main": [
        [
          {
            "node": "⚙️ Processar Dados1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "⚙️ Processar Dados1": {
      "main": [
        [
          {
            "node": "Soja",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📋 Resposta Final1": {
      "main": [
        [
          {
            "node": "📊 Consolidador de Cotações1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📊 Consolidador de Cotações1": {
      "main": [
        [
          {
            "node": "📋 Resposta Final Consolidada1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📋 Resposta Final Consolidada1": {
      "main": [
        [
          {
            "node": "📋 Resposta Final do Sistema1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🌐 Buscar Soja": {
      "main": [
        [
          {
            "node": "🔍 Extrair Preço1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔍 Extrair Preço2": {
      "main": [
        [
          {
            "node": "⚙️ Processar Dados2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "⚙️ Processar Dados2": {
      "main": [
        [
          {
            "node": "Boi",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📋 Resposta Final2": {
      "main": [
        [
          {
            "node": "📊 Consolidador de Cotações2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📊 Consolidador de Cotações2": {
      "main": [
        [
          {
            "node": "📋 Resposta Final Consolidada2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📋 Resposta Final Consolidada2": {
      "main": [
        [
          {
            "node": "📋 Resposta Final do Sistema2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🌐 Buscar Boi Gordo": {
      "main": [
        [
          {
            "node": "🔍 Extrair Preço2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔍 Extrair Preço3": {
      "main": [
        [
          {
            "node": "⚙️ Processar Dados3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "⚙️ Processar Dados3": {
      "main": [
        [
          {
            "node": "Carbono",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📋 Resposta Final3": {
      "main": [
        [
          {
            "node": "📊 Consolidador de Cotações3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📊 Consolidador de Cotações3": {
      "main": [
        [
          {
            "node": "📋 Resposta Final Consolidada3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📋 Resposta Final Consolidada3": {
      "main": [
        [
          {
            "node": "📋 Resposta Final do Sistema3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🌐 Buscar Carbono": {
      "main": [
        [
          {
            "node": "🔍 Extrair Preço3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📋 Resposta Final4": {
      "main": [
        [
          {
            "node": "📊 Consolidador de Cotações4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📊 Consolidador de Cotações4": {
      "main": [
        [
          {
            "node": "📋 Resposta Final Consolidada4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📋 Resposta Final Consolidada4": {
      "main": [
        [
          {
            "node": "📋 Resposta Final do Sistema4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🌐 Buscar USD/BRL": {
      "main": [
        [
          {
            "node": "🔍 Extrair Preço5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔍 Extrair Preço5": {
      "main": [
        [
          {
            "node": "USD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔑 Preparar Firebase5": {
      "main": [
        [
          {
            "node": "💾 Salvar no Firebase5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "💾 Salvar no Firebase5": {
      "main": [
        [
          {
            "node": "📋 Resposta Final6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🌐 Buscar EUR/BRL": {
      "main": [
        [
          {
            "node": "🔍 Extrair Preço6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔍 Extrair Preço6": {
      "main": [
        [
          {
            "node": "EUR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔑 Preparar Firebase6": {
      "main": [
        [
          {
            "node": "💾 Salvar no Firebase6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "💾 Salvar no Firebase6": {
      "main": [
        [
          {
            "node": "📋 Resposta Final5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "💾 Salvar no Firebase7": {
      "main": [
        [
          {
            "node": "📋 Resposta Final",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "💾 Salvar no Firebase8": {
      "main": [
        [
          {
            "node": "📋 Resposta Final1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📋 Resposta Final5": {
      "main": [
        [
          {
            "node": "📊 Consolidador de Cotações5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📊 Consolidador de Cotações5": {
      "main": [
        [
          {
            "node": "📋 Resposta Final Consolidada5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📋 Resposta Final Consolidada5": {
      "main": [
        [
          {
            "node": "📋 Resposta Final do Sistema5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📋 Resposta Final6": {
      "main": [
        [
          {
            "node": "📊 Consolidador de Cotações6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📊 Consolidador de Cotações6": {
      "main": [
        [
          {
            "node": "📋 Resposta Final Consolidada6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📋 Resposta Final Consolidada6": {
      "main": [
        [
          {
            "node": "📋 Resposta Final do Sistema6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "💾 Salvar no Firebase": {
      "main": [
        [
          {
            "node": "📋 Resposta Final2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "💾 Salvar no Firebase1": {
      "main": [
        [
          {
            "node": "📋 Resposta Final3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "💾 Salvar no Firebase2": {
      "main": [
        [
          {
            "node": "📋 Resposta Final4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔍 Extrair Preço9": {
      "main": [
        [
          {
            "node": "⚙️ Processar Dados9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "⚙️ Processar Dados9": {
      "main": [
        [
          {
            "node": "Madeira",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🌐 Buscar Madeira2": {
      "main": [
        [
          {
            "node": "🔍 Extrair Preço9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "USD": {
      "main": [
        [
          {
            "node": "🔑 Preparar Firebase5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EUR": {
      "main": [
        [
          {
            "node": "🔑 Preparar Firebase6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📋 Resposta Final do Sistema3": {
      "main": [
        [
          {
            "node": "🌐 Buscar Boi Gordo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📋 Resposta Final do Sistema2": {
      "main": [
        [
          {
            "node": "🌐 Buscar Milho",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📋 Resposta Final do Sistema1": {
      "main": [
        [
          {
            "node": "🌐 Buscar EUR/BRL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Madeira": {
      "main": [
        [
          {
            "node": "💾 Salvar no Firebase2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Soja": {
      "main": [
        [
          {
            "node": "💾 Salvar no Firebase8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Carbono": {
      "main": [
        [
          {
            "node": "💾 Salvar no Firebase1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Boi": {
      "main": [
        [
          {
            "node": "💾 Salvar no Firebase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Milho": {
      "main": [
        [
          {
            "node": "💾 Salvar no Firebase7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📋 Resposta Final do Sistema": {
      "main": [
        [
          {
            "node": "🧮 Calcular CH2O Original",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🧮 Calcular CH2O Original": {
      "main": [
        [
          {
            "node": "💾 Salvar CH2O Original",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "💾 Salvar CH2O Original": {
      "main": [
        [
          {
            "node": "📋 Resposta Final CH2O Original",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🧮 Calcular Custo_Água": {
      "main": [
        [
          {
            "node": "💾 Salvar Custo_Água",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "💾 Salvar Custo_Água": {
      "main": [
        [
          {
            "node": "🧮 Calcular PDM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🧮 Calcular PDM": {
      "main": [
        [
          {
            "node": "💾 Salvar PDM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "💾 Salvar PDM": {
      "main": [
        [
          {
            "node": "📋 Resposta Final PDM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🧮 Calcular UCS": {
      "main": [
        [
          {
            "node": "💾 Salvar UCS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "💾 Salvar UCS": {
      "main": [
        [
          {
            "node": "🧮 Calcular UCS ASE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🧮 Calcular UCS ASE": {
      "main": [
        [
          {
            "node": "💾 Salvar UCS ASE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "💾 Salvar UCS ASE": {
      "main": [
        [
          {
            "node": "📋 Resposta Final UCS ASE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📋 Resposta Final CH2O Original": {
      "main": [
        [
          {
            "node": "🧮 Calcular Custo_Água",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📋 Resposta Final PDM": {
      "main": [
        [
          {
            "node": "🧮 Calcular UCS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📋 Resposta Final UCS ASE": {
      "main": [
        [
          {
            "node": "🧮 Calcular VUS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🧮 Calcular VUS": {
      "main": [
        [
          {
            "node": "💾 Salvar VUS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "💾 Salvar VUS": {
      "main": [
        [
          {
            "node": "📋 Resposta Final VUS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📋 Resposta Final VUS": {
      "main": [
        [
          {
            "node": "🧮 Calcular Carbono_CRS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🧮 Calcular Carbono_CRS": {
      "main": [
        [
          {
            "node": "💾 Salvar Carbono_CRS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "💾 Salvar Carbono_CRS": {
      "main": [
        [
          {
            "node": "📋 Resposta Final Carbono_CRS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📋 Resposta Final Carbono_CRS": {
      "main": [
        [
          {
            "node": "🧮 Calcular Agua_CRS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🧮 Calcular Agua_CRS": {
      "main": [
        [
          {
            "node": "💾 Salvar Agua_CRS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "💾 Salvar Agua_CRS": {
      "main": [
        [
          {
            "node": "📋 Resposta Final Agua_CRS",
            "type": "main",
            "index": 0
          },
          {
            "node": "🧮 Calcular Vmad",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🧮 Calcular Vmad": {
      "main": [
        [
          {
            "node": "💾 Salvar Vmad",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "💾 Salvar Vmad": {
      "main": [
        [
          {
            "node": "📋 Resposta Final Vmad",
            "type": "main",
            "index": 0
          },
          {
            "node": "🧮 Calcular Valor_Uso_Solo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🧮 Calcular Valor_Uso_Solo": {
      "main": [
        [
          {
            "node": "💾 Salvar Valor_Uso_Solo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "💾 Salvar Valor_Uso_Solo": {
      "main": [
        [
          {
            "node": "📋 Resposta Final Valor_Uso_Solo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📋 Resposta Final do Sistema5": {
      "main": [
        [
          {
            "node": "🌐 Buscar Carbono",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📋 Resposta Final do Sistema4": {
      "main": [
        [
          {
            "node": "🌐 Buscar Soja",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📋 Resposta Final do Sistema6": {
      "main": [
        [
          {
            "node": "🌐 Buscar Madeira2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "3f0ab441-6592-4c60-b5b9-ee1c3a3c4513",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "13b0ea5dd383d159ddd6c18778dc7059e86dde50c7b38850c42dfbb9a92940a0"
  },
  "id": "t0UWBclXyHlp70Z3",
  "tags": [
    {
      "updatedAt": "2025-10-14T23:44:24.499Z",
      "createdAt": "2025-10-14T23:44:24.499Z",
      "id": "OkbvZ5yWgZDUY8U8",
      "name": "automated-integration"
    },
    {
      "updatedAt": "2025-10-14T23:44:24.630Z",
      "createdAt": "2025-10-14T23:44:24.630Z",
      "id": "T7xqzMuZU1jN6sDY",
      "name": "firebase-reorganization"
    },
    {
      "updatedAt": "2025-10-14T23:44:24.521Z",
      "createdAt": "2025-10-14T23:44:24.521Z",
      "id": "dgLqEuv12XZh4gx8",
      "name": "commodities-optimized"
    },
    {
      "updatedAt": "2025-10-14T23:44:24.472Z",
      "createdAt": "2025-10-14T23:44:24.472Z",
      "id": "i1AffO2WDJASDaOP",
      "name": "ch2o-water-index"
    }
  ]
}