docs/UCS - Webhook.json
{
  "name": "UCS - Webhook",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ucs/recalc",
        "authentication": "headerAuth",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "e5a5bbbf-99f7-46e7-85c8-9616e8e12bed",
      "name": "🔔 Webhook Recalc",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -1584,
        224
      ],
      "webhookId": "89ba4407-4fd0-411b-9155-cfe552d8648e",
      "credentials": {
        "httpHeaderAuth": {
          "id": "3ISMxOfmUMJKAKdO",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Pega o corpo da requisição corretamente\nconst input = $json || {};\nconst body = input.body || {}; \n\n// Aceita formatos: { mode:'update', overrides:{...} } ou { origem:'audit-manual', ativos:{...} }\nconst hasOverrides = body && body.mode === 'update' && body.overrides && Object.keys(body.overrides).length > 0;\nconst hasAtivos = body && body.ativos && Object.keys(body.ativos).length > 0;\n\n// Validar data_especifica se enviada\nif (body.data_especifica && !/^\\d{4}-\\d{2}-\\d{2}$/.test(body.data_especifica)) {\n  return [{ json: { status: 'erro', code: 400, msg: 'data_especifica deve estar no formato YYYY-MM-DD' } }];\n}\n\nif (!hasOverrides && !hasAtivos) {\n  // Se chegamos aqui, é porque ele não achou os dados no lugar certo\n  return [{ json: { status: 'erro', code: 400, msg: 'Payload inválido: envie ativos dentro do body' } }];\n}\n\n// Retorna apenas o conteúdo do body para os próximos nós\nreturn [{ json: body }];\n"
      },
      "id": "d658a176-6ff2-4dbe-ad8f-325e684d8b6c",
      "name": "✅ Validar Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1424,
        224
      ]
    },
    {
      "parameters": {
        "jsCode": "const body = $json || {};\nconst ativosManual = body.ativos || {};\nconst overrides = body.overrides || {};\nconst dataEspecifica = body.data_especifica; // ← ADICIONAR ESTA LINHA\nconst map = (v) => (v != null ? { preco: v } : undefined);\nconst ativos = {\n  usd: ativosManual.usd || map(overrides.usd),\n  eur: ativosManual.eur || map(overrides.eur),\n  milho: ativosManual.milho || map(overrides.milho),\n  soja: ativosManual.soja || map(overrides.soja),\n  boi: ativosManual.boi || map(overrides.boi),\n  madeira: ativosManual.madeira || map(overrides.madeira),\n  carbono: ativosManual.carbono || map(overrides.carbono)\n};\nconst result = { origem:'audit-manual', ativos, timestamp: new Date().toISOString() };\nif (dataEspecifica) result.data_especifica = dataEspecifica; // ← ADICIONAR SE EXISTIR\nreturn [{ json: result }];"
      },
      "id": "962c4c86-3635-43ab-a2dc-a15670777f07",
      "name": "🟢 Manual Overrides",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1232,
        224
      ]
    },
    {
      "parameters": {
        "jsCode": "const body = $('🟢 Manual Overrides').first().json || {};\nconst o = body.ativos || {};\nconst dataEspecifica = body.data_especifica; // Data enviada pelo painel\n\nconst now = new Date();\nconst iso = now.toISOString();\n\n// Usar data específica se enviada, senão usar atual\nconst dateId = dataEspecifica || iso.split('T')[0];\nconst br = dataEspecifica ? \n  new Date(dataEspecifica + 'T00:00:00').toLocaleDateString('pt-BR') : \n  now.toLocaleDateString('pt-BR');\n\nfunction base(label, val, moeda){ \n  if(!val || val.preco==null) return null; \n  const p = Number(val.preco); \n  return { \n    ativo: label, \n    data: br, \n    ultimo: p, \n    abertura: p, \n    maxima: p, \n    minima: p, \n    volume: null, \n    variacao_pct: null, \n    moeda, \n    fonte: 'Audit-Manual', \n    timestamp: iso, \n    status: 'sucesso', \n    documentId: dateId  // ← USA DATA ESPECÍFICA OU ATUAL\n  }; \n}\n\nreturn [{ json: {\n  usd: base('USD/BRL', o.usd, 'BRL'),\n  eur: base('EUR/BRL', o.eur, 'BRL'),\n  milho: base('Milho Futuros', o.milho, 'BRL'),\n  soja: base('Soja Futuros', o.soja, 'USD'),\n  boi: base('Boi Gordo', o.boi, 'BRL'),\n  madeira: base('Madeira Serrada', o.madeira, 'USD'),\n  carbono: base('Carbono', o.carbono, 'EUR')\n} }];"
      },
      "id": "7dd69645-90c9-4adf-add9-0313639c899b",
      "name": "🗺️ Mapear Bases",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1072,
        224
      ]
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "upsert",
        "projectId": "ucs-index-tracker",
        "collection": "usd",
        "updateKey": "documentId",
        "columns": "=ativo,data,ultimo,abertura,maxima,minima,volume,variacao_pct,moeda,fonte,timestamp,status,documentId"
      },
      "id": "1977d5e9-97f7-49b0-82bc-ec92f069e2ea",
      "name": "💾 USD",
      "type": "n8n-nodes-base.googleFirebaseCloudFirestore",
      "typeVersion": 1,
      "position": [
        240,
        224
      ],
      "credentials": {
        "googleApi": {
          "id": "Dqr74c3ldFzCyUyS",
          "name": "Google Firebase Cloud Firestore account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "upsert",
        "projectId": "ucs-index-tracker",
        "collection": "eur",
        "updateKey": "documentId",
        "columns": "=ativo,data,ultimo,abertura,maxima,minima,volume,variacao_pct,moeda,fonte,timestamp,status,documentId"
      },
      "id": "658fe8dd-92e3-4fc9-979b-fb6b110e0bf8",
      "name": "💾 EUR",
      "type": "n8n-nodes-base.googleFirebaseCloudFirestore",
      "typeVersion": 1,
      "position": [
        240,
        912
      ],
      "credentials": {
        "googleApi": {
          "id": "Dqr74c3ldFzCyUyS",
          "name": "Google Firebase Cloud Firestore account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "upsert",
        "projectId": "ucs-index-tracker",
        "collection": "milho",
        "updateKey": "documentId",
        "columns": "=ativo,data,ultimo,ton,rent_media,moeda,fonte,timestamp,status,documentId"
      },
      "id": "01210769-2902-49d0-8d63-d7d82c36f65a",
      "name": "💾 MILHO",
      "type": "n8n-nodes-base.googleFirebaseCloudFirestore",
      "typeVersion": 1,
      "position": [
        240,
        1632
      ],
      "credentials": {
        "googleApi": {
          "id": "Dqr74c3ldFzCyUyS",
          "name": "Google Firebase Cloud Firestore account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "upsert",
        "projectId": "ucs-index-tracker",
        "collection": "carbono",
        "updateKey": "documentId",
        "columns": "=ativo,data,ultimo,ultimo_brl,rent_media,cotacao_euro,moeda,fonte,timestamp,status,documentId"
      },
      "id": "a0184da9-9df5-437e-bdd5-fe26433d6e32",
      "name": "💾 CARBONO",
      "type": "n8n-nodes-base.googleFirebaseCloudFirestore",
      "typeVersion": 1,
      "position": [
        240,
        1136
      ],
      "credentials": {
        "googleApi": {
          "id": "Dqr74c3ldFzCyUyS",
          "name": "Google Firebase Cloud Firestore account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "upsert",
        "projectId": "ucs-index-tracker",
        "collection": "ch2o_agua",
        "updateKey": "documentId",
        "columns": "=ativo,data,valor,documentId,timestamp,status"
      },
      "id": "a067f27a-99b2-465e-af0e-a950503819ed",
      "name": "💾 CH2O",
      "type": "n8n-nodes-base.googleFirebaseCloudFirestore",
      "typeVersion": 1,
      "position": [
        240,
        1792
      ],
      "credentials": {
        "googleApi": {
          "id": "Dqr74c3ldFzCyUyS",
          "name": "Google Firebase Cloud Firestore account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "upsert",
        "projectId": "ucs-index-tracker",
        "collection": "custo_agua",
        "updateKey": "documentId",
        "columns": "=ativo,data,valor,documentId,timestamp,status"
      },
      "id": "e4c8388a-9e14-432c-838b-ec4a6e7557fb",
      "name": "💾 Custo_Água",
      "type": "n8n-nodes-base.googleFirebaseCloudFirestore",
      "typeVersion": 1,
      "position": [
        240,
        1968
      ],
      "credentials": {
        "googleApi": {
          "id": "Dqr74c3ldFzCyUyS",
          "name": "Google Firebase Cloud Firestore account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "upsert",
        "projectId": "ucs-index-tracker",
        "collection": "pdm",
        "updateKey": "documentId",
        "columns": "=ativo,data,valor,documentId,timestamp,status"
      },
      "id": "726b5b90-bc21-4e93-99c8-7f31764f0e48",
      "name": "💾 PDM",
      "type": "n8n-nodes-base.googleFirebaseCloudFirestore",
      "typeVersion": 1,
      "position": [
        240,
        2144
      ],
      "credentials": {
        "googleApi": {
          "id": "Dqr74c3ldFzCyUyS",
          "name": "Google Firebase Cloud Firestore account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "upsert",
        "projectId": "ucs-index-tracker",
        "collection": "ucs",
        "updateKey": "documentId",
        "columns": "=ativo,data,valor,documentId,timestamp,status"
      },
      "id": "a44fa01f-1e42-435e-8aad-2df9e147ca45",
      "name": "💾 UCS",
      "type": "n8n-nodes-base.googleFirebaseCloudFirestore",
      "typeVersion": 1,
      "position": [
        240,
        2320
      ],
      "credentials": {
        "googleApi": {
          "id": "Dqr74c3ldFzCyUyS",
          "name": "Google Firebase Cloud Firestore account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "upsert",
        "projectId": "ucs-index-tracker",
        "collection": "ucs_ase",
        "updateKey": "documentId",
        "columns": "=ativo,data,valor_brl,valor_usd,valor_eur,documentId,timestamp,status"
      },
      "id": "fb42b485-157a-49f9-845d-ff51ccdc6888",
      "name": "💾 UCS ASE",
      "type": "n8n-nodes-base.googleFirebaseCloudFirestore",
      "typeVersion": 1,
      "position": [
        240,
        2496
      ],
      "credentials": {
        "googleApi": {
          "id": "Dqr74c3ldFzCyUyS",
          "name": "Google Firebase Cloud Firestore account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "upsert",
        "projectId": "ucs-index-tracker",
        "collection": "vus",
        "updateKey": "documentId",
        "columns": "=ativo,data,valor,documentId,timestamp,status"
      },
      "id": "5278f8b7-1164-4765-9b07-58ee94cfee68",
      "name": "💾 VUS",
      "type": "n8n-nodes-base.googleFirebaseCloudFirestore",
      "typeVersion": 1,
      "position": [
        240,
        2672
      ],
      "credentials": {
        "googleApi": {
          "id": "Dqr74c3ldFzCyUyS",
          "name": "Google Firebase Cloud Firestore account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "upsert",
        "projectId": "ucs-index-tracker",
        "collection": "carbono_crs",
        "updateKey": "documentId",
        "columns": "=ativo,data,valor,documentId,timestamp,status"
      },
      "id": "d1d4bc25-8e1f-4b77-bcc6-a532f74c961a",
      "name": "💾 Carbono_CRS",
      "type": "n8n-nodes-base.googleFirebaseCloudFirestore",
      "typeVersion": 1,
      "position": [
        240,
        2848
      ],
      "credentials": {
        "googleApi": {
          "id": "Dqr74c3ldFzCyUyS",
          "name": "Google Firebase Cloud Firestore account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "upsert",
        "projectId": "ucs-index-tracker",
        "collection": "Agua_CRS",
        "updateKey": "documentId",
        "columns": "=ativo,data,valor,documentId,timestamp,status"
      },
      "id": "ddc6cade-a87e-4881-ac8c-f620d2563133",
      "name": "💾 Agua_CRS",
      "type": "n8n-nodes-base.googleFirebaseCloudFirestore",
      "typeVersion": 1,
      "position": [
        240,
        3024
      ],
      "credentials": {
        "googleApi": {
          "id": "Dqr74c3ldFzCyUyS",
          "name": "Google Firebase Cloud Firestore account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "upsert",
        "projectId": "ucs-index-tracker",
        "collection": "vmad",
        "updateKey": "documentId",
        "columns": "=ativo,data,valor,documentId,timestamp,status"
      },
      "id": "5bc1a103-7d21-47ce-876e-d27caa83e2b7",
      "name": "💾 Vmad",
      "type": "n8n-nodes-base.googleFirebaseCloudFirestore",
      "typeVersion": 1,
      "position": [
        240,
        3216
      ],
      "credentials": {
        "googleApi": {
          "id": "Dqr74c3ldFzCyUyS",
          "name": "Google Firebase Cloud Firestore account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "upsert",
        "projectId": "ucs-index-tracker",
        "collection": "valor_uso_solo",
        "updateKey": "documentId",
        "columns": "=ativo,data,valor,documentId,timestamp,status"
      },
      "id": "bfcca882-1f2d-4b0d-b52f-3f58a065b8ad",
      "name": "💾 Valor_Uso_Solo",
      "type": "n8n-nodes-base.googleFirebaseCloudFirestore",
      "typeVersion": 1,
      "position": [
        240,
        3392
      ],
      "credentials": {
        "googleApi": {
          "id": "Dqr74c3ldFzCyUyS",
          "name": "Google Firebase Cloud Firestore account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const dateId = $('📅 Resolver Data').first().json.dateId;\nconst mapped = $('🗺️ Mapear Bases').first().json || {};\nconst sobrescritos = Object.keys(mapped).filter(k => mapped[k]);\nreturn [{ json: {\n  status: 'ok',\n  modo: 'auditoria-inline',\n  documentId: dateId,\n  sobrescritos,\n  derivados: ['ch2o_agua','custo_agua','pdm','ucs','ucs_ase','vus','carbono_crs','Agua_CRS','vmad','valor_uso_solo'],\n  timestamp: new Date().toISOString()\n}}];"
      },
      "id": "48ae5b84-d7af-495e-b4d5-415f9d39bc59",
      "name": "📋 Resposta",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        3392
      ]
    },
    {
      "parameters": {
        "jsCode": "try {\n  const jsonResponse = $input.first().json;\n  const originalData = $('⚙️ Processar Dados').first().json;\n\n  if (jsonResponse.status === 'erro') {\n    return [{\n      json: {\n        status: 'erro_json',\n        erro: jsonResponse.erro,\n        dados_originais: originalData,\n        timestamp: new Date().toISOString()\n      }\n    }];\n  }\n\n  return [{\n    json: {\n      status: 'sucesso',\n      mensagem: 'Dados salvos no JSON com sucesso',\n      dados_salvos: originalData,\n      arquivo: jsonResponse.arquivo,\n      timestamp: new Date().toISOString()\n    }\n  }];\n\n} catch (error) {\n  return [{\n    json: {\n      status: 'erro_final',\n      erro: 'Erro na resposta final: ' + error.message,\n      timestamp: new Date().toISOString()\n    }\n  }];\n}"
      },
      "id": "1a991e0a-0b95-4ee2-a6f0-7a8f5b9eeecf",
      "name": "📋 Resposta Final",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        1632
      ]
    },
    {
      "parameters": {
        "jsCode": "try {\n  // Coletar apenas os dados do milho\n  const milho = $('💾 Salvar no JSON').first()?.json || null;\n\n  // Estruturar JSON final apenas com milho\n  const cotacoesConsolidadas = {\n    metadata: {\n      timestamp: new Date().toISOString(),\n      data_coleta: new Date().toLocaleDateString('pt-BR'),\n      total_ativos: milho ? 1 : 0,\n      fonte: 'Investing.com'\n    },\n    commodities: {\n      agricolas: {\n        milho: milho?.dados_formatados?.dados || null\n      }\n    },\n    status: {\n      milho: milho?.status || 'erro'\n    }\n  };\n\n  return [{ json: cotacoesConsolidadas }];\n\n} catch (error) {\n  return [{\n    json: {\n      erro: 'Erro ao consolidar cotações: ' + error.message,\n      timestamp: new Date().toISOString(),\n      status: 'erro_consolidacao'\n    }\n  }];\n}"
      },
      "id": "02b4211f-1285-4906-928a-5133425d2138",
      "name": "📊 Consolidador de Cotações",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        640,
        1632
      ]
    },
    {
      "parameters": {
        "jsCode": "// Retornar o JSON consolidado final\nconst dadosConsolidados = $input.first().json;\n\nreturn [{\n  json: {\n    mensagem: 'Cotações consolidadas com sucesso!',\n    dados: dadosConsolidados,\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "id": "88029cb5-f64b-4c28-a40f-4dfa97253a68",
      "name": "📋 Resposta Final Consolidada",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        832,
        1632
      ]
    },
    {
      "parameters": {
        "jsCode": "try {\n  // Receber dados do salvamento\n  const dadosSalvos = $input.first().json;\n  \n  return [{\n    json: {\n      status: 'sistema_completo',\n      mensagem: 'Sistema de consolidação executado com sucesso!',\n      resultado: dadosSalvos,\n      total_cotacoes: 7,\n      timestamp_final: new Date().toISOString(),\n      resumo: {\n        commodities_agricolas: 3,\n        commodities_materiais: 2,\n        moedas: 2,\n        status_geral: dadosSalvos.status\n      }\n    }\n  }];\n  \n} catch (error) {\n  return [{ json: {\n    status: 'erro_sistema',\n    erro: 'Erro no sistema final: ' + error.message,\n    timestamp: new Date().toISOString()\n  } }];\n}"
      },
      "id": "6f5d9437-3d1e-423c-8ee7-4f96f5246f2c",
      "name": "📋 Resposta Final do Sistema",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1008,
        1632
      ]
    },
    {
      "parameters": {
        "jsCode": "try {\n  const jsonResponse = $input.first().json;\n  const originalData = $('⚙️ Processar Dados1').first().json;\n\n  if (jsonResponse.status === 'erro') {\n    return [{\n      json: {\n        status: 'erro_json',\n        erro: jsonResponse.erro,\n        dados_originais: originalData,\n        timestamp: new Date().toISOString()\n      }\n    }];\n  }\n\n  return [{\n    json: {\n      status: 'sucesso',\n      mensagem: 'Dados salvos no JSON com sucesso',\n      dados_salvos: originalData,\n      arquivo: jsonResponse.arquivo,\n      timestamp: new Date().toISOString()\n    }\n  }];\n\n} catch (error) {\n  return [{\n    json: {\n      status: 'erro_final',\n      erro: 'Erro na resposta final: ' + error.message,\n      timestamp: new Date().toISOString()\n    }\n  }];\n}"
      },
      "id": "032df378-8c59-4ca7-a05a-c252cdaef5fd",
      "name": "📋 Resposta Final1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        688
      ]
    },
    {
      "parameters": {
        "jsCode": "try {\n  // Coletar apenas os dados do milho\n  const milho = $('💾 Salvar no JSON1').first()?.json || null;\n\n  // Estruturar JSON final apenas com milho\n  const cotacoesConsolidadas = {\n    metadata: {\n      timestamp: new Date().toISOString(),\n      data_coleta: new Date().toLocaleDateString('pt-BR'),\n      total_ativos: milho ? 1 : 0,\n      fonte: 'Investing.com'\n    },\n    commodities: {\n      agricolas: {\n        milho: milho?.dados_formatados?.dados || null\n      }\n    },\n    status: {\n      milho: milho?.status || 'erro'\n    }\n  };\n\n  return [{ json: cotacoesConsolidadas }];\n\n} catch (error) {\n  return [{\n    json: {\n      erro: 'Erro ao consolidar cotações: ' + error.message,\n      timestamp: new Date().toISOString(),\n      status: 'erro_consolidacao'\n    }\n  }];\n}"
      },
      "id": "9d0c5134-44a4-42c6-81f9-def87a9cc775",
      "name": "📊 Consolidador de Cotações1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        640,
        688
      ]
    },
    {
      "parameters": {
        "jsCode": "// Retornar o JSON consolidado final\nconst dadosConsolidados = $input.first().json;\n\nreturn [{\n  json: {\n    mensagem: 'Cotações consolidadas com sucesso!',\n    dados: dadosConsolidados,\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "id": "787fd28e-6713-42b9-9873-e1313ffc25d8",
      "name": "📋 Resposta Final Consolidada1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        832,
        688
      ]
    },
    {
      "parameters": {
        "jsCode": "try {\n  // Receber dados do salvamento\n  const dadosSalvos = $input.first().json;\n  \n  return [{\n    json: {\n      status: 'sistema_completo',\n      mensagem: 'Sistema de consolidação executado com sucesso!',\n      resultado: dadosSalvos,\n      total_cotacoes: 7,\n      timestamp_final: new Date().toISOString(),\n      resumo: {\n        commodities_agricolas: 3,\n        commodities_materiais: 2,\n        moedas: 2,\n        status_geral: dadosSalvos.status\n      }\n    }\n  }];\n  \n} catch (error) {\n  return [{ json: {\n    status: 'erro_sistema',\n    erro: 'Erro no sistema final: ' + error.message,\n    timestamp: new Date().toISOString()\n  } }];\n}"
      },
      "id": "7738c742-f134-48b3-ab26-ee9ed320b901",
      "name": "📋 Resposta Final do Sistema1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1008,
        688
      ]
    },
    {
      "parameters": {
        "jsCode": "try {\n  const jsonResponse = $input.first().json;\n  const originalData = $('⚙️ Processar Dados2').first().json;\n\n  if (jsonResponse.status === 'erro') {\n    return [{\n      json: {\n        status: 'erro_json',\n        erro: jsonResponse.erro,\n        dados_originais: originalData,\n        timestamp: new Date().toISOString()\n      }\n    }];\n  }\n\n  return [{\n    json: {\n      status: 'sucesso',\n      mensagem: 'Dados salvos no JSON com sucesso',\n      dados_salvos: originalData,\n      arquivo: jsonResponse.arquivo,\n      timestamp: new Date().toISOString()\n    }\n  }];\n\n} catch (error) {\n  return [{\n    json: {\n      status: 'erro_final',\n      erro: 'Erro na resposta final: ' + error.message,\n      timestamp: new Date().toISOString()\n    }\n  }];\n}"
      },
      "id": "ef686138-2776-4fc5-8234-e106349c899e",
      "name": "📋 Resposta Final2",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        1408
      ]
    },
    {
      "parameters": {
        "jsCode": "try {\n  // Coletar apenas os dados do milho\n  const milho = $('💾 Salvar no JSON2').first()?.json || null;\n\n  // Estruturar JSON final apenas com milho\n  const cotacoesConsolidadas = {\n    metadata: {\n      timestamp: new Date().toISOString(),\n      data_coleta: new Date().toLocaleDateString('pt-BR'),\n      total_ativos: milho ? 1 : 0,\n      fonte: 'Investing.com'\n    },\n    commodities: {\n      agricolas: {\n        milho: milho?.dados_formatados?.dados || null\n      }\n    },\n    status: {\n      milho: milho?.status || 'erro'\n    }\n  };\n\n  return [{ json: cotacoesConsolidadas }];\n\n} catch (error) {\n  return [{\n    json: {\n      erro: 'Erro ao consolidar cotações: ' + error.message,\n      timestamp: new Date().toISOString(),\n      status: 'erro_consolidacao'\n    }\n  }];\n}"
      },
      "id": "1203d4b5-6a3e-4416-b07b-03690e640f5e",
      "name": "📊 Consolidador de Cotações2",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        640,
        1408
      ]
    },
    {
      "parameters": {
        "jsCode": "// Retornar o JSON consolidado final\nconst dadosConsolidados = $input.first().json;\n\nreturn [{\n  json: {\n    mensagem: 'Cotações consolidadas com sucesso!',\n    dados: dadosConsolidados,\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "id": "21b98877-b732-4706-8da0-10d1d23b426b",
      "name": "📋 Resposta Final Consolidada2",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        832,
        1408
      ]
    },
    {
      "parameters": {
        "jsCode": "try {\n  // Receber dados do salvamento\n  const dadosSalvos = $input.first().json;\n  \n  return [{\n    json: {\n      status: 'sistema_completo',\n      mensagem: 'Sistema de consolidação executado com sucesso!',\n      resultado: dadosSalvos,\n      total_cotacoes: 7,\n      timestamp_final: new Date().toISOString(),\n      resumo: {\n        commodities_agricolas: 3,\n        commodities_materiais: 2,\n        moedas: 2,\n        status_geral: dadosSalvos.status\n      }\n    }\n  }];\n  \n} catch (error) {\n  return [{ json: {\n    status: 'erro_sistema',\n    erro: 'Erro no sistema final: ' + error.message,\n    timestamp: new Date().toISOString()\n  } }];\n}"
      },
      "id": "b025c239-d874-4aa0-9587-75054925cee5",
      "name": "📋 Resposta Final do Sistema2",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1008,
        1408
      ]
    },
    {
      "parameters": {
        "jsCode": "try {\n  const jsonResponse = $input.first().json;\n  const originalData = $('⚙️ Processar Dados3').first().json;\n\n  if (jsonResponse.status === 'erro') {\n    return [{\n      json: {\n        status: 'erro_json',\n        erro: jsonResponse.erro,\n        dados_originais: originalData,\n        timestamp: new Date().toISOString()\n      }\n    }];\n  }\n\n  return [{\n    json: {\n      status: 'sucesso',\n      mensagem: 'Dados salvos no JSON com sucesso',\n      dados_salvos: originalData,\n      arquivo: jsonResponse.arquivo,\n      timestamp: new Date().toISOString()\n    }\n  }];\n\n} catch (error) {\n  return [{\n    json: {\n      status: 'erro_final',\n      erro: 'Erro na resposta final: ' + error.message,\n      timestamp: new Date().toISOString()\n    }\n  }];\n}"
      },
      "id": "35713c4a-257a-4a16-aa77-5cddf3492f24",
      "name": "📋 Resposta Final3",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        1136
      ]
    },
    {
      "parameters": {
        "jsCode": "try {\n  // Coletar apenas os dados do milho\n  const milho = $('💾 Salvar no JSON3').first()?.json || null;\n\n  // Estruturar JSON final apenas com milho\n  const cotacoesConsolidadas = {\n    metadata: {\n      timestamp: new Date().toISOString(),\n      data_coleta: new Date().toLocaleDateString('pt-BR'),\n      total_ativos: milho ? 1 : 0,\n      fonte: 'Investing.com'\n    },\n    commodities: {\n      agricolas: {\n        milho: milho?.dados_formatados?.dados || null\n      }\n    },\n    status: {\n      milho: milho?.status || 'erro'\n    }\n  };\n\n  return [{ json: cotacoesConsolidadas }];\n\n} catch (error) {\n  return [{\n    json: {\n      erro: 'Erro ao consolidar cotações: ' + error.message,\n      timestamp: new Date().toISOString(),\n      status: 'erro_consolidacao'\n    }\n  }];\n}"
      },
      "id": "410eed4e-cae9-4ca9-a4cc-25d8ff78fd35",
      "name": "📊 Consolidador de Cotações3",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        640,
        1136
      ]
    },
    {
      "parameters": {
        "jsCode": "// Retornar o JSON consolidado final\nconst dadosConsolidados = $input.first().json;\n\nreturn [{\n  json: {\n    mensagem: 'Cotações consolidadas com sucesso!',\n    dados: dadosConsolidados,\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "id": "c00266e8-39d8-4dde-a6f4-180233dd1cb7",
      "name": "📋 Resposta Final Consolidada3",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        832,
        1136
      ]
    },
    {
      "parameters": {
        "jsCode": "try {\n  // Receber dados do salvamento\n  const dadosSalvos = $input.first().json;\n  \n  return [{\n    json: {\n      status: 'sistema_completo',\n      mensagem: 'Sistema de consolidação executado com sucesso!',\n      resultado: dadosSalvos,\n      total_cotacoes: 7,\n      timestamp_final: new Date().toISOString(),\n      resumo: {\n        commodities_agricolas: 3,\n        commodities_materiais: 2,\n        moedas: 2,\n        status_geral: dadosSalvos.status\n      }\n    }\n  }];\n  \n} catch (error) {\n  return [{ json: {\n    status: 'erro_sistema',\n    erro: 'Erro no sistema final: ' + error.message,\n    timestamp: new Date().toISOString()\n  } }];\n}"
      },
      "id": "27c23422-e83c-41b6-8b98-74464bc8ae10",
      "name": "📋 Resposta Final do Sistema3",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1008,
        1136
      ]
    },
    {
      "parameters": {
        "jsCode": "try {\n  const jsonResponse = $input.first().json;\n  const originalData = $('⚙️ Processar Dados4').first().json;\n\n  if (jsonResponse.status === 'erro') {\n    return [{\n      json: {\n        status: 'erro_json',\n        erro: jsonResponse.erro,\n        dados_originais: originalData,\n        timestamp: new Date().toISOString()\n      }\n    }];\n  }\n\n  return [{\n    json: {\n      status: 'sucesso',\n      mensagem: 'Dados salvos no JSON com sucesso',\n      dados_salvos: originalData,\n      arquivo: jsonResponse.arquivo,\n      timestamp: new Date().toISOString()\n    }\n  }];\n\n} catch (error) {\n  return [{\n    json: {\n      status: 'erro_final',\n      erro: 'Erro na resposta final: ' + error.message,\n      timestamp: new Date().toISOString()\n    }\n  }];\n}"
      },
      "id": "adffbdf3-9d29-48c6-99d9-f0ef717c0a18",
      "name": "📋 Resposta Final4",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        448
      ]
    },
    {
      "parameters": {
        "jsCode": "try {\n  // Coletar apenas os dados do milho\n  const milho = $('💾 Salvar no JSON4').first()?.json || null;\n\n  // Estruturar JSON final apenas com milho\n  const cotacoesConsolidadas = {\n    metadata: {\n      timestamp: new Date().toISOString(),\n      data_coleta: new Date().toLocaleDateString('pt-BR'),\n      total_ativos: milho ? 1 : 0,\n      fonte: 'Investing.com'\n    },\n    commodities: {\n      agricolas: {\n        milho: milho?.dados_formatados?.dados || null\n      }\n    },\n    status: {\n      milho: milho?.status || 'erro'\n    }\n  };\n\n  return [{ json: cotacoesConsolidadas }];\n\n} catch (error) {\n  return [{\n    json: {\n      erro: 'Erro ao consolidar cotações: ' + error.message,\n      timestamp: new Date().toISOString(),\n      status: 'erro_consolidacao'\n    }\n  }];\n}"
      },
      "id": "fd6019dc-dfc2-4108-bd14-3f29312a8cd1",
      "name": "📊 Consolidador de Cotações4",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        640,
        448
      ]
    },
    {
      "parameters": {
        "jsCode": "// Retornar o JSON consolidado final\nconst dadosConsolidados = $input.first().json;\n\nreturn [{\n  json: {\n    mensagem: 'Cotações consolidadas com sucesso!',\n    dados: dadosConsolidados,\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "id": "1f57aa14-02c5-4a2a-94a1-586297d415bd",
      "name": "📋 Resposta Final Consolidada4",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        832,
        448
      ]
    },
    {
      "parameters": {
        "jsCode": "try {\n  // Receber dados do salvamento\n  const dadosSalvos = $input.first().json;\n  \n  return [{\n    json: {\n      status: 'sistema_completo',\n      mensagem: 'Sistema de consolidação executado com sucesso!',\n      resultado: dadosSalvos,\n      total_cotacoes: 7,\n      timestamp_final: new Date().toISOString(),\n      resumo: {\n        commodities_agricolas: 3,\n        commodities_materiais: 2,\n        moedas: 2,\n        status_geral: dadosSalvos.status\n      }\n    }\n  }];\n  \n} catch (error) {\n  return [{ json: {\n    status: 'erro_sistema',\n    erro: 'Erro no sistema final: ' + error.message,\n    timestamp: new Date().toISOString()\n  } }];\n}"
      },
      "id": "08553e90-a33d-4b03-99d5-0ce9916a4804",
      "name": "📋 Resposta Final do Sistema4",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1008,
        448
      ]
    },
    {
      "parameters": {
        "jsCode": "try {\n  const jsonResponse = $input.first().json;\n  const originalData = $('⚙️ Processar Dados1').first().json;\n\n  if (jsonResponse.status === 'erro') {\n    return [{\n      json: {\n        status: 'erro_json',\n        erro: jsonResponse.erro,\n        dados_originais: originalData,\n        timestamp: new Date().toISOString()\n      }\n    }];\n  }\n\n  return [{\n    json: {\n      status: 'sucesso',\n      mensagem: 'Dados salvos no JSON com sucesso',\n      dados_salvos: originalData,\n      arquivo: jsonResponse.arquivo,\n      timestamp: new Date().toISOString()\n    }\n  }];\n\n} catch (error) {\n  return [{\n    json: {\n      status: 'erro_final',\n      erro: 'Erro na resposta final: ' + error.message,\n      timestamp: new Date().toISOString()\n    }\n  }];\n}"
      },
      "id": "580af988-6e53-42dc-86ae-62299ac5703d",
      "name": "📋 Resposta Final5",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        912
      ]
    },
    {
      "parameters": {
        "jsCode": "try {\n  // Coletar apenas os dados do milho\n  const milho = $('💾 Salvar no JSON1').first()?.json || null;\n\n  // Estruturar JSON final apenas com milho\n  const cotacoesConsolidadas = {\n    metadata: {\n      timestamp: new Date().toISOString(),\n      data_coleta: new Date().toLocaleDateString('pt-BR'),\n      total_ativos: milho ? 1 : 0,\n      fonte: 'Investing.com'\n    },\n    commodities: {\n      agricolas: {\n        milho: milho?.dados_formatados?.dados || null\n      }\n    },\n    status: {\n      milho: milho?.status || 'erro'\n    }\n  };\n\n  return [{ json: cotacoesConsolidadas }];\n\n} catch (error) {\n  return [{\n    json: {\n      erro: 'Erro ao consolidar cotações: ' + error.message,\n      timestamp: new Date().toISOString(),\n      status: 'erro_consolidacao'\n    }\n  }];\n}"
      },
      "id": "9469dfb5-8dfa-46b0-b954-5eb91573f567",
      "name": "📊 Consolidador de Cotações5",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        656,
        912
      ]
    },
    {
      "parameters": {
        "jsCode": "// Retornar o JSON consolidado final\nconst dadosConsolidados = $input.first().json;\n\nreturn [{\n  json: {\n    mensagem: 'Cotações consolidadas com sucesso!',\n    dados: dadosConsolidados,\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "id": "44e4356f-d7ce-48d2-b3ee-f031127c98be",
      "name": "📋 Resposta Final Consolidada5",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        848,
        912
      ]
    },
    {
      "parameters": {
        "jsCode": "try {\n  // Receber dados do salvamento\n  const dadosSalvos = $input.first().json;\n  \n  return [{\n    json: {\n      status: 'sistema_completo',\n      mensagem: 'Sistema de consolidação executado com sucesso!',\n      resultado: dadosSalvos,\n      total_cotacoes: 7,\n      timestamp_final: new Date().toISOString(),\n      resumo: {\n        commodities_agricolas: 3,\n        commodities_materiais: 2,\n        moedas: 2,\n        status_geral: dadosSalvos.status\n      }\n    }\n  }];\n  \n} catch (error) {\n  return [{ json: {\n    status: 'erro_sistema',\n    erro: 'Erro no sistema final: ' + error.message,\n    timestamp: new Date().toISOString()\n  } }];\n}"
      },
      "id": "672f9b01-8f34-4dd0-a8f0-aa9e863ec3df",
      "name": "📋 Resposta Final do Sistema5",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1024,
        912
      ]
    },
    {
      "parameters": {
        "jsCode": "try {\n  const jsonResponse = $input.first().json;\n  const originalData = $('⚙️ Processar Dados1').first().json;\n\n  if (jsonResponse.status === 'erro') {\n    return [{\n      json: {\n        status: 'erro_json',\n        erro: jsonResponse.erro,\n        dados_originais: originalData,\n        timestamp: new Date().toISOString()\n      }\n    }];\n  }\n\n  return [{\n    json: {\n      status: 'sucesso',\n      mensagem: 'Dados salvos no JSON com sucesso',\n      dados_salvos: originalData,\n      arquivo: jsonResponse.arquivo,\n      timestamp: new Date().toISOString()\n    }\n  }];\n\n} catch (error) {\n  return [{\n    json: {\n      status: 'erro_final',\n      erro: 'Erro na resposta final: ' + error.message,\n      timestamp: new Date().toISOString()\n    }\n  }];\n}"
      },
      "id": "110024b4-bb9c-4470-b21e-93e022b213c6",
      "name": "📋 Resposta Final6",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        224
      ]
    },
    {
      "parameters": {
        "jsCode": "try {\n  // Coletar apenas os dados do milho\n  const milho = $('💾 Salvar no JSON1').first()?.json || null;\n\n  // Estruturar JSON final apenas com milho\n  const cotacoesConsolidadas = {\n    metadata: {\n      timestamp: new Date().toISOString(),\n      data_coleta: new Date().toLocaleDateString('pt-BR'),\n      total_ativos: milho ? 1 : 0,\n      fonte: 'Investing.com'\n    },\n    commodities: {\n      agricolas: {\n        milho: milho?.dados_formatados?.dados || null\n      }\n    },\n    status: {\n      milho: milho?.status || 'erro'\n    }\n  };\n\n  return [{ json: cotacoesConsolidadas }];\n\n} catch (error) {\n  return [{\n    json: {\n      erro: 'Erro ao consolidar cotações: ' + error.message,\n      timestamp: new Date().toISOString(),\n      status: 'erro_consolidacao'\n    }\n  }];\n}"
      },
      "id": "67008dd9-6169-466c-9ce5-24bd761d5e03",
      "name": "📊 Consolidador de Cotações6",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        656,
        224
      ]
    },
    {
      "parameters": {
        "jsCode": "// Retornar o JSON consolidado final\nconst dadosConsolidados = $input.first().json;\n\nreturn [{\n  json: {\n    mensagem: 'Cotações consolidadas com sucesso!',\n    dados: dadosConsolidados,\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "id": "b8cd9244-96f0-4807-8007-90b7c5708ce5",
      "name": "📋 Resposta Final Consolidada6",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        848,
        224
      ]
    },
    {
      "parameters": {
        "jsCode": "try {\n  // Receber dados do salvamento\n  const dadosSalvos = $input.first().json;\n  \n  return [{\n    json: {\n      status: 'sistema_completo',\n      mensagem: 'Sistema de consolidação executado com sucesso!',\n      resultado: dadosSalvos,\n      total_cotacoes: 7,\n      timestamp_final: new Date().toISOString(),\n      resumo: {\n        commodities_agricolas: 3,\n        commodities_materiais: 2,\n        moedas: 2,\n        status_geral: dadosSalvos.status\n      }\n    }\n  }];\n  \n} catch (error) {\n  return [{ json: {\n    status: 'erro_sistema',\n    erro: 'Erro no sistema final: ' + error.message,\n    timestamp: new Date().toISOString()\n  } }];\n}"
      },
      "id": "dea373db-c6d3-428d-ae44-08e5464254c7",
      "name": "📋 Resposta Final do Sistema6",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1024,
        224
      ]
    },
    {
      "parameters": {
        "jsCode": "try {\n  // Buscar dados dos ativos base PREPARADOS\n  const boi = $('⚙️ Preparar BOI').first()?.json;\n  const milho = $('⚙️ Preparar MILHO').first()?.json;\n  const soja = $('⚙️ Preparar SOJA').first()?.json;\n  const madeira = $('⚙️ Preparar MADEIRA').first()?.json;\n  const carbono = $('⚙️ Preparar CARBONO').first()?.json;\n\n  if (!boi || !milho || !soja || !madeira || !carbono) {\n    return [{\n      json: {\n        erro: 'Dados insuficientes para calcular CH2O Água',\n        timestamp: new Date().toISOString(),\n        status: 'erro'\n      }\n    }];\n  }\n\n  const rentBoiGordo = parseFloat(boi.rent_media) || 0;\n  const rentMilho = parseFloat(milho.rent_media) || 0;\n  const rentSoja = parseFloat(soja.rent_media) || 0;\n  const rentMadeira = parseFloat(madeira.rent_media) || 0;\n  const rentCarbono = parseFloat(carbono.rent_media) || 0;\n\n  // Cálculo dos componentes\n  const componentes = {\n    boi_gordo_35: Math.floor(rentBoiGordo * 0.35 * 100 + 0.0000001) / 100,\n    milho_30: Math.round(rentMilho * 0.30 * 100) / 100,\n    soja_35: Math.round(rentSoja * 0.35 * 100) / 100,\n    madeira_100: Math.round(rentMadeira * 100) / 100,\n    carbono_100: Math.round(rentCarbono * 100) / 100\n  };\n\n  const ch2oAgua = componentes.boi_gordo_35 + componentes.milho_30 + componentes.soja_35 + componentes.madeira_100 + componentes.carbono_100;\n\n  const ctx = $('📅 Resolver Data').first().json;\n\n  return [{\n    json: {\n      ativo: 'CH2O Água',\n      data: ctx.dataBR,\n      valor: Math.round(ch2oAgua * 100) / 100,\n      componentes: componentes,\n      valores_originais: {\n        rent_boi_gordo: rentBoiGordo,\n        rent_milho: rentMilho,\n        rent_soja: rentSoja,\n        rent_madeira: rentMadeira,\n        rent_carbono: rentCarbono\n      },\n      formula: 'CH2O = (Boi×35%) + (Milho×30%) + (Soja×35%) + Madeira + Carbono',\n      moeda: 'BRL',\n      fonte: 'Cálculo UCS',\n      timestamp: new Date().toISOString(),\n      status: 'sucesso',\n      documentId: ctx.dateId\n    }\n  }];\n\n} catch (error) {\n  return [{\n    json: {\n      erro: 'Erro ao calcular CH2O Água: ' + error.message,\n      timestamp: new Date().toISOString(),\n      status: 'erro'\n    }\n  }];\n}"
      },
      "id": "0a372613-6b14-4d50-b428-4cd61449ea95",
      "name": "🧮 Calcular CH2O Original",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        48,
        1792
      ]
    },
    {
      "parameters": {
        "jsCode": "try {\n  const ch2oData = $input.first().json;\n  \n  return [{\n    json: {\n      status: 'ch2o_sucesso',\n      mensagem: 'CH2O Água calculado e salvo com sucesso!',\n      dados_ch2o: ch2oData,\n      timestamp: new Date().toISOString()\n    }\n  }];\n  \n} catch (error) {\n  return [{\n    json: {\n      status: 'ch2o_erro',\n      erro: 'Erro no CH2O: ' + error.message,\n      timestamp: new Date().toISOString()\n    }\n  }];\n}"
      },
      "id": "a75d49ad-9ba1-4523-929d-aa30d0ff15cd",
      "name": "📋 Resposta Final CH2O Original",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        1792
      ]
    },
    {
      "parameters": {
        "jsCode": "try {\n  const boi = $('⚙️ Preparar BOI').first()?.json;\n  const milho = $('⚙️ Preparar MILHO').first()?.json;\n  const soja = $('⚙️ Preparar SOJA').first()?.json;\n  const madeira = $('⚙️ Preparar MADEIRA').first()?.json;\n  const carbono = $('⚙️ Preparar CARBONO').first()?.json;\n\n  if (!boi || !milho || !soja || !madeira || !carbono) {\n    return [{\n      json: {\n        erro: 'Dados insuficientes para calcular Custo_Água',\n        timestamp: new Date().toISOString(),\n        status: 'erro'\n      }\n    }];\n  }\n\n  const rentBoiGordo = parseFloat(boi.rent_media) || 0;\n  const rentMilho = parseFloat(milho.rent_media) || 0;\n  const rentSoja = parseFloat(soja.rent_media) || 0;\n  const rentMadeira = parseFloat(madeira.rent_media) || 0;\n  const rentCarbono = parseFloat(carbono.rent_media) || 0;\n\n  const baseCalculo = (rentBoiGordo * 0.35) + (rentMilho * 0.30) + (rentSoja * 0.35) + rentMadeira + rentCarbono;\n  const custoAgua = baseCalculo * 0.07;\n\n  const ctx = $('📅 Resolver Data').first().json;\n\n  return [{\n    json: {\n      ativo: 'Custo_Água',\n      data: ctx.dataBR,\n      valor: Math.round(custoAgua * 100) / 100,\n      componentes: {\n        boi_gordo_35: Math.round(rentBoiGordo * 0.35 * 100) / 100,\n        milho_30: Math.round(rentMilho * 0.30 * 100) / 100,\n        soja_35: Math.round(rentSoja * 0.35 * 100) / 100,\n        madeira_100: Math.round(rentMadeira * 100) / 100,\n        carbono_100: Math.round(rentCarbono * 100) / 100,\n        base_calculo: Math.round(baseCalculo * 100) / 100,\n        resultado_final: Math.round(custoAgua * 100) / 100\n      },\n      valores_originais: {\n        rent_boi_gordo: rentBoiGordo,\n        rent_milho: rentMilho,\n        rent_soja: rentSoja,\n        rent_madeira: rentMadeira,\n        rent_carbono: rentCarbono\n      },\n      formula: 'Custo_Água = ((Boi×35%) + (Milho×30%) + (Soja×35%) + Madeira + Carbono) × 7%',\n      moeda: 'BRL',\n      fonte: 'Cálculo UCS',\n      timestamp: new Date().toISOString(),\n      status: 'sucesso',\n      documentId: ctx.dateId\n    }\n  }];\n  \n} catch (error) {\n  return [{\n    json: {\n      erro: 'Erro ao calcular Custo_Água: ' + error.message,\n      timestamp: new Date().toISOString(),\n      status: 'erro'\n    }\n  }];\n}"
      },
      "id": "051d3707-217f-4f60-afc1-9e5f64be2c64",
      "name": "🧮 Calcular Custo_Água",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        48,
        1968
      ]
    },
    {
      "parameters": {
        "jsCode": "try {\n  const boi = $('⚙️ Preparar BOI').first()?.json;\n  const milho = $('⚙️ Preparar MILHO').first()?.json;\n  const soja = $('⚙️ Preparar SOJA').first()?.json;\n  const madeira = $('⚙️ Preparar MADEIRA').first()?.json;\n  const carbono = $('⚙️ Preparar CARBONO').first()?.json;\n  const custoAgua = $('💾 Custo_Água').first()?.json;\n\n  if (!boi || !milho || !soja || !madeira || !carbono || !custoAgua) {\n    return [{\n      json: {\n        erro: 'Dados insuficientes para calcular PDM',\n        timestamp: new Date().toISOString(),\n        status: 'erro'\n      }\n    }];\n  }\n\n  const rentBoiGordo = parseFloat(boi.rent_media) || 0;\n  const rentMilho = parseFloat(milho.rent_media) || 0;\n  const rentSoja = parseFloat(soja.rent_media) || 0;\n  const rentMadeira = parseFloat(madeira.rent_media) || 0;\n  const rentCarbono = parseFloat(carbono.rent_media) || 0;\n  const valorCustoAgua = parseFloat(custoAgua.valor) || 0;\n\n  const pdm = (rentBoiGordo * 0.35) + (rentMilho * 0.30) + (rentSoja * 0.35) + rentMadeira + rentCarbono + valorCustoAgua;\n\n  const ctx = $('📅 Resolver Data').first().json;\n\n  return [{\n    json: {\n      ativo: 'PDM',\n      data: ctx.dataBR,\n      valor: Math.round(pdm * 100) / 100,\n      componentes: {\n        boi_gordo_35: Math.round(rentBoiGordo * 0.35 * 100) / 100,\n        milho_30: Math.round(rentMilho * 0.30 * 100) / 100,\n        soja_35: Math.round(rentSoja * 0.35 * 100) / 100,\n        madeira_100: Math.round(rentMadeira * 100) / 100,\n        carbono_100: Math.round(rentCarbono * 100) / 100,\n        custo_agua_100: Math.round(valorCustoAgua * 100) / 100\n      },\n      valores_originais: {\n        rent_boi_gordo: rentBoiGordo,\n        rent_milho: rentMilho,\n        rent_soja: rentSoja,\n        rent_madeira: rentMadeira,\n        rent_carbono: rentCarbono,\n        custo_agua: valorCustoAgua\n      },\n      formula: 'PDM = (Boi×35%) + (Milho×30%) + (Soja×35%) + Madeira + Carbono + Custo_Água',\n      moeda: 'BRL',\n      fonte: 'Cálculo UCS',\n      timestamp: new Date().toISOString(),\n      status: 'sucesso',\n      documentId: ctx.dateId\n    }\n  }];\n} catch (error) {\n  return [{\n    json: {\n      erro: 'Erro ao calcular PDM: ' + error.message,\n      timestamp: new Date().toISOString(),\n      status: 'erro'\n    }\n  }];\n}"
      },
      "id": "d397a4b8-4bc3-464d-81ca-002d735bbffd",
      "name": "🧮 Calcular PDM",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        48,
        2144
      ]
    },
    {
      "parameters": {
        "jsCode": "try {\n  const pdmData = $input.first().json;\n\n  return [\n    {\n      json: {\n        status: 'pdm_sucesso',\n        mensagem: 'PDM calculado e salvo com sucesso!',\n        dados_pdm: pdmData,\n        timestamp: new Date().toISOString()\n      }\n    }\n  ];\n\n} catch (error) {\n  return [\n    {\n      json: {\n        status: 'pdm_erro',\n        erro: 'Erro no PDM: ' + error.message,\n        timestamp: new Date().toISOString()\n      }\n    }\n  ];\n}\n"
      },
      "id": "672dfb5a-c952-48c2-a381-84e1abd84e7d",
      "name": "📋 Resposta Final PDM",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        2144
      ]
    },
    {
      "parameters": {
        "jsCode": "try {\n  const pdmData = $('💾 PDM').first()?.json;\n\n  if (!pdmData) {\n    return [{\n      json: {\n        erro: 'Dados do PDM insuficientes para calcular UCS',\n        timestamp: new Date().toISOString(),\n        status: 'erro'\n      }\n    }];\n  }\n\n  const valorPDM = parseFloat(pdmData.valor) || 0;\n  const ucs = (valorPDM / 900) / 2;\n\n  const ctx = $('📅 Resolver Data').first().json;\n\n  return [{\n    json: {\n      ativo: 'UCS',\n      data: ctx.dataBR,\n      valor: Math.round(ucs * 100) / 100,\n      componentes: {\n        pdm_original: valorPDM,\n        pdm_div_900: Math.round((valorPDM / 900) * 100) / 100,\n        resultado_final: Math.round(ucs * 100) / 100\n      },\n      valores_originais: {\n        pdm: valorPDM\n      },\n      formula: 'UCS = (PDM ÷ 900) ÷ 2',\n      moeda: 'BRL',\n      fonte: 'Cálculo UCS',\n      timestamp: new Date().toISOString(),\n      status: 'sucesso',\n      documentId: ctx.dateId\n    }\n  }];\n\n} catch (error) {\n  return [{\n    json: {\n      erro: 'Erro ao calcular UCS: ' + error.message,\n      timestamp: new Date().toISOString(),\n      status: 'erro'\n    }\n  }];\n}"
      },
      "id": "e0293313-863a-498b-a1a0-aabdcce97d9b",
      "name": "🧮 Calcular UCS",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        48,
        2320
      ]
    },
    {
      "parameters": {
        "jsCode": "try {\n  const ucsData = $('💾 UCS').first()?.json;\n  const usdData = $('⚙️ Preparar USD').first()?.json;\n  const eurData = $('⚙️ Preparar EUR').first()?.json;\n\n  if (!ucsData || !usdData || !eurData) {\n    return [{\n      json: {\n        erro: 'Dados insuficientes para calcular UCS ASE',\n        dados_faltando: {\n          ucs: !ucsData,\n          usd: !usdData,\n          eur: !eurData\n        },\n        timestamp: new Date().toISOString(),\n        status: 'erro'\n      }\n    }];\n  }\n\n  const valorUCS = parseFloat(ucsData.valor) || 0;\n  const cotacaoUSD = parseFloat(usdData.ultimo) || 0;\n  const cotacaoEUR = parseFloat(eurData.ultimo) || 0;\n\n  const ucsASEBRL = valorUCS * 2;\n  const ucsASEUSD = cotacaoUSD > 0 ? Math.round((ucsASEBRL / cotacaoUSD) * 100) / 100 : 0;\n  const ucsASEEUR = cotacaoEUR > 0 ? Math.round((ucsASEBRL / cotacaoEUR) * 100) / 100 : 0;\n\n  const ctx = $('📅 Resolver Data').first().json;\n\n  return [{\n    json: {\n      ativo: 'UCS ASE',\n      data: ctx.dataBR,\n      valor_brl: Math.round(ucsASEBRL * 100) / 100,\n      valor_usd: ucsASEUSD,\n      valor_eur: ucsASEEUR,\n      componentes: {\n        ucs_original_brl: valorUCS,\n        resultado_final_brl: Math.round(ucsASEBRL * 100) / 100,\n        resultado_final_usd: ucsASEUSD,\n        resultado_final_eur: ucsASEEUR\n      },\n      valores_originais: {\n        ucs: valorUCS,\n        cotacao_usd: cotacaoUSD,\n        cotacao_eur: cotacaoEUR\n      },\n      formula: 'UCS ASE = UCS × 2',\n      moedas: ['BRL', 'USD', 'EUR'],\n      fonte: 'Cálculo UCS',\n      timestamp: new Date().toISOString(),\n      status: 'sucesso',\n      documentId: ctx.dateId\n    }\n  }];\n\n} catch (error) {\n  return [{\n    json: {\n      erro: 'Erro ao calcular UCS ASE: ' + error.message,\n      timestamp: new Date().toISOString(),\n      status: 'erro'\n    }\n  }];\n}"
      },
      "id": "c39d2725-759a-45ef-8b9c-d12a0bd66a05",
      "name": "🧮 Calcular UCS ASE",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        48,
        2496
      ]
    },
    {
      "parameters": {
        "jsCode": "try {\n  const boi = $('⚙️ Preparar BOI').first()?.json;\n  const milho = $('⚙️ Preparar MILHO').first()?.json;\n  const soja = $('⚙️ Preparar SOJA').first()?.json;\n\n  if (!boi || !milho || !soja) {\n    return [{\n      json: {\n        erro: \"Dados insuficientes\",\n        timestamp: new Date().toISOString(),\n        status: \"erro\",\n      },\n    }];\n  }\n\n  const rentBoiGordo = parseFloat(boi.rent_media) || 0;\n  const rentMilho = parseFloat(milho.rent_media) || 0;\n  const rentSoja = parseFloat(soja.rent_media) || 0;\n\n  // **CÁLCULO DIRETO - EXATAMENTE COMO NO EXCEL**\n  const base = (rentBoiGordo * 0.35) + (rentMilho * 0.30) + (rentSoja * 0.35);\n  const vusFinal = (base - (base * 0.048)) * 25;\n\n  const ctx = $('📅 Resolver Data').first().json;\n\n  return [{\n    json: {\n      ativo: \"VUS\",\n      data: ctx.dataBR,\n      valor: vusFinal,\n      componentes: {\n        boi_gordo_35: rentBoiGordo * 0.35,\n        milho_30: rentMilho * 0.30,\n        soja_35: rentSoja * 0.35,\n        base_calculo: (rentBoiGordo * 0.35) + (rentMilho * 0.30) + (rentSoja * 0.35),\n        desconto_arrendamento: base * 0.048,\n        resultado_final: vusFinal,\n      },\n      valores_originais: {\n        rent_boi_gordo: rentBoiGordo,\n        rent_milho: rentMilho,\n        rent_soja: rentSoja,\n      },\n      formula: \"VUS =(((rent_boi_gordo*35% + rente milho *30% + rent_soja*35%)-(rent_boi_gordo*35% + rente milho *30% + rent_soja*35%)*4,8))*25\",\n      moeda: \"BRL\",\n      fonte: \"Cálculo UCS\",\n      timestamp: new Date().toISOString(),\n      status: \"sucesso\",\n      documentId: ctx.dateId,\n    },\n  }];\n} catch (error) {\n  return [{\n    json: {\n      erro: \"Erro ao calcular VUS: \" + error.message,\n      timestamp: new Date().toISOString(),\n      status: \"erro\",\n    },\n  }];\n}"
      },
      "id": "d0305a18-deb8-4fad-a8ff-14aefaaad591",
      "name": "🧮 Calcular VUS",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        48,
        2672
      ]
    },
    {
      "parameters": {
        "jsCode": "try {\n  const carbono = $('⚙️ Preparar CARBONO').first()?.json;\n\n  if (!carbono) {\n    return [{\n      json: {\n        erro: 'Dados insuficientes para calcular Carbono_CRS',\n        timestamp: new Date().toISOString(),\n        status: 'erro'\n      }\n    }];\n  }\n\n  const rentCarbono = parseFloat(carbono.rent_media) || 0;\n  const carbonoCRS = rentCarbono * 25;\n  const valorFinal = Math.floor(carbonoCRS * 100) / 100;\n\n  const ctx = $('📅 Resolver Data').first().json;\n\n  return [{\n    json: {\n      ativo: 'Carbono_CRS',\n      data: ctx.dataBR,\n      valor: valorFinal,\n      componentes: {\n        rent_media_carbono: rentCarbono,\n        multiplicador: 25,\n        resultado_final: valorFinal\n      },\n      valores_originais: {\n        rent_carbono: rentCarbono\n      },\n      formula: `Carbono_CRS = ${rentCarbono} * 25 = ${valorFinal}`,\n      moeda: 'BRL',\n      fonte: 'Cálculo UCS - Dinâmico',\n      timestamp: new Date().toISOString(),\n      status: 'sucesso',\n      documentId: ctx.dateId\n    }\n  }];\n\n} catch (error) {\n  return [{\n    json: {\n      erro: 'Erro ao calcular Carbono_CRS: ' + error.message,\n      timestamp: new Date().toISOString(),\n      status: 'erro'\n    }\n  }];\n}"
      },
      "id": "5a73bc7a-591c-46f3-bdd8-c3f41afc94c7",
      "name": "🧮 Calcular Carbono_CRS",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        48,
        2848
      ]
    },
    {
      "parameters": {
        "jsCode": "try {\n  const ch2oData = $('💾 CH2O').first()?.json;\n\n  if (!ch2oData) {\n    return [{\n      json: {\n        erro: 'Dados insuficientes para calcular Agua_CRS',\n        timestamp: new Date().toISOString(),\n        status: 'erro'\n      }\n    }];\n  }\n\n  const rentCH2O = parseFloat(ch2oData.valor) || 0;\n  const aguaCRS = rentCH2O;\n\n  const ctx = $('📅 Resolver Data').first().json;\n\n  return [{\n    json: {\n      ativo: 'Agua_CRS',\n      data: ctx.dataBR,\n      valor: Math.round(aguaCRS * 100) / 100,\n      componentes: {\n        rent_media_ch2o: rentCH2O,\n        resultado_final: Math.round(aguaCRS * 100) / 100\n      },\n      valores_originais: {\n        valor_ch2o: rentCH2O\n      },\n      formula: 'Agua_CRS = valor_CH2O (rentabilidade média)',\n      moeda: 'BRL',\n      fonte: 'Cálculo UCS',\n      timestamp: new Date().toISOString(),\n      status: 'sucesso',\n      documentId: ctx.dateId\n    }\n  }];\n\n} catch (error) {\n  return [{\n    json: {\n      erro: 'Erro ao calcular Agua_CRS: ' + error.message,\n      timestamp: new Date().toISOString(),\n      status: 'erro'\n    }\n  }];\n}"
      },
      "id": "c87da8c7-ee34-4f82-8602-dffa59715e59",
      "name": "🧮 Calcular Agua_CRS",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        48,
        3024
      ]
    },
    {
      "parameters": {
        "jsCode": "try {\n  const madeira = $('⚙️ Preparar MADEIRA').first()?.json;\n\n  if (!madeira) {\n    return [{\n      json: {\n        erro: 'Dados insuficientes para calcular Vmad',\n        timestamp: new Date().toISOString(),\n        status: 'erro'\n      }\n    }];\n  }\n\n  const rentMadeira = parseFloat(madeira.rent_media) || 0;\n  const vmad = rentMadeira * 5;\n  const valorFinal = Math.floor(vmad * 100) / 100;\n\n  const ctx = $('📅 Resolver Data').first().json;\n\n  return [{\n    json: {\n      ativo: 'Vmad',\n      data: ctx.dataBR,\n      valor: valorFinal,\n      componentes: {\n        rent_media_madeira: rentMadeira,\n        multiplicador: 5,\n        resultado_final: valorFinal\n      },\n      valores_originais: {\n        rent_madeira: rentMadeira\n      },\n      formula: 'Vmad = rent_media_madeira * 5',\n      moeda: 'BRL',\n      fonte: 'Cálculo UCS',\n      timestamp: new Date().toISOString(),\n      status: 'sucesso',\n      documentId: ctx.dateId\n    }\n  }];\n\n} catch (error) {\n  return [{\n    json: {\n      erro: 'Erro ao calcular Vmad: ' + error.message,\n      timestamp: new Date().toISOString(),\n      status: 'erro'\n    }\n  }];\n}"
      },
      "id": "60bd6df0-9911-44e8-951d-93a23613a518",
      "name": "🧮 Calcular Vmad",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        48,
        3216
      ]
    },
    {
      "parameters": {
        "jsCode": "try {\n  const vusData = $(\"💾 VUS\").first()?.json;\n  const vmadData = $(\"💾 Vmad\").first()?.json;\n  const carbonoCRSData = $(\"💾 Carbono_CRS\").first()?.json;\n  const aguaCRSData = $(\"💾 Agua_CRS\").first()?.json;\n\n  if (!vusData || !vmadData || !carbonoCRSData || !aguaCRSData) {\n    return [{\n      json: {\n        erro: \"Dados insuficientes para calcular Valor_Uso_Solo\",\n        timestamp: new Date().toISOString(),\n        status: \"erro\",\n      },\n    }];\n  }\n\n  const valorVUS = parseFloat(vusData.valor) || 0;\n  const valorVmad = parseFloat(vmadData.valor) || 0;\n  const valorCarbonoCRS = parseFloat(carbonoCRSData.valor) || 0;\n  const valorAguaCRS = parseFloat(aguaCRSData.valor) || 0;\n\n  const valorUsoSolo = valorVUS + valorVmad + valorCarbonoCRS + valorAguaCRS;\n\n  const percentualVUS = valorUsoSolo > 0 ? (valorVUS / valorUsoSolo) * 100 : 0;\n  const percentualVmad = valorUsoSolo > 0 ? (valorVmad / valorUsoSolo) * 100 : 0;\n  const percentualCarbonoCRS = valorUsoSolo > 0 ? (valorCarbonoCRS / valorUsoSolo) * 100 : 0;\n  const percentualAguaCRS = valorUsoSolo > 0 ? (valorAguaCRS / valorUsoSolo) * 100 : 0;\n\n  const formatarPercentual = (valor) => `${valor}%`;\n\n  const ctx = $('📅 Resolver Data').first().json;\n\n  return [{\n    json: {\n      created_at: new Date().toISOString(),\n      formulas: {\n        valor_total: \"Valor_Uso_Solo = VUS + Vmad + Carbono_CRS + Agua_CRS\",\n        porcentagem_vus: \"VUS / Valor_Uso_Solo * 100\",\n        porcentagem_vmad: \"Vmad / Valor_Uso_Solo * 100\",\n        porcentagem_carbono_crs: \"Carbono_CRS / Valor_Uso_Solo * 100\",\n        porcentagem_agua_crs: \"Agua_CRS / Valor_Uso_Solo * 100\",\n      },\n      timestamp: new Date().toISOString(),\n      data: ctx.dataBR,\n      documentId: ctx.dateId,\n      valor: valorUsoSolo,\n      status: \"sucesso\",\n      porcentagens: {\n        vus_p: formatarPercentual(percentualVUS),\n        vmad_p: formatarPercentual(percentualVmad),\n        carbono_crs_p: formatarPercentual(percentualCarbonoCRS),\n        agua_crs_p: formatarPercentual(percentualAguaCRS),\n      },\n      moeda: \"BRL\",\n      ativo: \"Valor_Uso_Solo\",\n      valores_originais: {\n        vus: valorVUS,\n        vmad: valorVmad,\n        carbono_crs: valorCarbonoCRS,\n        agua_crs: valorAguaCRS,\n      },\n      bulk_import: true,\n      fonte: \"Banco de dados - Cálculo UCS\",\n    },\n  }];\n} catch (error) {\n  return [{\n    json: {\n      erro: \"Erro ao calcular Valor_Uso_Solo: \" + error.message,\n      timestamp: new Date().toISOString(),\n      status: \"erro\",\n    },\n  }];\n}"
      },
      "id": "3cc9d529-039d-4c9a-a763-a1cff21790b0",
      "name": "🧮 Calcular Valor_Uso_Solo",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        48,
        3392
      ]
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "upsert",
        "projectId": "ucs-index-tracker",
        "collection": "boi_gordo",
        "updateKey": "documentId",
        "columns": "=ativo,data,ultimo,ton,rent_media,moeda,fonte,timestamp,status,documentId"
      },
      "id": "a6a0811b-f434-486a-90cc-793d163c7e56",
      "name": "💾 BOI",
      "type": "n8n-nodes-base.googleFirebaseCloudFirestore",
      "typeVersion": 1,
      "position": [
        240,
        1408
      ],
      "credentials": {
        "googleApi": {
          "id": "Dqr74c3ldFzCyUyS",
          "name": "Google Firebase Cloud Firestore account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "upsert",
        "projectId": "ucs-index-tracker",
        "collection": "soja",
        "updateKey": "documentId",
        "columns": "=ativo,data,ultimo,ultimo_brl,ton,rent_media,cotacao_dolar,moeda,fonte,timestamp,status,documentId"
      },
      "id": "711d77e4-4b55-4f62-a9a2-910d33bb91f9",
      "name": "💾 SOJA",
      "type": "n8n-nodes-base.googleFirebaseCloudFirestore",
      "typeVersion": 1,
      "position": [
        240,
        688
      ],
      "credentials": {
        "googleApi": {
          "id": "Dqr74c3ldFzCyUyS",
          "name": "Google Firebase Cloud Firestore account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "upsert",
        "projectId": "ucs-index-tracker",
        "collection": "madeira",
        "updateKey": "documentId",
        "columns": "=ativo,data,ultimo,madeira_tora_usd,rent_media,cotacao_dolar,moeda,fonte,timestamp,status,documentId"
      },
      "id": "1f4c1705-f4b2-48b0-b3ca-a55f7deb7bc8",
      "name": "💾 MADEIRA",
      "type": "n8n-nodes-base.googleFirebaseCloudFirestore",
      "typeVersion": 1,
      "position": [
        240,
        448
      ],
      "credentials": {
        "googleApi": {
          "id": "Dqr74c3ldFzCyUyS",
          "name": "Google Firebase Cloud Firestore account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const body = $('🟢 Manual Overrides').first().json || {};\nconst dataEspecifica = body.data_especifica;\nconst now = new Date();\n\nconst dateId = dataEspecifica || now.toISOString().split('T')[0];\nconst dataBR = dataEspecifica ? \n  new Date(dataEspecifica + 'T00:00:00').toLocaleDateString('pt-BR') : \n  now.toLocaleDateString('pt-BR');\n\nreturn [{ json: { dateId, dataBR, timestamp: now.toISOString() } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -864,
        224
      ],
      "id": "1a8e92e7-88a5-4c89-8c61-007577232819",
      "name": "📅 Resolver Data"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{$json}}",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        624,
        3392
      ],
      "id": "72c1d2de-bac4-472c-8480-35d3f14f7798",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "jsCode": "const mapped = $('🗺️ Mapear Bases').first().json || {};\nconst x = mapped.usd; \nif (!x || x.ultimo == null) return [];\n\nconst ultimo = Number(x.ultimo ?? x.preco);\nconst ctx = $('📅 Resolver Data').first().json;\n\nreturn [{ json: {\n  ativo: 'USD/BRL', \n  data: ctx.dataBR,\n  ultimo, \n  abertura: ultimo, \n  maxima: ultimo, \n  minima: ultimo,\n  volume: null, \n  variacao_pct: null, \n  moeda: 'BRL', \n  fonte: 'Painel',\n  timestamp: new Date().toISOString(), \n  status: 'sucesso',\n  documentId: ctx.dateId\n}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        48,
        224
      ],
      "id": "15a566cd-24a2-46ff-8a9d-683e9e484e27",
      "name": "⚙️ Preparar USD"
    },
    {
      "parameters": {
        "jsCode": "const mapped = $('🗺️ Mapear Bases').first().json || {};\nconst usd = $('⚙️ Preparar USD').first()?.json?.ultimo;\nconst x = mapped.madeira; \nif (!x || x.ultimo == null || usd == null) return [];\n\nconst ultimo = Number(x.ultimo ?? x.preco);\nconst madeira_tora_usd = ultimo * 0.375620342; // 37,5620342%\nconst rent_media = Math.round((madeira_tora_usd * usd * 120) * 100) / 100;\n\nconst ctx = $('📅 Resolver Data').first().json;\n\nreturn [{ json: {\n  ativo: 'Madeira Serrada', \n  data: ctx.dataBR,\n  ultimo, \n  madeira_tora_usd: Math.round(madeira_tora_usd * 100) / 100,\n  cotacao_dolar: usd, \n  rent_media,\n  moeda: 'USD', \n  fonte: 'Painel', \n  timestamp: new Date().toISOString(), \n  status: 'sucesso',\n  documentId: ctx.dateId\n}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        48,
        448
      ],
      "id": "7c2241d8-cc13-456f-b8a7-a546d373c234",
      "name": "⚙️ Preparar MADEIRA"
    },
    {
      "parameters": {
        "jsCode": "const mapped = $('🗺️ Mapear Bases').first().json || {};\nconst usd = $('⚙️ Preparar USD').first()?.json?.ultimo;\nconst x = mapped.soja; \nif (!x || x.ultimo == null || usd == null) return [];\n\nconst ultimo = Number(x.ultimo ?? x.preco);\nconst ultimo_brl = Math.round((ultimo * usd) * 100) / 100;\nconst ton_usd = (ultimo / 60) * 1000;\nconst ton_brl_calculado = ton_usd * usd;\nconst ton = Math.floor(ton_brl_calculado * 100) / 100;\nconst fator_rentabilidade = (55 * 60) / 1000; // 3.3\nconst rent_media = Math.round((ton_brl_calculado * fator_rentabilidade + Number.EPSILON) * 100) / 100;\n\nconst ctx = $('📅 Resolver Data').first().json;\n\nreturn [{ json: {\n  ativo: 'Soja Futuros', \n  data: ctx.dataBR,\n  ultimo, \n  ultimo_brl,\n  ton_usd: Math.round(ton_usd * 100) / 100,\n  ton: ton,\n  cotacao_dolar: usd, \n  rent_media,\n  moeda: 'USD', \n  fonte: 'Painel', \n  timestamp: new Date().toISOString(), \n  status: 'sucesso',\n  documentId: ctx.dateId\n}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        48,
        688
      ],
      "id": "48abb836-7206-48e4-91d8-b6f7453ee597",
      "name": "⚙️ Preparar SOJA"
    },
    {
      "parameters": {
        "jsCode": "const mapped = $('🗺️ Mapear Bases').first().json || {};\nconst eur = $('⚙️ Preparar EUR').first()?.json?.ultimo;\nconst x = mapped.carbono; \nif (!x || x.ultimo == null || eur == null) return [];\n\nconst ultimo = Number(x.ultimo ?? x.preco);\nconst ultimo_brl = Math.round((ultimo * eur) * 100) / 100;\nconst rent_media_bruta = ultimo_brl * 2.59;\nconst rent_media = Math.floor(rent_media_bruta * 10000) / 10000; // 4 casas decimais, truncado como no Agendador\n\nconst ctx = $('📅 Resolver Data').first().json;\n\nreturn [{ json: {\n  ativo: 'Carbono', \n  data: ctx.dataBR,\n  ultimo, \n  ultimo_brl,\n  cotacao_euro: eur, \n  rent_media,\n  moeda: 'EUR', \n  fonte: 'Painel', \n  timestamp: new Date().toISOString(), \n  status: 'sucesso',\n  documentId: ctx.dateId\n}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        48,
        1136
      ],
      "id": "5f865fed-e01c-452c-9aec-46140a685938",
      "name": "⚙️ Preparar CARBONO"
    },
    {
      "parameters": {
        "jsCode": "const mapped = $('🗺️ Mapear Bases').first().json || {};\nconst x = mapped.boi; \nif (!x || x.ultimo == null) return [];\n\nconst ultimo = Number(x.ultimo ?? x.preco);\nconst ton = Math.round((((ultimo / 60) * 1000)) * 100) / 100;\nconst rent_media = Math.round((ton * 7.2) * 100) / 100;\n\nconst ctx = $('📅 Resolver Data').first().json;\n\nreturn [{ json: {\n  ativo: 'Boi Gordo', \n  data: ctx.dataBR,\n  ultimo, \n  ton,\n  rent_media,\n  moeda: 'BRL', \n  fonte: 'Painel', \n  timestamp: new Date().toISOString(), \n  status: 'sucesso',\n  documentId: ctx.dateId\n}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        48,
        1408
      ],
      "id": "ad0d87f7-c8fb-4290-aee4-64b78bdbe00e",
      "name": "⚙️ Preparar BOI"
    },
    {
      "parameters": {
        "jsCode": "const mapped = $('🗺️ Mapear Bases').first().json || {};\nconst x = mapped.milho; \nif (!x || x.ultimo == null) return [];\n\nconst ultimo = Number(x.ultimo ?? x.preco);\nconst ton = Math.round(((ultimo / 60) * 1000) * 100) / 100;\nconst rent_media = Math.round((ton * 7.2) * 100) / 100;\n\nconst ctx = $('📅 Resolver Data').first().json;\n\nreturn [{ json: {\n  ativo: 'Milho Futuros', \n  data: ctx.dataBR,\n  ultimo, \n  ton,\n  rent_media,\n  moeda: 'BRL', \n  fonte: 'Painel', \n  timestamp: new Date().toISOString(), \n  status: 'sucesso',\n  documentId: ctx.dateId\n}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        48,
        1632
      ],
      "id": "7dfcb4f1-60a7-4a31-9998-53e03597bdc8",
      "name": "⚙️ Preparar MILHO"
    },
    {
      "parameters": {
        "jsCode": "const mapped = $('🗺️ Mapear Bases').first().json || {};\nconst x = mapped.eur; \nif (!x || x.ultimo == null) return [];\n\nconst ultimo = Number(x.ultimo ?? x.preco);\nconst ctx = $('📅 Resolver Data').first().json;\n\nreturn [{ json: {\n  ativo: 'EUR/BRL', \n  data: ctx.dataBR,\n  ultimo, \n  abertura: ultimo, \n  maxima: ultimo, \n  minima: ultimo,\n  volume: null, \n  variacao_pct: null, \n  moeda: 'BRL', \n  fonte: 'Painel',\n  timestamp: new Date().toISOString(), \n  status: 'sucesso',\n  documentId: ctx.dateId\n}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        32,
        912
      ],
      "id": "a64dab71-b66e-44c4-865a-7d4ff74878d0",
      "name": "⚙️ Preparar EUR"
    }
  ],
  "pinData": {},
  "connections": {
    "🔔 Webhook Recalc": {
      "main": [
        [
          {
            "node": "✅ Validar Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "✅ Validar Payload": {
      "main": [
        [
          {
            "node": "🟢 Manual Overrides",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🟢 Manual Overrides": {
      "main": [
        [
          {
            "node": "🗺️ Mapear Bases",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "💾 Valor_Uso_Solo": {
      "main": [
        [
          {
            "node": "📋 Resposta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📊 Consolidador de Cotações": {
      "main": [
        [
          {
            "node": "📋 Resposta Final Consolidada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📋 Resposta Final Consolidada": {
      "main": [
        [
          {
            "node": "📋 Resposta Final do Sistema",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📋 Resposta Final": {
      "main": [
        [
          {
            "node": "📊 Consolidador de Cotações",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📋 Resposta Final1": {
      "main": [
        [
          {
            "node": "📊 Consolidador de Cotações1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📊 Consolidador de Cotações1": {
      "main": [
        [
          {
            "node": "📋 Resposta Final Consolidada1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📋 Resposta Final Consolidada1": {
      "main": [
        [
          {
            "node": "📋 Resposta Final do Sistema1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📋 Resposta Final2": {
      "main": [
        [
          {
            "node": "📊 Consolidador de Cotações2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📊 Consolidador de Cotações2": {
      "main": [
        [
          {
            "node": "📋 Resposta Final Consolidada2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📋 Resposta Final Consolidada2": {
      "main": [
        [
          {
            "node": "📋 Resposta Final do Sistema2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📋 Resposta Final3": {
      "main": [
        [
          {
            "node": "📊 Consolidador de Cotações3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📊 Consolidador de Cotações3": {
      "main": [
        [
          {
            "node": "📋 Resposta Final Consolidada3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📋 Resposta Final Consolidada3": {
      "main": [
        [
          {
            "node": "📋 Resposta Final do Sistema3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📋 Resposta Final4": {
      "main": [
        [
          {
            "node": "📊 Consolidador de Cotações4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📊 Consolidador de Cotações4": {
      "main": [
        [
          {
            "node": "📋 Resposta Final Consolidada4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📋 Resposta Final Consolidada4": {
      "main": [
        [
          {
            "node": "📋 Resposta Final do Sistema4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📋 Resposta Final5": {
      "main": [
        [
          {
            "node": "📊 Consolidador de Cotações5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📊 Consolidador de Cotações5": {
      "main": [
        [
          {
            "node": "📋 Resposta Final Consolidada5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📋 Resposta Final Consolidada5": {
      "main": [
        [
          {
            "node": "📋 Resposta Final do Sistema5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📋 Resposta Final6": {
      "main": [
        [
          {
            "node": "📊 Consolidador de Cotações6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📊 Consolidador de Cotações6": {
      "main": [
        [
          {
            "node": "📋 Resposta Final Consolidada6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📋 Resposta Final Consolidada6": {
      "main": [
        [
          {
            "node": "📋 Resposta Final do Sistema6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📋 Resposta Final do Sistema": {
      "main": [
        [
          {
            "node": "🧮 Calcular CH2O Original",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🧮 Calcular CH2O Original": {
      "main": [
        [
          {
            "node": "💾 CH2O",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🧮 Calcular Custo_Água": {
      "main": [
        [
          {
            "node": "💾 Custo_Água",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🧮 Calcular PDM": {
      "main": [
        [
          {
            "node": "💾 PDM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🧮 Calcular UCS": {
      "main": [
        [
          {
            "node": "💾 UCS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🧮 Calcular UCS ASE": {
      "main": [
        [
          {
            "node": "💾 UCS ASE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📋 Resposta Final CH2O Original": {
      "main": [
        [
          {
            "node": "🧮 Calcular Custo_Água",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📋 Resposta Final PDM": {
      "main": [
        [
          {
            "node": "🧮 Calcular UCS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🧮 Calcular VUS": {
      "main": [
        [
          {
            "node": "💾 VUS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🧮 Calcular Carbono_CRS": {
      "main": [
        [
          {
            "node": "💾 Carbono_CRS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🧮 Calcular Agua_CRS": {
      "main": [
        [
          {
            "node": "💾 Agua_CRS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🧮 Calcular Vmad": {
      "main": [
        [
          {
            "node": "💾 Vmad",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🧮 Calcular Valor_Uso_Solo": {
      "main": [
        [
          {
            "node": "💾 Valor_Uso_Solo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "💾 USD": {
      "main": [
        [
          {
            "node": "📋 Resposta Final6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "💾 CH2O": {
      "main": [
        [
          {
            "node": "📋 Resposta Final CH2O Original",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "💾 PDM": {
      "main": [
        [
          {
            "node": "📋 Resposta Final PDM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "💾 Custo_Água": {
      "main": [
        [
          {
            "node": "🧮 Calcular PDM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "💾 UCS ASE": {
      "main": [
        [
          {
            "node": "🧮 Calcular VUS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "💾 VUS": {
      "main": [
        [
          {
            "node": "🧮 Calcular Carbono_CRS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "💾 Carbono_CRS": {
      "main": [
        [
          {
            "node": "🧮 Calcular Agua_CRS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "💾 Agua_CRS": {
      "main": [
        [
          {
            "node": "🧮 Calcular Vmad",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "💾 Vmad": {
      "main": [
        [
          {
            "node": "🧮 Calcular Valor_Uso_Solo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "💾 UCS": {
      "main": [
        [
          {
            "node": "🧮 Calcular UCS ASE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "💾 EUR": {
      "main": [
        [
          {
            "node": "📋 Resposta Final5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "💾 CARBONO": {
      "main": [
        [
          {
            "node": "📋 Resposta Final3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "💾 MILHO": {
      "main": [
        [
          {
            "node": "📋 Resposta Final",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "💾 BOI": {
      "main": [
        [
          {
            "node": "📋 Resposta Final2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "💾 SOJA": {
      "main": [
        [
          {
            "node": "📋 Resposta Final1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "💾 MADEIRA": {
      "main": [
        [
          {
            "node": "📋 Resposta Final4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🗺️ Mapear Bases": {
      "main": [
        [
          {
            "node": "📅 Resolver Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📋 Resposta": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "⚙️ Preparar USD": {
      "main": [
        [
          {
            "node": "💾 USD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📅 Resolver Data": {
      "main": [
        [
          {
            "node": "⚙️ Preparar USD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "⚙️ Preparar MADEIRA": {
      "main": [
        [
          {
            "node": "💾 MADEIRA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "⚙️ Preparar SOJA": {
      "main": [
        [
          {
            "node": "💾 SOJA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "⚙️ Preparar CARBONO": {
      "main": [
        [
          {
            "node": "💾 CARBONO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "⚙️ Preparar BOI": {
      "main": [
        [
          {
            "node": "💾 BOI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "⚙️ Preparar MILHO": {
      "main": [
        [
          {
            "node": "💾 MILHO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📋 Resposta Final do Sistema6": {
      "main": [
        [
          {
            "node": "⚙️ Preparar MADEIRA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📋 Resposta Final do Sistema4": {
      "main": [
        [
          {
            "node": "⚙️ Preparar SOJA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📋 Resposta Final do Sistema5": {
      "main": [
        [
          {
            "node": "⚙️ Preparar CARBONO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📋 Resposta Final do Sistema3": {
      "main": [
        [
          {
            "node": "⚙️ Preparar BOI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📋 Resposta Final do Sistema2": {
      "main": [
        [
          {
            "node": "⚙️ Preparar MILHO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "⚙️ Preparar EUR": {
      "main": [
        [
          {
            "node": "💾 EUR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📋 Resposta Final do Sistema1": {
      "main": [
        [
          {
            "node": "⚙️ Preparar EUR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "0880de24-c222-4626-b37f-4285cb260b7a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "13b0ea5dd383d159ddd6c18778dc7059e86dde50c7b38850c42dfbb9a92940a0"
  },
  "id": "DqIKUC1cz6V7gOMJ",
  "tags": [
    {
      "updatedAt": "2025-10-14T23:44:24.499Z",
      "createdAt": "2025-10-14T23:44:24.499Z",
      "id": "OkbvZ5yWgZDUY8U8",
      "name": "automated-integration"
    },
    {
      "updatedAt": "2025-10-14T23:44:24.630Z",
      "createdAt": "2025-10-14T23:44:24.630Z",
      "id": "T7xqzMuZU1jN6sDY",
      "name": "firebase-reorganization"
    },
    {
      "updatedAt": "2025-10-14T23:44:24.521Z",
      "createdAt": "2025-10-14T23:44:24.521Z",
      "id": "dgLqEuv12XZh4gx8",
      "name": "commodities-optimized"
    },
    {
      "updatedAt": "2025-10-14T23:44:24.472Z",
      "createdAt": "2025-10-14T23:44:24.472Z",
      "id": "i1AffO2WDJASDaOP",
      "name": "ch2o-water-index"
    }
  ]
}